<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Pawnshop.Feed.Heading" | translate }}</h1>

<div>
  <div class="col-auto btn-group p-0 mn-tabs feed-tabs">
    <label class="btn btn-primary btn-sm active wrap"
           name="limitsSwitchModel.type"
           [(ngModel)]="switchModel.type" (click)="chooseTab()"
           btnRadio="feed">{{ "PAGES.Pawnshop.Feed.Tabs.AllFeed" | translate }}</label>
    <label class="btn btn-primary btn-sm active wrap"
           name="limitsSwitchModel.type"
           [(ngModel)]="switchModel.type" (click)="chooseTab()"
           btnRadio="organizations">{{ "PAGES.Pawnshop.Feed.Tabs.Organizations" | translate }}</label>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>