<header class="header">
  <div class="container flex-row flex-lg-column">
    <div class="header__row justify-content-between pt-2 pb-2 pt-lg-0 pb-lg-0">
      <div class="d-flex">
        <div class="col-auto d-flex align-items-center">
          <a class="logo" routerLink="">
            <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="#path0_fill" fill="currentColor"/>
              <use xlink:href="#path1_fill" transform="translate(17.05 13.22)" fill="currentColor"/>
              <defs>
                <path id="path0_fill" d="M16.018 32C7.194 32 0 24.822 0 15.982S7.194 0 16.018 0c3.72 0 7.335 1.308 10.206 3.642l-1.701 2.05c-2.375-1.98-5.422-3.04-8.505-3.04-7.371 0-13.36 5.976-13.36 13.33 0 7.355 5.989 13.366 13.36 13.366 5.174 0 9.78-2.935 12.013-7.46H17.045v-2.653h14.778l-.567 1.733A15.997 15.997 0 0 1 16.018 32z"/>
                <path id="path1_fill" d="M14.955 0H0v2.652h14.955V0z"/>
              </defs>
            </svg>
          </a>
        </div>

        <div class="col mr-auto">
          <div class="rate" *ngIf="gold_usd_rate">Gold/USD = <span class="rate__value">{{gold_usd_rate | number:'1.2-2':locale}}</span></div>
          <div class="rate" *ngIf="gold_eth_rate">Gold/ETH = <span class="rate__value">{{gold_eth_rate | number:'1.1-6':locale}}</span></div>
        </div>
      </div>

      <div class="d-flex">
        <div class="col-sm-auto row align-items-center" *ngIf="isLoggedIn(); else loginBlock">
          <div class="col-auto pr-1">
            <div class="auth-info">
              <div class="language" (mouseenter)="walletMenu.show()" (click)="walletMenu.show()" (mouseleave)="walletMenu.hide()">
                <div dropdown position="bottom right" class="language__select" #walletMenu="bs-dropdown">
                  <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" [ngClass]="{'active': walletMenu.isOpen}">
                    {{ 'HEADER.Wallet' | translate }}: {{ activeWallet?.name }} {{ activeWallet.id === 'metamask' ? shortAdr : '' }}</a>

                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" *ngFor="let item of wallets">
                      <a class="dropdown-item" href="javascript:void(0)">{{ item.name + item.account }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-auto">
            <img *ngIf="hotGoldBalance === null" alt="Loading..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-black.gif">

            <div class="balance" *ngIf="hotGoldBalance !== null">
              <svg class="icon" width="18px" height="18px">
                <use xlink:href="#cur-gold"></use>
              </svg>
              <span class="balance__value">
              {{ (activeWallet.id === 'hot' ? hotGoldBalance : goldBalance) | number:'1.2-5':locale}}
              {{'OZ'}}
              <span>($ {{ (activeWallet.id === 'hot' ? hotGoldBalance : goldBalance) * gold_usd_rate | number:'1.2-2':locale }})</span>
            </span>
            </div>
          </div>

          <div *ngIf="!isMobile">|</div>

          <div class="col-auto" *ngIf="!isMobile">
            <div class="auth-info">
              <div class="language" (mouseenter)="usermenu.show()" (click)="usermenu.show()" (mouseleave)="usermenu.hide()">
                <div dropdown position="bottom right" class="language__select" #usermenu="bs-dropdown">
                  <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" [ngClass]="{'active': usermenu.isOpen}">{{ user?.name }}</a>

                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                      <a class="dropdown-item" routerLink="account">{{ 'HEADER.AccountInfo' | translate }}</a>
                    </li>
                    <li role="menuitem">
                      <a class="dropdown-item" (click)="logout($event)" href="javascript:void(0)">{{ 'HEADER.SignOut' | translate }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

        <ng-template #loginBlock>
          <div class="col-auto auth-info">
            <a routerLink="/signin" class="mr-2">{{ 'HEADER.SignIn' | translate }}</a>
            <!--a *ngIf="!router.isActive('/signin')" routerLink="/signin" [ngClass]="{'btn btn-primary btn-sm': router.isActive('/signup')}" class="ml-3" [blur]="signupButtonBlur" (click)="signupButtonBlur.emit()">{{ 'HEADER.SignIn' | translate }}</a-->
          </div>
        </ng-template>

        <div class="col-auto language-switcher">
          <language-switcher></language-switcher>
        </div>
      </div>

    </div>

    <div class="d-flex align-items-center ml-4" *ngIf="isMobile" (click)="toggleMobileMenu($event)">
      <svg class="icon mobile-menu-icon" width="24px" height="24px">
        <use xlink:href="#burger" *ngIf="!isShowMobileMenu"></use>
        <use xlink:href="#close" *ngIf="isShowMobileMenu"></use>
      </svg>
    </div>

    <app-navbar class="d-sm-flex" *ngIf="!isMobile"></app-navbar>
  </div>

  <div id="mobile-menu-container" *ngIf="isShowMobileMenu">
    <div>
      <div class="col-auto mt-4 mb-3 mobile-account-info">
        <div class="auth-info">
          <div class="language" (mouseenter)="usermenu.show()" (click)="usermenu.show()" (mouseleave)="usermenu.hide()">
            <div dropdown position="bottom right" class="language__select" #usermenu="bs-dropdown">
              <a dropdownToggle class="dropdown-toggle" href="javascript:void(0)" [ngClass]="{'active': usermenu.isOpen}">{{ user?.name }}</a>

              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem">
                  <a class="dropdown-item" routerLink="account">{{ 'HEADER.AccountInfo' | translate }}</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="logout($event)" href="javascript:void(0)">{{ 'HEADER.SignOut' | translate }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <app-navbar></app-navbar>
    </div>
    <div class="mt-4">
      <app-footer></app-footer>
    </div>
  </div>

</header>
