@import 'functions'
@import 'variables'

.header
  background-color: $color-black
  color: $color-white
  width: 100%
  height: $header-height
  display: flex
  flex-direction: column
  padding-top: 2px

  > .container
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative

  &__row
    @include make-row()
    align-items: center
    flex: 1 1 auto


.rate
  text-transform: uppercase
  font-weight: 400
  font-size: rem(18px)

  &__value
    color: $color-gold
    cursor: pointer


.balance
  font-weight: 400
  font-size: rem(14px)

  &__label
    display: inline-block
    line-height: rem(20px)
    margin-right: 14px

  &__metamask
    display: inline-block
    max-width: rem(40px)
    line-height: rem(20px)
    vertical-align: bottom
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  &__item
    display: inline-block
    line-height: rem(20px)
    text-transform: uppercase
    &:not(:last-child)
      margin-right: 20px

  &__value
    color: $color-gold
    display: inline-block
    line-height: rem(20px)

  &__exchange
    color: $color-gray-1
    display: inline-block
    line-height: rem(20px)


.auth-info
  display: flex
  align-items: center
  font-weight: 500
  font-size: rem(14px)
  line-height: rem(19px)
  // padding: 0 rem(5px)

  a:not(.btn)
    color: $color-brand
    transition: $transition-link
    text-decoration: none
  //   border-bottom: rem(1px) solid transparent

    &:hover
      color: $color-brand-hover
      text-decoration: none
  //     border-bottom-color: $color-brand-hover

  // @todo: make generic header dropdown styles for usermenu and language switcher (language-switcher-block.component.sass)
  .language
    font-size: rem(14px)

    &__select
      .dropdown-toggle
        text-transform: none
        letter-spacing: 0

      .dropdown-menu
        font-size: rem(14px)

.fiat
  cursor: pointer

.mobile-menu-button
  cursor: pointer
  color: $color-brand

.language-switcher
  height: 25px

@media only screen and (max-width: 576px)
  .show-mobile-menu
    display: block !important
    position: absolute
    bottom: -100%
    width: 100%
    left: 0
    z-index: 100

  .show-mobile-menu .navbar ul
    flex-direction: column
