@import 'functions'
@import 'variables'

.header
  background-color: $color-black
  color: $color-white
  width: 100%
  display: flex
  flex-direction: column
  padding-top: 2px
  position: relative

  > .container
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative

  &__row
    @include make-row()
    align-items: center
    flex: 1 1 auto
    min-height: 81px


.rate
  text-transform: uppercase
  font-weight: 400
  font-size: rem(18px)

  &__value
    color: $color-gold
    cursor: pointer

.auth-info
  display: flex
  align-items: center
  font-weight: 500
  font-size: rem(14px)
  line-height: rem(19px)

  a:not(.btn)
    color: $color-brand
    transition: $transition-link
    text-decoration: none
    text-transform: uppercase

  .language
    font-size: rem(14px)

    &__select
      .dropdown-toggle
        text-transform: none
        letter-spacing: 0

      .dropdown-menu
        font-size: rem(14px)

.mobile-menu-button
  cursor: pointer
  color: $color-brand

.language-switcher
  height: 25px

.mobile-menu-icon
  color: $color-brand
  cursor: pointer

.header-mobile
  height: 125px

.header-menu
  font-weight: 500

  ul
    margin: 0
    padding: 0
    list-style-type: none
    display: flex
    align-items: center
    justify-content: space-between

    li
      &:hover
        a
          color: $color-brand


      &:not(:first-child):before
        content: '|'
        position: relative
        left: -2px
        top: -1px
        color: #fff
        font-size: 12px
        font-weight: 400

      &:last-child:after
        content: '|'
        position: relative
        left: -2px
        top: -1px
        color: #fff
        font-size: 12px
        font-weight: 400

      a
        color: #fff
        padding: 0 12px
        font-size: rem(14px)
        transition: color .3s ease-in-out
        text-transform: uppercase

        &.active, &:hover
          color: $color-brand
          text-decoration: none


#mobile-menu-container
  position: absolute
  justify-content: space-between
  flex-direction: column
  display: flex
  overflow: auto
  width: 100%
  top: 100%
  height: calc(100vh - 100%)
  background: black
  z-index: 100

  .navbar
    padding: 0

    .nav
      display: block
      .nav-item
        border: none
        .nav-link
          background-color: black
          color: $color-brand
          justify-content: flex-start
          font-size: 1rem
          white-space: inherit
          text-align: left
          min-height: 25px
          height: auto
          font-size: 0.875rem
          text-transform: uppercase
          font-weight: 700

    .sub-nav-container
      height: auto
      display: block
      padding: 3px 0 3px 20px
      background-color: black

      .sub-nav
        position: relative
        height: auto
        margin: 0

  .mobile-account-info
    .dropdown-toggle
      font-size: 1rem

  footer
    position: relative

    .container
      max-width: 100%

      .footer-menu
        display: block !important
        background: black
        padding-bottom: 1.5rem

        .nav
          display: block

          .nav-item
            margin: 0

            .nav-link
              font-size: 0.875rem
              padding: 5px 7px

  .nav-item.active > a
    color: $color-brand-active !important

  .nav-link
    border: none

  .nav-link.active, .nav-link:hover
    color: $color-brand-active !important
    border: none

.sumus-deposit-address
  font-size: 16px
  word-break: break-all

@media only screen and (max-width: 576px)
  .rate
    font-size: 1rem
