<!-- host: .page -->

<div class="pb-4">
  <section class="page__section section info-section mb-0">
    <h2 class="section__title">{{ "PAGES.MasterNode.LaunchPage.GeneralInfo.Heading" | translate }}</h2>

    <div class="mt-4" [innerHTML]="'PAGES.MasterNode.LaunchPage.GeneralInfo.Text' | translate "></div>
  </section>
</div>

<div>
  <section class="page__section section info-section">
    <h2 class="section__title">{{ "PAGES.MasterNode.LaunchPage.Labels.Manual" | translate }}</h2>

    <div class="my-4">
      <div>{{ "PAGES.MasterNode.LaunchPage.Description" | translate }}</div>

      <div class="d-flex align-items-center mt-3">
        <div>
          <svg class="icon" width="35px" height="35px">
            <use xlink:href="#github-logo"></use>
          </svg>
        </div>
        <div class="ml-3">
          <a class="d-block mb-1" href="https://github.com/Goldmint/sumus" target="_blank">Github.com</a>
          <a class="d-block" href="https://github.com/Goldmint/sumus/wiki" target="_blank">Wiki</a>
        </div>
      </div>
    </div>

  </section>
</div>

<div>
  <section class="page__section section pb-4">
    <h2 class="section__title">{{ "PAGES.MasterNode.LaunchPage.Labels.GetMNT" | translate }}</h2>

    <div class="progress-linear progress-linear--tiny" *ngIf="!isDataLoaded; else blockLoaded">
      <div class="container"></div>
    </div>

    <ng-template #blockLoaded>
      <ng-container *ngIf="isAuthenticated && user?.verifiedL0 === false; else content">
        <div class="mt-4">
          <p class="mb-5" [innerHTML]=" 'PAGES.Finance.KYC.Text' | translate "></p>

          <div class="row kyc-pros mb-4 pb-2">
            <div class="col-lg-3">
              <svg class="kyc-pros__icon" width="33px" height="44px">
                <use xlink:href="#verify-secure"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
            </div>
            <div class="col-lg-3">
              <svg class="kyc-pros__icon" width="28px" height="44px">
                <use xlink:href="#verify-simple"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
            </div>
            <div class="col-lg-3">
              <svg class="kyc-pros__icon" width="36px" height="44px">
                <use xlink:href="#verify-complaint"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
            </div>
            <div class="col-lg-3 pl-lg-4 align-self-center">
              <a routerLink="/account/verification" class="btn btn-primary btn-block my-4">{{ "PAGES.Withdraw.Buttons.Start" | translate }}</a>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #content>

        <div class="mt-4">
          <div *ngIf="!isSent">
            <div>
              <span>{{ "PAGES.MasterNode.LaunchPage.Labels.InOrderInfo.1th" | translate }}</span>
              <a routerLink="/buy-mntp">{{ "PAGES.MasterNode.LaunchPage.Labels.InOrderInfo.2th" | translate }}</a>
              <span>{{ "PAGES.MasterNode.LaunchPage.Labels.InOrderInfo.3th" | translate }}</span>
              <a routerLink="/blockchain-pool">
                {{ "PAGES.MasterNode.LaunchPage.Labels.PoolContract" | translate }}
              </a>
            </div>

            <div class="color-red mt-3" *ngIf="errors.haveToHold">
              {{ "PAGES.MasterNode.LaunchPage.Info.HaveToHold" | translate }} <a routerLink="/blockchain-pool">BLOCKCHAIN POOL</a>
            </div>
            <div class="color-red mt-3" *ngIf="errors.stakeSent">
              {{ "PAGES.MasterNode.LaunchPage.Info.StakeSent" | translate }}
            </div>
          </div>

          <div class="mt-3" *ngIf="isSent">
            {{ "PAGES.MasterNode.LaunchPage.Info.TransactionSent" | translate }}
          </div>
        </div>

        <div class="mt-4" *ngIf="!isSent && !errors.haveToHold">
          <form #migrationForm="ngForm">
            <div class="row">
              <div class="col-12 overflow-hidden">
                <div class="from-row form-group">
                  <label for="tokenAmountInput">{{ "PAGES.MasterNode.LaunchPage.Labels.AvailableMNTP" | translate }}</label>
                  <div class="d-flex align-items-center">
                    <div class="form-currency form-currency--gold">
                      <svg class="icon">
                        <use xlink:href="#cur-gold"></use>
                      </svg>
                    </div>
                    <input type="text" class="form-control token-amount-input" name="tokenAmountInput" id="tokenAmountInput"
                           #tokenAmountInput="ngModel"
                           [(ngModel)]="tokenAmount"
                           autocomplete="off"
                           readonly>
                  </div>
                </div>
              </div>

              <div class="col-12 lead" *ngIf="isStakeDataLoaded && ethAddress && sumusAddress">
                <div class="d-flex align-items-center mb-2">
                  <div>{{ ethAddress | reduction:6:4 }} (Ethereum)</div>

                  <div class="form-currency ml-3 mr-2">
                    <svg class="icon" width="25px" height="25px">
                      <use xlink:href="#next-arrow"></use>
                    </svg>
                  </div>

                  <div>{{ sumusAddress | reduction:6:4 }} (Mint)</div>
                </div>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="agreeCheck" name="agreeCheck" [(ngModel)]="agreeCheck" [disabled]="loading">
                  <label class="custom-control-label" for="agreeCheck">{{ "PAGES.MasterNode.LaunchPage.Labels.Check" | translate }}</label>
                  <a href="https://app.goldmint.io/#/legal-security/termsOfSale" target="_blank">link</a>
                </div>
              </div>

              <div class="col-12 line-height">
                <div class="font-weight-500 lead icon--red pointer" *ngIf="noMetamask">
                  <span (click)="getMetamaskModal()">{{ "PAGES.Sell.Errors.GetMM" | translate }}</span>
                </div>
                <div class="font-weight-500 lead icon--red pointer" *ngIf="!noMetamask && !ethAddress">
                  <span (click)="enableMetamaskModal()">{{ "PAGES.Sell.Errors.EnableMM" | translate }}</span>
                </div>
                <div class="font-weight-500 lead icon--red pointer" *ngIf="noMintWallet">
                  <span (click)="getMintWalletModal()">{{ "PAGES.Sell.Errors.GetMW" | translate }}</span>
                </div>
                <div class="font-weight-500 lead icon--red pointer" *ngIf="!noMintWallet && !sumusAddress">
                  <span (click)="enableMintWalletModal()">{{ "PAGES.Sell.Errors.EnableMW" | translate }}</span>
                </div>
              </div>

              <div class="col mt-4">
                <button class="btn btn-primary" [disabled]="!isMetamask || !sumusAddress || !agreeCheck || !tokenAmount || isInvalidMMNetwork || isInvalidWalletNetwork || loading || isSent" (click)="onSubmit()">
                  {{ "PAGES.MasterNode.LaunchPage.Buttons.Go" | translate }}
                </button>
                <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
              </div>
            </div>
          </form>
        </div>

      </ng-template>

    </ng-template>

  </section>
</div>
