<div class="mt-4 pt-1">
  <section class="page__section section">
    <h2 class="section__title">{{ "PAGES.MasterNode.LaunchPage.Heading" | translate }}</h2>

    <div class="my-4">
      <div>{{ "PAGES.MasterNode.LaunchPage.Description" | translate }} {{ system }}.</div>

      <div class="my-4">
        <div class="form-group">
          <label for="systemList">{{ "PAGES.MasterNode.LaunchPage.Labels.ChooseOS" | translate }}</label>
          <div class="d-flex align-items-center">
            <select class="form-control custom-select" name="systemList" id="systemList"
                    #systemList="ngModel"
                    [(ngModel)]="system"
                    (change)="chooseSystem(system)">
              <option *ngFor="let s of osList" [value]="s.value">{{ s.label }}</option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <h5>{{ "PAGES.MasterNode.LaunchPage.Labels.VideoInst" | translate }}</h5>
        <div></div>
      </div>

      <div class="mt-4">
        <h5>{{ "PAGES.MasterNode.LaunchPage.Labels.TextInst" | translate }}</h5>
        <a href="{{ systemMap[direction]?.text }}" target="_blank" [ngClass]="{'no-link-click': !systemMap[direction]?.text}">I{{ "PAGES.MasterNode.LaunchPage.Labels.InstFor" | translate }} {{ system }}</a>
      </div>

      <div class="mt-4">
        <button class="btn btn-sm btn-primary" (click)="goToMigration()">
          <div class="d-none d-sm-block">{{ "PAGES.MasterNode.LaunchPage.Buttons.Migrate" | translate }}</div>
          <div class="d-block d-sm-none">{{ "PAGES.MasterNode.LaunchPage.Buttons.MigrateSmall" | translate }}</div>
        </button>
      </div>
    </div>

  </section>
</div>