@import 'variables'

.choose-os
  a
    color: $color-black
    font-size: 1rem

.no-link-click
  pointer-events: none
  color: silver

.token-amount-input:disabled, .token-amount-input[readonly]
  color: #495057
  background-color: #fff

.info-section
  border-bottom: none

.master-node-steps
  background-image: url(../../../../assets/img/masted-node-steps.jpg)
  background-position: center top
  width: 100%
  height: 44vw
  max-height: 580px
  background-size: contain
  background-repeat: no-repeat
  margin-top: -20px
