@import 'functions'
@import 'variables'

.trn-info
  display: flex
  font-size: rem(18px)
  line-height: rem(24px)
  border-top: 3px solid $color-gold
  margin-top: rem(35px)
  padding-bottom: rem(26px)

  &__block
    display: flex
    align-items: center
    justify-content: center
    white-space: nowrap
    min-height: 60px
    border-top: none
    border: 2px solid $color-gray-0
    &:not(:first-child)
      border-left: none

  &__icon
    .icon
      vertical-align: middle

    &--plus
      margin-right: rem(16px)
      color: $color-green

    &--minus
      margin-right: rem(18px)
      color: $color-red

    &--circ
      margin-right: rem(14px)
      color: $color-gold

      .icon
        vertical-align: rem(-2px)

  &__label
    font-weight: 500
    margin-right: rem(5px)

  &__value

.fees-ngx-datatable
  font-size: 1.125rem
  line-height: 1.375rem
  .fees-datatable-header
    height: unset !important
    .fees-datatable-header-cell
      vertical-align: bottom
      padding: 0.75rem
      border-bottom: 1px solid #d1d4d7
      .fees-datatable-header-cell-label
        line-height: 24px

  .fees-datatable-body
    .fees-datatable-body-row
      padding: 0.75rem
      vertical-align: top
      border-top: 1px solid #d1d4d7
      font-size: 1.125rem
      &.fees-datatable-row-even
        background-color: rgba(0, 0, 0, 0.05)

      &.fees-active
        background-color: #1483ff
        color: #FFF

      .fees-datatable-body-cell
        padding: 0.75rem
        text-align: left
        vertical-align: top
        font-size: 1.125rem

.empty-line
  padding: 23px 0 !important

.fees-border-bottom
  border-bottom: 2px solid $color-brand

.fees-border-top
  border-top: 2px solid $color-brand !important

@media only screen and (max-width: 1200px)
 .trn-info .trn-info__block
   border: 2px solid #f5f5f5

