<!--START-->
<ng-container *ngIf="phase == _phase.Start">
  <section class="section" [ngClass]="{'section--no-bottom': loading}">
    <h2 class="section__title">
      <span>{{ "PAGES.Settings.KYC.DefaultSection.Title" | translate }}</span>

      <div class="section__title-widget" *ngIf="!loading">
        <div class="lead icon--red">
          {{ "PAGES.Settings.KYC.DefaultSection.StatusText" | translate }}
        </div>
      </div>
    </h2>

    <div class="section__content kyc pt-2">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading">
        <div class="container"></div>
      </div>

      <ng-container *ngIf="!loading">
        <p class="pt-2 mb-2" [innerHTML]="'PAGES.Settings.KYC.DefaultSection.Text' | translate"></p>
        <p class="text-gray" [innerHTML]="'PAGES.Settings.KYC.DefaultSection.Note' | translate"></p>

        <div class="row py-3 mb-4">
          <button class="btn btn-primary mx-auto" (click)="setVerificationPhase(_phase.Basic)" [disabled]="processing">
            {{ "PAGES.Settings.KYC.DefaultSection.Buttons.Start" | translate }}
          </button>
        </div>

        <div class="row kyc-pros mb-4 pb-2">
          <div class="col pr-4">
            <svg class="kyc-pros__icon" width="33px" height="44px">
              <use xlink:href="#verify-secure"></use>
            </svg>
            <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
            <p class="kyc-pros__desc">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
          </div>
          <div class="col px-5">
            <svg class="kyc-pros__icon" width="28px" height="44px">
              <use xlink:href="#verify-simple"></use>
            </svg>
            <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
            <p class="kyc-pros__desc">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
          </div>
          <div class="col pl-4">
            <svg class="kyc-pros__icon" width="36px" height="44px">
              <use xlink:href="#verify-complaint"></use>
            </svg>
            <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
            <p class="kyc-pros__desc">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</ng-container>


<!--KYC-->
<ng-container *ngIf="phase == _phase.Kyc">
  <section class="section section--warning section--no-bottom">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>

      {{ "PAGES.Settings.KYC.WarningSection.Title" | translate }}

      <div class="section__title-widget">
        <div class="lead icon--red">
          {{ "PAGES.Settings.KYC.WarningSection.Widget" | translate }}
        </div>
      </div>
    </h2>

    <div class="section__content kyc pt-2">
      <p class="mb-3" [innerHTML]="'PAGES.Settings.KYC.WarningSection.Text' | translate"></p>

      <div class="text-center">
        <button type="button" class="btn btn-primary mt-3 mb-5" [disabled]="processing" (click)="submit()">
          {{ "PAGES.Settings.KYC.WarningSection.Button" | translate }}
          <img *ngIf="processing" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-black-bg-gold.gif">
        </button>
      </div>
    </div>
  </section>
</ng-container>


<!--KYC PENDING-->
<ng-container *ngIf="phase == _phase.KycPending">
  <section class="section section--no-bottom">
    <h2 class="section__title">
      <span>{{ "PAGES.Settings.KYC.DefaultSection.Labels.KYCVer" | translate }}</span>
    </h2>

    <div class="section__content kyc pt-2">
      <div class="progress-linear progress-linear--tiny">
        <div class="container"></div>
      </div>

      <p class="mb-3" [innerHTML]="'PAGES.Settings.KYC.WarningSection.TextPending' | translate"></p>

      <div class="text-center">
        <button type="button" class="btn btn-primary mt-3 mb-5" (click)="refreshPage()" [disabled]="loading">
          {{ "BUTTONS.Refresh" | translate }}
        </button>
      </div>
    </div>
  </section>
</ng-container>

<!--RESIDENCE PROVIDE-->
<ng-container *ngIf="phase == _phase.ResidencePending">
  <section class="section section--no-bottom">
    <h2 class="section__title">
      <span>{{ "PAGES.Settings.KYC.ProofResidency.Heading" | translate }}</span>
    </h2>

    <div class="pt-2">
      <p class="mt-3 mb-3 lead loc-verification-note red">
        {{ "PAGES.Settings.KYC.ProofResidency.Text.FirstPart" | translate }}
        <a href="mailto:support@goldmint.io" target="_blank">support@goldmint.io</a>
        {{ "PAGES.Settings.KYC.ProofResidency.Text.SecondPart" | translate }}
      </p>

      <div class="text-center">
        <a href='https://support.goldmint.io/hc/en-us/requests/new?ticket_form_id=360000060753&userEmail={{userData.email}}&userId={{userData.id}}' class="btn btn-primary mt-3 mb-5" target="_blank">
          ОК
        </a>
      </div>
    </div>
  </section>
</ng-container>

<!--AGREEMENT-->
<ng-container *ngIf="phase == _phase.Agreement">

  <section class="section section--warning section--no-bottom">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>

      {{ "PAGES.Settings.KYC.AgreementSection.Title" | translate }}

      <div class="section__title-widget">
        <div class="lead icon--red">
          {{ "PAGES.Settings.KYC.AgreementSection.Widget" | translate }}
        </div>
      </div>
    </h2>

    <div class="section__content kyc pt-2">

      <p class="mb-3" [innerHTML]="'PAGES.Settings.KYC.AgreementSection.Text' | translate"></p>

      <div class="text-center">
        <button type="button" class="btn btn-primary mt-3 mb-5" [disabled]="processing" (click)="submit()">
          {{ "PAGES.Settings.KYC.AgreementSection.Buttons.Resend" | translate }}
          <img *ngIf="processing" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-black-bg-gold.gif">
        </button>
      </div>
    </div>
  </section>
</ng-container>


<!--AGREEMENT PENDING-->
<ng-container *ngIf="phase == _phase.AgreementPending">
  <section class="section section--no-bottom">
    <h2 class="section__title">
      {{ "PAGES.Settings.KYC.AgreementSection.Title" | translate }}
    </h2>

    <div class="section__content kyc pt-2">
      <div class="progress-linear progress-linear--tiny">
        <div class="container"></div>
      </div>

      <p class="mb-3" [innerHTML]="'PAGES.Settings.KYC.AgreementSection.TextPending' | translate"></p>

      <div class="text-center">
        <button type="button" class="btn btn-primary mt-3 mb-5" (click)="refreshPage()" [disabled]="loading">
          {{ "BUTTONS.Refresh" | translate }}
        </button>
      </div>
    </div>
  </section>
</ng-container>


<!--FINISHED-->
<ng-container *ngIf="phase == _phase.Finished">
  <section class="section section--no-bottom">
    <h2 class="section__title">
      <span>{{ "PAGES.Settings.KYC.FinishedSection.Title" | translate }}</span>

      <div class="section__title-widget">
        <div class="lead icon--green">
          {{ "PAGES.Settings.KYC.FinishedSection.StatusText" | translate }}
        </div>
      </div>
    </h2>

    <div class="section__content kyc pt-2">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading">
        <div class="container"></div>
      </div>

      <!-- @todo: clarify texts and layout -->
      <p class="pt-2 mb-2" [innerHTML]="'PAGES.Settings.KYC.FinishedSection.Text' | translate"></p>
    </div>
  </section>
</ng-container>


<!--FORM-->
<ng-container *ngIf="phase != _phase.Start">
  <section class="section" [ngClass]="{'section--no-bottom': loading}">

    <h2 class="section__title section__title--warning">
      <span>{{ "PAGES.Settings.KYC.FormSection.Title" | translate }}</span>

      <div class="section__title-widget">
        <div class="lead icon--green" *ngIf="kycProfile.isFormFilled; else noBasicVerificationBlock">
          {{ "PAGES.Settings.KYC.FormSection.StatusText" | translate }}
        </div>

        <ng-template #noBasicVerificationBlock>
          <div class="lead icon--red">
            {{ "PAGES.Settings.KYC.DefaultSection.Labels.NotVerified" | translate }}
          </div>
        </ng-template>
      </div>
    </h2>

    <div class="section__content kyc pt-2">

      <p [innerHTML]="'PAGES.Settings.KYC.FormSection.NewAccountText' | translate" *ngIf="!kycProfile.isFormFilled"></p>
      <p [innerHTML]="'PAGES.Settings.KYC.FormSection.Important' | translate" *ngIf="!kycProfile.isFormFilled"></p>

      <p class="kyc-required" *ngIf="!kycProfile.isFormFilled"><span>*</span> {{ "PAGES.Settings.KYC.FormSection.RequiredFields" | translate }}</p>

      <form name="kycForm" (ngSubmit)="kycForm.form.valid && submit(kycForm)" #kycForm="ngForm" novalidate>
        <div class="row mt-3">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">{{ "PAGES.Settings.KYC.FormSection.Labels.FirstName" | translate }}</label>
              <div class="kyc-required">
                <input type="text" id="inputFirstName" required pattern="[A-Za-z \'\`\-\.]*"
                       minlength="2" maxlength="32"
                       name="firstName" [(ngModel)]="kycProfile.firstName" #firstName="ngModel"
                       class="form-control"
                       [ngClass]="{'is-invalid': (errors?.FirstName || !firstName.valid) && (kycForm.submitted || !firstName.pristine)}"
                       (ngModelChange)="errors.FirstName = false"
                       [readonly]="kycProfile.isFormFilled === true || processing">
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="firstName.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.FirstName.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="firstName.errors?.pattern">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.FirstName.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="firstName.errors?.minlength">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.FirstName.minLength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.FirstName">
                  {{ errors?.FirstName }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputMiddleName">{{ "PAGES.Settings.KYC.FormSection.Labels.MiddleName" | translate }}</label>
              <input type="text" id="inputMiddleName" pattern="[A-Za-z \'\`\-\.]*"
                     name="middleName" [(ngModel)]="kycProfile.middleName" #middleName="ngModel"
                     class="form-control"
                     [ngClass]="{'is-invalid': (errors?.MiddleName || !middleName.valid) && (kycForm.submitted || !middleName.pristine)}"
                     (ngModelChange)="errors.MiddleName = false"
                     [readonly]="kycProfile.isFormFilled === true || processing">

              <div class="invalid-feedback" *ngIf="middleName.errors?.pattern">
                {{ "PAGES.Settings.KYC.FormSection.Errors.MiddleName.pattern" | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="errors?.MiddleName">
                {{ errors?.MiddleName }}
              </div>
            </div>

            <div class="form-group">
              <label for="inputLastName">{{ "PAGES.Settings.KYC.FormSection.Labels.LastName" | translate }}</label>
              <div class="kyc-required">
                <input type="text" id="inputLastName" required pattern="[A-Za-z \'\`\-\.]*"
                       minlength="2" maxlength="32"
                       name="lastName" [(ngModel)]="kycProfile.lastName" #lastName="ngModel"
                       class="form-control"
                       [ngClass]="{'is-invalid': (errors?.LastName || !lastName.valid) && (kycForm.submitted || !lastName.pristine)}"
                       (ngModelChange)="errors.LastName = false"
                       [readonly]="kycProfile.isFormFilled === true || processing">
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="lastName.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.LastName.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="lastName.errors?.pattern">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.LastName.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="lastName.errors?.minlength">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.LastName.minLength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.LastName">
                  {{ errors?.LastName }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="selectBirthMonth">{{ "PAGES.Settings.KYC.FormSection.Labels.BirthMonth" | translate }}</label>
              <div class="kyc-required">
                <select id="selectBirthMonth" required
                        name="birthMonth" [(ngModel)]="dateOfBirth.month" #birthMonth="ngModel"
                        class="custom-select"
                        [ngClass]="{'is-invalid': (errors?.BirthMonth || !birthMonth.valid) && !birthMonth.pristine}"
                        (ngModelChange)="errors.BirthMonth = false"
                        [disabled]="kycProfile.isFormFilled === true || processing">

                  <option value="1">{{ "PAGES.Settings.KYC.FormSection.Month.January" | translate }}</option>
                  <option value="2">{{ "PAGES.Settings.KYC.FormSection.Month.February" | translate }}</option>
                  <option value="3">{{ "PAGES.Settings.KYC.FormSection.Month.March" | translate }}</option>
                  <option value="4">{{ "PAGES.Settings.KYC.FormSection.Month.April" | translate }}</option>
                  <option value="5">{{ "PAGES.Settings.KYC.FormSection.Month.May" | translate }}</option>
                  <option value="6">{{ "PAGES.Settings.KYC.FormSection.Month.June" | translate }}</option>
                  <option value="7">{{ "PAGES.Settings.KYC.FormSection.Month.July" | translate }}</option>
                  <option value="8">{{ "PAGES.Settings.KYC.FormSection.Month.August" | translate }}</option>
                  <option value="9">{{ "PAGES.Settings.KYC.FormSection.Month.September" | translate }}</option>
                  <option value="10">{{ "PAGES.Settings.KYC.FormSection.Month.October" | translate }}</option>
                  <option value="11">{{ "PAGES.Settings.KYC.FormSection.Month.November" | translate }}</option>
                  <option value="12">{{ "PAGES.Settings.KYC.FormSection.Month.December" | translate }}</option>
                </select>
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="birthMonth.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.BirthMonth.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.BirthMonth">
                  {{ errors?.BirthMonth }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="selectBirthDay">{{ "PAGES.Settings.KYC.FormSection.Labels.BirthDay" | translate }}</label>
              <div class="kyc-required">
                <select id="selectBirthDay" required
                        name="birthDay" [(ngModel)]="dateOfBirth.day" #birthDay="ngModel"
                        class="custom-select"
                        [ngClass]="{'is-invalid': (errors?.BirthDay || !birthDay.valid) && !birthDay.pristine}"
                        (ngModelChange)="errors.BirthDay = false"
                        [disabled]="kycProfile.isFormFilled === true || processing">

                  <option *ngFor="let x of repeat(31).fill(1); let i = index" [value]="i + 1">{{ i + 1 }}</option>
                </select>
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="birthDay.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.BirthDay.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.BirthDay">
                  {{ errors?.BirthDay }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="selectBirthYear">{{ "PAGES.Settings.KYC.FormSection.Labels.BirthYear" | translate }}</label>
              <div class="kyc-required">
                <select id="selectBirthYear" required
                        name="birthYear" [(ngModel)]="dateOfBirth.year" #birthYear="ngModel"
                        class="custom-select"
                        [ngClass]="{'is-invalid': (errors?.BirthYear || !birthYear.valid) && !birthYear.pristine}"
                        (ngModelChange)="errors.BirthYear = false"
                        [disabled]="kycProfile.isFormFilled === true || processing">

                  <option [value]="null" disabled>{{ "PAGES.Settings.KYC.FormSection.Placeholders.ChooseBirthYear" | translate }}</option>
                  <option *ngFor="let x of repeat(75).fill(1); let i = index" [value]="minBirthYear - i">{{ minBirthYear - i }}</option>
                </select>
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="birthYear.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.BirthYear.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.BirthYear">
                  {{ errors?.BirthYear }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="selectCountry">{{ "PAGES.Settings.KYC.FormSection.Labels.Country" | translate }}</label>
              <div class="kyc-required">
                <select id="selectCountry" required
                        name="country" [(ngModel)]="kycProfile.country" #country="ngModel" (change)="onCountrySelect()"
                        class="custom-select"
                        [ngClass]="{'is-invalid': (errors?.Country || !country.valid) && !country.pristine}"
                        (ngModelChange)="errors.Country = false"
                        [disabled]="kycProfile.isFormFilled === true || processing">

                  <option [value]="null" disabled>{{ "PAGES.Settings.KYC.FormSection.Placeholders.ChooseCountry" | translate }}</option>
                  <option *ngFor="let country of countries" [value]="country.countryShortCode">{{ country.countryName }}</option>
                </select>
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="country.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.Country.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.Country">
                  {{ errors?.Country }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputStreet">{{ "PAGES.Settings.KYC.FormSection.Labels.Street" | translate }}</label>
              <div class="kyc-required">
                <input type="text" id="inputStreet" required pattern="[\w \'\`\-\.]*"
                       name="street" [(ngModel)]="kycProfile.street" #street="ngModel"
                       class="form-control"
                       [ngClass]="{'is-invalid': (errors?.Street || !street.valid) && (kycForm.submitted || !street.pristine)}"
                       (ngModelChange)="errors.Street = false"
                       [readonly]="kycProfile.isFormFilled === true || processing">
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="street.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.Street.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="street.errors?.pattern">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.Street.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.Street">
                  {{ errors?.Street }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputApartment">{{ "PAGES.Settings.KYC.FormSection.Labels.Apartment" | translate }}</label>
              <input type="text" id="inputApartment"
                     name="apartment" [(ngModel)]="kycProfile.apartment" #apartment="ngModel"
                     class="form-control"
                     [readonly]="kycProfile.isFormFilled === true || processing">
            </div>

            <div class="form-group">
              <label for="inputCity">{{ "PAGES.Settings.KYC.FormSection.Labels.City" | translate }}</label>
              <div class="kyc-required">
                <input type="text" id="inputCity" required pattern="[A-Za-z \'\`\-\.]*"
                       name="city" [(ngModel)]="kycProfile.city" #city="ngModel"
                       class="form-control"
                       [ngClass]="{'is-invalid': (errors?.City || !city.valid) && (kycForm.submitted || !city.pristine)}"
                       (ngModelChange)="errors.City = false"
                       [readonly]="kycProfile.isFormFilled === true || processing">
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="city.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.City.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="city.errors?.pattern">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.City.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.City">
                  {{ errors?.City }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="selectState">{{ "PAGES.Settings.KYC.FormSection.Labels.State" | translate }}</label>
              <div class="kyc-required">
                <select id="selectState" required
                        name="state" [(ngModel)]="kycProfile.state" #state="ngModel"
                        class="custom-select"
                        [ngClass]="{'is-invalid': (errors?.State || !state.valid) && !state.pristine}"
                        (ngModelChange)="errors.State = false"
                        [disabled]="kycProfile.isFormFilled === true || processing || !kycProfile.country">

                  <option [value]="null" disabled>{{ "PAGES.Settings.KYC.FormSection.Placeholders.ChooseState" | translate }}</option>
                  <option *ngFor="let region of regions" [value]="region.name">{{ region.name }}</option>
                </select>
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="state.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.State.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.State">
                  {{ errors?.State }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPostalCode">{{ "PAGES.Settings.KYC.FormSection.Labels.PostalCode" | translate }}</label>
              <div class="kyc-required">
                <input type="text" id="inputPostalCode" required pattern="[\d]*"
                       name="postalCode" [(ngModel)]="kycProfile.postalCode" #postalCode="ngModel"
                       class="form-control"
                       [ngClass]="{'is-invalid': (errors?.PostalCode || !postalCode.valid) && (kycForm.submitted || !postalCode.pristine)}"
                       (ngModelChange)="errors.PostalCode = false"
                       [readonly]="kycProfile.isFormFilled === true || processing">
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="postalCode.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.PostalCode.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="postalCode.errors?.pattern">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.PostalCode.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.PostalCode">
                  {{ errors?.PostalCode }}
                </div>
              </div>
            </div>

            <!-- <div class="form-group">
              <label for="inputPassportNumber">{{ "PAGES.Settings.KYC.FormSection.Labels.Passport" | translate }}</label>
              <input type="text" id="inputPassportNumber"
                     name="passportNumber" [(ngModel)]="kycProfile.passportNumber" #passportNumber="ngModel"
                     class="form-control"
                     [readonly]="processing">
            </div> -->

            <div class="form-group">
              <label for="inputPhoneNumber">{{ "PAGES.Settings.KYC.FormSection.Labels.Phone" | translate }}</label>
              <div class="kyc-required">
                <input type="tel" id="inputPhoneNumber" required
                       name="phoneNumber" [(ngModel)]="kycProfile.phoneNumber" #phoneNumber="ngModel"
                       class="form-control" (input)="onPhoneNumberChanged($event)"
                       [ngClass]="{'is-invalid': (errors?.PhoneNumber || !phoneNumber.valid) && (kycForm.submitted || !phoneNumber.pristine)}"
                       (ngModelChange)="errors.PhoneNumber = false"
                       [readonly]="kycProfile.isFormFilled === true || processing" [disabled]="!kycProfile.country"
                       pattern="^\+\d{8,}$">
                <svg class="asterisk" width="6px" height="6px" *ngIf="!kycProfile.isFormFilled">
                  <use xlink:href="#asterisk"></use>
                </svg>

                <div class="invalid-feedback" *ngIf="phoneNumber.errors?.required">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.PhoneNumber.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="phoneNumber.errors?.pattern">
                  {{ "PAGES.Settings.KYC.FormSection.Errors.PhoneNumber.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.PhoneNumber">
                  {{ errors?.PhoneNumber }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2 mb-4 pr-4" *ngIf="!kycProfile.isFormFilled">
          <div class="form-group col-6 mb-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="processing || kycForm.form.invalid || kycForm.form.untouched">
              {{ "PAGES.Settings.KYC.FormSection.Buttons.Submit" | translate }}
              <img *ngIf="processing" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-black-bg-gold.gif">
            </button>
          </div>
        </div>

      </form>
    </div>
  </section>
</ng-container>
