<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogLevel="warn">

  <variable name="logDirectory" value="/log/goldmint/webapp/nlog/" />

  <targets>

    <!-- goldmint's -->
    <target xsi:type="File" name="file-gm"
      fileName="${logDirectory}/gm-${date:format=dd-MM-yyyy}.log"
      layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=100}"
    />

    <!-- other  -->
    <target xsi:type="File" name="file-sys"
      fileName="${logDirectory}/sys-${date:format=dd-MM-yyyy}.log"
      layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=toString,Data:maxInnerExceptionLevel=100}"
    />

    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <logger name="Goldmint.*" minlevel="Info" writeTo="file-gm" final="true"/>
    <logger name="Microsoft.EntityFrameworkCore.*" writeTo="blackhole" final="true"/>
    <logger name="*" minlevel="Warn" writeTo="file-sys" />
  </rules>
</nlog>