<!-- host: .page -->

<section class="page__section section mb-4">
  <h2 class="section__title">Buy/Sell Gold</h2>

  <div class="my-4">
    <p>
		GOLD crypto asset is a token from the Mint blockchain. GOLD token price is always tied to the price of 1 troy ounce of 24K gold on the
		<a class="a-link" href="https://www.lme.com/" target="_blank">London Metal Exchange (LME)</a>. You can mine GOLD if you have MNT(P) tokens.
	</p>
	<p>If you want to make operations with GOLD, you will need to approve your address in Mint blockchain by completing KYC flow, because we are selling GOLD only to authorized users.</p>
    <p>You can swap your GOLD token to the physical gold in the <a class="a-link" href="https://custodybot.com" target="_blank">Custody Bot</a> or by ordering delivery.</p>
	<p>Here you can buy or sell GOLD:</p>
	<div class="row my-3">
	  <div class="col-sm-3 col-md-6 col-lg-3">
		<li class="exchange-item cryptopi-exchange"><a href="https://cryptopi.fund/" target="_blank">Crypto PI</a></li>
	  </div>
	</div>
  </div>
</section>
