
<!--SELECT OPTION-->
<div class="page" *ngIf="page === pages.Default">

  <h1 class="page__heading">{{ "PAGES.2FA.SecurityBlock.Heading" | translate }}</h1>
  <!-- <h1 class="page__heading">{{ "PAGES.Home.Heading" | translate }}</h1> -->

  <div class="page__section section section--warning">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>
      {{ "PAGES.2FA.SecurityBlock.Labels.Notice" | translate }}
    </h2>

    <div class="section__content section__content--lead">
      <p>
        {{ "PAGES.2FA.SecurityBlock.Description.General.One" | translate }}
        <br/>
        {{ "PAGES.2FA.SecurityBlock.Description.General.Two" | translate }} <a href="mailto:support@goldmint.io">support@goldmint.io</a> {{ "PAGES.2FA.SecurityBlock.Description.General.Three" | translate }}
      </p>

      <div class="row">

        <!--ENABLE-->
        <div class="col-md text-center">
          <div class="btn-wrapper">
            <a class="btn btn-primary" routerLink="/account/2fa">{{ "PAGES.2FA.SecurityBlock.Buttons.Setup" | translate }}</a>

            <span class="btn__help-text btn__help-text--success pt-4">
              <svg class="icon" width="20px" height="20px">
                <use xlink:href="#ok"></use>
              </svg>
              {{ "PAGES.2FA.SecurityBlock.Labels.Recommended" | translate }}
            </span>
          </div>
          <p [innerHTML]="'PAGES.2FA.SecurityBlock.Description.Setup' | translate"> </p>
        </div>

        <!--KEEP DISABLED-->
        <div class="col-md text-center">
          <div class="btn-wrapper">
            <a class="btn btn-primary keep-tfa-button" (click)="page = pages.KeepDisabled">{{ "PAGES.2FA.SecurityBlock.Buttons.Keep" | translate }}</a>

            <span class="btn__help-text btn__help-text--warning pt-4">
              <svg class="icon" width="20px" height="20px">
                <use xlink:href="#nok"></use>
              </svg>
              {{ "PAGES.2FA.SecurityBlock.Labels.NotRecommended" | translate }}
            </span>
          </div>
          <p>{{ "PAGES.2FA.SecurityBlock.Description.Keep.Text" | translate }}<span class="text-warning"> {{ "PAGES.2FA.SecurityBlock.Description.Keep.Word" | translate }}</span>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page" *ngIf="page === pages.KeepDisabled">

  <h1 class="page__heading">{{ "PAGES.2FA.SecurityIssueBlock.Heading" | translate }}</h1>
  <!-- <h1 class="page__heading">{{ "PAGES.Home.Heading" | translate }}</h1> -->

  <div class="page__section section section--warning">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>
      {{ "PAGES.2FA.SecurityBlock.Labels.Notice" | translate }}
    </h2>

    <div class="section__content section__content--lead">
      <p class="mb-4"><b>{{ "PAGES.2FA.SecurityIssueBlock.Description.One.Text" | translate }}
        <a routerLink="/account/2fa">{{ "PAGES.2FA.SecurityIssueBlock.Description.One.Link" | translate }}</a></b></p>

      <p>{{ "PAGES.2FA.SecurityIssueBlock.Description.Two.FirstText" | translate }}
        <span class="text-warning">{{ "PAGES.2FA.SecurityIssueBlock.Description.Two.StyleText" | translate }}</span>
        {{ "PAGES.2FA.SecurityIssueBlock.Description.Two.LastText" | translate }}
      </p>

      <form>
        <button class="btn btn-primary mr-3" (click)="page = pages.Default">{{ "BUTTONS.Back" | translate }}</button>
        <button class="btn btn-primary ml-2" (click)="keepDisabled()" [disabled]="!agreeWithSafety || !agreeWithRisks">{{ "BUTTONS.Next" | translate }}</button>

        <div class="mt-4 pt-3">
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1" name="agreeWithSafety" [(ngModel)]="agreeWithSafety">
            <label class="custom-control-label" for="customCheck1">{{ "PAGES.2FA.SecurityIssueBlock.Checkbox.One" | translate }}</label>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2" name="agreeWithRisks" [(ngModel)]="agreeWithRisks">
            <label class="custom-control-label" for="customCheck2">{{ "PAGES.2FA.SecurityIssueBlock.Checkbox.Two" | translate }}</label>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
