<div class="page">
  <h1 class="page__heading">SWIFT</h1>

  <div class="trn-info">
    <form class="w-100 transparency-form" [formGroup]="form" #formDir="ngForm" (ngSubmit)="swiftFilter()">

      <div class="row align-items-start">

        <div class="col-lg-3 pt-3">
          <div class="from-row form-group">
            <input type="text" class="form-control" placeholder="Filter" formControlName="filter">
          </div>
        </div>

        <div class="col-lg-auto pb-3 pt-3">
          <button type="submit" class="btn btn-sm btn-primary btn-block">Filter</button>
        </div>

      </div>
    </form>
  </div>

  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="exclude" name="exclude"
           (change)="excludeCompleted(exclude)" #exclude>
    <label class="custom-control-label custom-control-label-reg" for="exclude">Exclude completed</label>
  </div>

  <div class="page__section">
    <div class="d-flex justify-content-end">
      <div class="btn-group mt-4">
        <label class="btn btn-primary btn-sm"
               (click)="changeTable(tables.Deposit)"
               [ngClass]="{'active': currentTable === tables.Deposit}">Deposit</label>
        <label class="btn btn-primary btn-sm"
               (click)="changeTable(tables.Withdraw)"
               [ngClass]="{'active': currentTable === tables.Withdraw}">Withdraw</label>
      </div>
    </div>

    <section class="section section--table">
      <div class="section__content">
        <ngx-datatable class="table table--no-footer" #table
                       [rows]="rows"
                       [columnMode]="'force'"
                       [sorts]="sorts"
                       [headerHeight]="53"
                       [rowHeight]="'auto'"
                       [footerHeight]="135"
                       [reorderable]="false"
                       [loadingIndicator]="loading"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (sort)="onSort($event)"
                       [externalPaging]="true"
                       (page)='setPage($event)'
                       [messages]="messages">

          <ngx-datatable-column prop="id" [draggable]="false" [resizeable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                RequestId
              </span>
            </ng-template>

            <ng-template let-id="value" ngx-datatable-cell-template>
              {{ id }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="user" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                User Name
              </span>
            </ng-template>

            <ng-template let-user="value" ngx-datatable-cell-template>
              {{ user.username }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="amount" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Amount
              </span>
            </ng-template>

            <ng-template let-amount="value" ngx-datatable-cell-template>
              $ {{ amount | number:'1.2-2':locale }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="date" [draggable]="false" [resizeable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Date
              </span>
            </ng-template>

            <ng-template let-date="value" ngx-datatable-cell-template>
              {{ date * 1000 | date:'short':'':locale }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="status" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Action
              </span>
            </ng-template>

            <ng-template let-status="value" let-row="row" ngx-datatable-cell-template>
              <div class="text-right">
                <button class="btn btn-sm btn-primary" (click)="lock(row.id)">Execute request</button>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <ul class="pagination pagination--small mb-5" *ngIf="page.totalElements">
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
              <svg class="icon icon--previous" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
              <svg class="icon icon--next" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>
    </section>

  </div>
</div>

<div class="modal" *ngIf="showModal" [ngClass]="{'modal-show fade show': showModal}">
  <div role="document" class="modal-dialog message-box">
    <div class="modal-content">

      <div class="message-box__header">
        <h4 class="modal-title pull-left">Wire transfer transactions</h4>
        <button class="message-box__close" type="button" (click)="showModal = false" [disabled]="progress">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
          </svg>
        </button>
      </div>

      <form #acceptForm="ngForm" *ngIf="!isRefuse">
        <div class="message-box__body">
          <div class="form-group d-flex justify-content-between">
            <div>
              <label>User name: </label>
              <div>{{ userInfo.username }}</div>
            </div>
            <div>
              <label>Limits:</label>
              <div>
                Minimal: {{ userInfo.fiatLimits.minimal }}<br>
                Day: {{ userInfo.fiatLimits.day }}<br>
                Month: {{ userInfo.fiatLimits.month }}<br>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="amount">Received amount</label>
            <input type="number" class="form-control" id="amount" name="amount" ngModel #amount="ngModel" required>
          </div>

          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control d-block" name="comment" id="comment" ngModel #comment="ngModel" value=""></textarea>
          </div>
        </div>

        <div class="message-box__footer position-relative">
          <button class="btn btn-primary btn-sm mx-1" type="button" (click)="accept()" [disabled]="acceptForm.invalid || acceptForm.untouched || progress">Accept</button>
          <button class="btn btn-primary btn-sm mx-1" type="button" (click)="showModal = false" [disabled]="progress">Cancel</button>
          <span class="page__note reject-btn" (click)="isRefuse = true">Reject</span>
        </div>
      </form>

      <form #refuseForm="ngForm" *ngIf="isRefuse">
        <div class="message-box__body">

          <div class="form-group">
            <label for="refuseComment">Comment</label>
            <textarea class="form-control d-block" name="refuseComment" id="refuseComment" ngModel #refuseComment="ngModel" value=""></textarea>
          </div>
        </div>

        <div class="message-box__footer position-relative">
          <button class="btn btn-primary btn-sm mx-1" type="button" (click)="refuse()" [disabled]="progress">Reject</button>
          <button class="btn btn-primary btn-sm mx-1" type="button" (click)="isRefuse = false" [disabled]="progress">Back</button>
        </div>
      </form>

    </div>
  </div>
</div>
