<!-- host: .page.page--auth -->
  <section class="page__section page__section--bottom-border">

    <div class="page__jumbotron">
      <img src="assets/img/logotype.svg" alt="GoldMint" width="359" height="162">
      <div class="page__subtitle">Web Application</div>
    </div>

    <div class="row">
      <div class="col-6 pr-3">
        <section class="section section--no-bottom">
          <h2 class="section__title">{{ "PAGES.Login.SectionTitles.Login" | translate }}</h2>

          <div class="section__content pt-4" *ngIf="!tfaRequired; else tfaFormBlock">
            <form name="loginForm" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>

              <div class="form-group">
                <label for="inputUsername">{{ "PAGES.Login.Labels.Username" | translate }}</label>
                <input type="text" id="inputUsername" required minlength="5"  maxlength="256" autocomplete="username"
                       name="username" [(ngModel)]="loginModel.username" #username="ngModel"
                       class="form-control col-7"
                       [ngClass]="{'is-invalid': (errors?.Username || !username.valid) && (loginForm.submitted || !password.pristine)}"
                       (ngModelChange)="errors.Username = false"
                       [readonly]="loading">

                <div class="invalid-feedback" *ngIf="username.errors?.required">
                  {{ "PAGES.Login.Errors.Username.required" | translate }}
                </div>
                <!-- <div class="invalid-feedback" *ngIf="username.errors?.minlength">
                  {{ "PAGES.Login.Errors.Username.minlength" | translate }}
                </div> -->
                <div class="invalid-feedback" *ngIf="username.errors?.maxlength">
                  {{ "PAGES.Login.Errors.Username.maxlength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.Username">
                  {{ errors?.Username }}
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword">{{ "PAGES.Login.Labels.Password" | translate }}</label>
                <input type="password" id="inputPassword" required minlength="6" maxlength="128" autocomplete="password"
                       name="password" [(ngModel)]="loginModel.password" #password="ngModel"
                       class="form-control col-7"
                       [ngClass]="{'is-invalid': (errors?.Password || !password.valid) && (loginForm.submitted || !password.pristine)}"
                       (ngModelChange)="errors.Password = false"
                       [readonly]="loading">

                <div class="invalid-feedback" *ngIf="password.errors?.required">
                  {{ "PAGES.Login.Errors.Password.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="password.errors?.minlength">
                  {{ "PAGES.Login.Errors.Password.minlength" | translate }}
                </div>
                <!-- <div class="invalid-feedback" *ngIf="password.errors?.maxlength">
                  {{ "PAGES.Login.Errors.Password.maxlength" | translate }}
                </div> -->
                <div class="invalid-feedback" *ngIf="errors?.Password">
                  {{ errors?.Password }}
                </div>
              </div>

              <div class="form-group mb-3 pt-3">
                <re-captcha class="form-captcha" #captchaRef="reCaptcha" (resolved)="captchaResolved($event, loginForm)" [ngClass]="{'is-invalid': errors?.Captcha && loginForm.submitted}"></re-captcha>

                <div class="invalid-feedback" *ngIf="errors?.Captcha">
                  {{ errors?.Captcha }}
                </div>
              </div>

              <div class="form-group row pt-3">
                <div class="col-auto">
                  <button class="btn btn-primary" [blur]="buttonBlur" [disabled]="(loginForm.pristine && !loginForm.form.valid) || !loginModel.recaptcha || loading">{{ "PAGES.Login.Buttons.LogIn" | translate }}</button>
                  <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
                </div>
                <div class="col form-text form-text--small pl-4">
                  <a routerLink="/signup" class="link link--bolder">{{ "PAGES.Login.Links.RegisterAccount" | translate }}</a>
                  <a routerLink="./restore" class="link link--bolder">{{ "PAGES.Login.Links.ForgotPassword" | translate }}</a>
                </div>
              </div>

            </form>
          </div>

          <ng-template #tfaFormBlock>
            <div class="section__content pt-4">
              <form name="tfaForm" (ngSubmit)="tfaForm.form.valid && proceedTFA()" #tfaForm="ngForm" novalidate>

                <div class="form-group">
                  <label for="inputUsername">{{ "PAGES.Login.Labels.TFACode" | translate }}</label>
                  <input type="text" noAutoComplete id="inputCode" required pattern="[0-9]{6,6}"
                         name="code" [(ngModel)]="tfaModel.code" #code="ngModel"
                         class="form-control col-7"
                         [ngClass]="{'is-invalid': (errors?.Code || !code.valid) && (tfaForm.submitted || !code.pristine)}"
                         (ngModelChange)="errors.Code = false"
                         [readonly]="processing">

                  <div class="invalid-feedback" *ngIf="code.errors">
                    {{ "PAGES.Login.Errors.TFACode.pattern" | translate }}
                  </div>
                  <div class="invalid-feedback" *ngIf="errors?.Code">
                    {{ errors?.Code }}
                  </div>
                </div>

                <div class="form-group row pt-3">
                  <div class="col-auto">
                    <button class="btn btn-primary" [blur]="buttonBlur" [disabled]="!tfaForm.form.valid || loading">{{ "PAGES.Login.Buttons.LogIn" | translate }}</button>
                    <button class="btn btn-primary" (click)="back()">{{ "PAGES.Login.Buttons.Back" | translate }}</button>
                    <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
                  </div>
                </div>

              </form>
            </div>
          </ng-template>
        </section>
      </div>

      <div class="col-6 pl-3">
        <section class="section section--no-bottom">
          <h2 class="section__title">{{ "PAGES.Login.SectionTitles.Social" | translate }}</h2>
          <div class="section__content row pt-5">

            <!--div class="col-12 form-group mt-1">
              <a href="#" class="btn btn-social btn-social--fb"
              (click)="signInWithProvider('facebook', $event)"
              [ngClass]="{'disabled': !this._socialProviderUrl?.facebook}">
                <svg class="icon">
                  <use xlink:href="#social-fb"></use>
                </svg>
                <span>{{ "PAGES.Login.Buttons.LogInViaSocial" | translate:"{provider: 'Facebook'}" }}</span>
              </a>
            </div-->

            <div class="col-12 form-group">
              <a href="#" class="btn btn-social btn-social--gp"
              (click)="signInWithProvider('google', $event)">
                <svg class="icon">
                  <use xlink:href="#social-gp"></use>
                </svg>
                <span>{{ "PAGES.Login.Buttons.LogInViaSocial" | translate:"{provider: 'Google'}" }}</span>
              </a>
            </div>

            <!--div class="col-6">
              <a href="#" class="btn btn-social btn-social--vk"
              (click)="signInWithProvider('vkcom', $event)"
              [ngClass]="{'disabled': !this._socialProviderUrl?.vkcom}"
              [title]=" 'PAGES.Login.Buttons.LogInViaSocial' | translate:'{provider: \'VK.com\'}' ">
                <svg class="icon">
                  <use xlink:href="#social-vk"></use>
                </svg>
              </a>
            </div-->

            <!--div class="col-6">
              <a href="#" class="btn btn-social btn-social--gh"
              (click)="signInWithProvider('github', $event)"
              [ngClass]="{'disabled': !this._socialProviderUrl?.github}"
              [title]=" 'PAGES.Login.Buttons.LogInViaSocial' | translate:'{provider: \'GitHub\'}' ">
                <svg class="icon">
                  <use xlink:href="#social-gh"></use>
                </svg>
              </a>
            </div-->

          </div>
        </section>
      </div>
    </div>

  </section>
