<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Blockchain.Heading" | translate }}</h1>

<section class="page__section section">

  <div class="section__content pt-4">

    <div class="pb-4">{{ "PAGES.Blockchain.Description" | translate }} <a href="#">{{ "PAGES.Blockchain.Links.Here" | translate }}</a></div>

    <form #blockchain="ngForm">
      <div class="row">
        <div class="col-12">
          <div class="from-row form-group">
            <label for="public-key">{{ "PAGES.Blockchain.Labels.Key" | translate }}</label>
            <div class="d-flex align-items-center">
              <div class="form-currency">
                <svg class="icon" width="21" height="35">
                  <use xlink:href="#etherium"></use>
                </svg>
              </div>
              <input type="text" noAutoComplete class="form-control ml-1" id="public-key" name="public-key"
                     #publicKeyInput="ngModel"
                     [(ngModel)]="publicKey"
                     [ngClass]="{'is-invalid': publicKeyInput.invalid && publicKeyInput.dirty}"
                     autocomplete="off"
                     required>
            </div>
            <div class="invalid-feedback invalid-feedback--abs" *ngIf="publicKeyInput.invalid && publicKeyInput.dirty">
              {{ 'PAGES.Blockchain.Errors.Required' | translate }}
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="from-row form-group">
            <label for="input_transferAmount">{{ "PAGES.Blockchain.Labels.Wallet" | translate }}</label>
            <div class="d-flex align-items-center">
              <div class="form-currency form-currency--gold">
                <svg class="icon">
                  <use xlink:href="#cur-gold"></use>
                </svg>
              </div>
              <input type="text" class="form-control" id="input_transferAmount" name="transfer-amount"
                     #walletNameInput="ngModel"
                     [(ngModel)]="walletName"
                     [ngClass]="{'is-invalid': walletNameInput.invalid && walletNameInput.dirty}"
                     autocomplete="off"
                     required>
            </div>
            <div class="invalid-feedback invalid-feedback--abs" *ngIf="walletNameInput.invalid && walletNameInput.dirty">
              {{ 'PAGES.Blockchain.Errors.Required' | translate }}
            </div>
          </div>
        </div>

        <div class="col mt-1 mb-5">
          <button class="btn btn-primary" [disabled]="blockchain.invalid" (click)="onSubmit()">{{ "BUTTONS.Save" | translate }}</button>
          <img *ngIf="false" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
        </div>

      </div>
    </form>

    <h3>{{ "PAGES.Blockchain.Labels.Migration" | translate }}</h3>

    <div class="section__title mt-0">MNTP <-> MNT</div>

    <div class="pb-4">
      <div class="pb-2" [innerHTML]="'PAGES.Blockchain.MigrationSteps.First' | translate"></div>
      <button class="btn btn-sm btn-primary" [disabled]="blockchain.invalid">{{ 'PAGES.Blockchain.Buttons.StartMigration' | translate }}</button>
    </div>

    <div class="pb-4">
      <span [innerHTML]="'PAGES.Blockchain.MigrationSteps.Second' | translate"></span>

      <input type="text" class="input-copy" value="27SDWfMkZogDPpf4ouBq1413VBJhBHHREpwuns3qaaqtiAGEfs" #firstAddress readonly>
      <span class="blockchain-address-link" (click)="onCopyData(firstAddress)"
      ><b>27SDWfMkZogDPpf4ouBq1413VBJhBHHREpwuns3qaaqtiAGEfs</b></span>
    </div>

    <div class="section__title mt-0">GOLD <-> PAWNGOLD</div>

    <div class="pb-4">
      <span [innerHTML]="'PAGES.Blockchain.MigrationSteps.Third' | translate"></span>

      <input type="text" class="input-copy" value="27SDWfMkZogDPpf4ouBq1413VBJhBHHREpwuns3qaaqtiAGEfs" #secondAddress readonly>
      <span class="blockchain-address-link" (click)="onCopyData(secondAddress)"
      ><b>27SDWfMkZogDPpf4ouBq1413VBJhBHHREpwuns3qaaqtiAGEfs</b></span>
    </div>

  </div>

</section>

