<div class="page__section">
    <div class="text-center mb-3 mt-3 users-title">{{ "PAGES.Users.User.Title" | translate }}</div>
    <table class="table">
        <tbody>
            <tr *ngFor="let item of currentUserProperties">
                <td>{{ item.n }}</td>
                <td>{{ item.v }}</td>
            </tr>
        </tbody>
    </table>

    <div class="buttons-section">
        <a [routerLink]="['oplog']" class="btn btn-primary btn-sm mx-1">{{ "PAGES.Users.User.Buttons.OpLog" | translate }}</a>
        <a [routerLink]="['access']" class="btn btn-primary btn-sm mx-1">{{ "PAGES.Users.User.Buttons.AccessRights" | translate }}</a>
        <a [routerLink]="['/users']" class="btn btn-primary btn-sm mx-1">{{ "PAGES.Users.User.Buttons.Back" | translate }}</a>
    </div>

</div>