<div class="page" *ngIf="page === pages.TFANotActivated">
  <h1 class="page__heading">2FA Not Activated!</h1>
  <!-- <h1 class="page__heading">{{ "PAGES.Home.Heading" | translate }}</h1> -->

  <div class="page__section section section--warning">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>
      Your account security is low
    </h2>

    <div class="section__content section__content--lead">
      <p class="mb-4"><b>We strongly recommend you to enable <a routerLink="/signup/tfa/enable">Two-Factor Authentication (2FA)</a></b></p>

      <p>If your email or password are compromised, it can result in loss of your funds or your personal data. This can be avoided with enabled 2FA. </p>

      <form>
        <button class="btn btn-primary mr-3" routerLink="/signup/tfa">Back</button>
        <button class="btn btn-primary ml-2" (click)="page = pages.TFADisabled" [disabled]="!agreeWithSafety || !agreeWithRisks">Next</button>

        <div class="mt-4 pt-3">
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="customCheck1" name="agreeWithSafety" [(ngModel)]="agreeWithSafety">
            <label class="custom-control-label" for="customCheck1">I acknowledge and agree that GOLDMINT.IO shall not be liable for the safety of my funds and personal information.</label>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2" name="agreeWithRisks" [(ngModel)]="agreeWithRisks">
            <label class="custom-control-label" for="customCheck2">I am aware of the risks involved when disabling 2FA. </label>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="page" *ngIf="page === pages.TFADisabled">
  <h1 class="page__heading">Security</h1>
  <!-- <h1 class="page__heading">{{ "PAGES.Home.Heading" | translate }}</h1> -->

  <div class="page__section section section--warning">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>
      Two-Factor Authentication is disabled
    </h2>

    <div class="section__content section__content--lead">
      <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque quisquam est ad aut quam illum natus assumenda eaque voluptate cupiditate, commodi, sequi exercitationem officiis velit voluptatem dignissimos quae laboriosam, mollitia.</p>

      <a routerLink="/home" class="btn btn-primary">I'd like to proceed anyway</a>
    </div>

  </div>
</div>
