<div class="page">

  <div class="page__section section section--warning">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>
      Data Processing Agreement
    </h2>

    <div class="section__content section__content--lead">
      <p>
        In order to use Goldmint application you should sign data processing agreement we have sent to your email.
        <br />
        <br />
        If you have signed an agreement, please note that in particular cases processing could take a while. Please be patient, wait a few minutes and try to sign in.
        <br />
        <br />
        If you have problems with signing this agreement, please contact our support team via <a href="mailto:support@goldmint.io">support@goldmint.io</a>.
      </p>

      <div class="text-center">
        <button class="btn btn-primary" routerLink="/signin">{{ "PAGES.Login.Buttons.LogIn" | translate }}</button>
      </div>
    </div>
  </div>
</div>
