<div class="page">

  <div class="page__section section section--warning">
    <h2 class="section__title section__title--warning">
      <svg class="icon" width="18px" height="16px">
        <use xlink:href="#warning"></use>
      </svg>
      {{ "PAGES.Login.LoginDPARequired.Heading" | translate }}
    </h2>

    <div class="section__content section__content--lead">
      <p>
        {{ "PAGES.Login.LoginDPARequired.Text.First" | translate }}
        <br />
        <br />
        {{ "PAGES.Login.LoginDPARequired.Text.Second" | translate }}
        <br />
        <br />
        {{ "PAGES.Login.LoginDPARequired.Text.Third" | translate }} <a href="mailto:support@goldmint.io">{{ "PAGES.Login.LoginDPARequired.Text.Support" | translate }}</a>.
      </p>

      <div class="text-center">
        <button class="btn btn-primary" routerLink="/signin">{{ "PAGES.Login.Buttons.LogIn" | translate }}</button>
      </div>
    </div>
  </div>
</div>
