<!-- host: .page -->

<ng-container *ngIf="!isBlockedCountry">
    <ng-container *ngIf="isAuthenticated && !loading && !user?.verifiedL1; else content">
        <div class="mt-4">
            <p class="mb-5" [innerHTML]=" 'PAGES.Finance.KYC.Text' | translate "></p>

            <div class="row kyc-pros mb-4 pb-2">
                <div class="col-lg-3">
                    <svg class="kyc-pros__icon" width="33px" height="44px">
                        <use xlink:href="#verify-secure"></use>
                    </svg>
                    <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
                    <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
                </div>
                <div class="col-lg-3">
                    <svg class="kyc-pros__icon" width="28px" height="44px">
                        <use xlink:href="#verify-simple"></use>
                    </svg>
                    <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
                    <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
                </div>
                <div class="col-lg-3">
                    <svg class="kyc-pros__icon" width="36px" height="44px">
                        <use xlink:href="#verify-complaint"></use>
                    </svg>
                    <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
                    <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
                </div>
                <div class="col-lg-3 pl-lg-4 align-self-center">
                    <a routerLink="/account/verification" class="btn btn-primary btn-block my-4">{{ "PAGES.Withdraw.Buttons.Start" | translate }}</a>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #content>
        <section class="page__section section section__square section--no-bottom">
            <h2 class="section__title">
                <span class="square" [ngClass]="{'disabled': !isAuthenticated}"></span>
                <span>Send GOLD</span>
            </h2>

            <div class="section__content pt-4 pb-3">
                <div class="progress-linear progress-linear--tiny" *ngIf="loading; else blockLoaded">
                    <div class="container"></div>
                </div>

                <ng-template #blockLoaded>
                    <div *ngIf="isAuthenticated && sumusAddress">
                        First of all, please send GOLD to your personal deposit address <a class="a-link word-break" (click)="openLiteWallet()">{{ sumusAddress }}</a>
                    </div>
                    <div *ngIf="!isAuthenticated">
                        <a routerLink="/signin">Log in</a> to see address
                    </div>
                </ng-template>
            </div>
        </section>

        <section class="page__section section section--no-bottom section__squares" *ngIf="!loading">
            <h2 class="section__title">
                <span class="squares" [ngClass]="{'disabled': !isAuthenticated}">
                    <span></span><span></span><span></span><span></span>
                </span>
                <span>Your deposit: {{ sumusGold }}</span>
                <svg class="icon--gold ml-2" width="20" height="20">
                    <use xlink:href="#cur-gold"></use>
                </svg>
            </h2>

            <div class="section__content pt-4 pb-3" *ngIf="!isAuthenticated">
                <a routerLink="/signin">Log in</a> to see
            </div>
        </section>

        <section class="page__section section section__squares" *ngIf="!loading">
            <h2 class="section__title">
                <span class="squares" [ngClass]="{'disabled': !isAuthenticated}">
                    <span></span><span></span><span></span><span></span>
                </span>
                <span>Select a method</span>
            </h2>

            <div class="section__content pt-4">
                <div class="row align-items-baseline">
                    <div class="col-md-6 col-xl-4 form-group text-center">
                        <button class="btn btn-primary btn-block d-flex align-items-center" [routerLink]="isAuthenticated ? 'cryptocurrency' : '/signin'"
                                [disabled]="(isAuthenticated && !tradingStatus?.ethAllowed) || isInvalidNetwork">
                            <svg class="icon" width="56px" height="56px">
                                <use xlink:href="#payment-crypto"></use>
                            </svg>
                            <span class="ml-3">Cryptocurrency</span>
                        </button>
                        <div  class="text-left pt-1 blocked-notification text-center">
                            <div *ngIf="isAuthenticated && !tradingStatus?.ethAllowed">{{ "PAGES.Sell.Errors.NotAllow" | translate }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </ng-template>
</ng-container>

<div *ngIf="isBlockedCountry" class="text-center">
    <div [innerHTML]=" 'PAGES.Finance.KYC.BlockedCountry' | translate "></div>
</div>
