<!-- host: .page -->
  <h1 class="page__heading" translate [translateParams]="{asset: assetSellSelect.value}">PAGES.Sell.Heading</h1>

  <section class="page__section section">
    <h2 class="section__title">
      {{ "PAGES.Sell.SectionTitle" | translate }}&nbsp;
      <span class="text-uppercase" translate [translateParams]="{asset: assetSellSelect.value}">PAGES.Sell.SectionTitleValue</span>
    </h2>

    <div class="section__content">
      <form action="#">
        <div class="row">

          <div class="col">
            <div class="form-row align-items-end">
              <div class="form-group col-auto">
                <label for="input_toSell">To Sell</label>
                <input type="number" min="0" step="0.01" class="form-control" name="input_toSell" id="input_toSell" [value]="goldBalancePercent"
                       (input)="onToSellChanged($event.target.value)">
                <div class="percent-btn-cont">
                  <button class="percent-btn" (click)="onSetSellPercent(0.25)">25%</button>
                  <button class="percent-btn" (click)="onSetSellPercent(0.5)">50%</button>
                  <button class="percent-btn" (click)="onSetSellPercent(0.75)">75%</button>
                  <button class="percent-btn" (click)="onSetSellPercent(1)">100%</button>
                </div>
              </div>
              <div class="form-group col-auto pb-4 mr-5">
                <select class="custom-select form-currency" id="select_Asset" #assetSellSelect
                        name="sellCurrency" [(ngModel)]="sellCurrency"
                        (change)="onCurrencyChanged($event.target.value)">
                  <option value="gold">GOLD</option>
                </select>
              </div>

              <div class="form-group col-auto">
                <label for="input_EstimateAmount">Estimates Amount *</label>
                <input type="text" class="form-control" id="input_EstimateAmount" name="estimates-amount" readonly
                       [(ngModel)]="estimatesAmount" [value]="estimate_amount > 0 ? estimate_amount : ''">
                <div class="discount-badge__wrap">
                  <span class="discount-badge" [ngClass]="{'discount-badge--gold': discount > 0}"><b>{{ discount }}</b>%</span> {{ "PAGES.Sell.Discount" | translate }}
                </div>
              </div>
              <div class="form-group col-auto pb-4">
                <div class="form-currency form-currency--{{ resultCurrrency }}">
                  <svg class="icon">
                    <use attr.xlink:href="#cur-{{ resultCurrrency }}"></use>
                  </svg>
                  <span>{{ resultCurrrency }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-auto pt-3">
            <button class="btn btn-primary" [disabled]="to_sell > goldBalance || !to_sell || to_sell < 0" (click)="onSell()">
              {{ "PAGES.Sell.Buttons.SellNow" | translate }}
            </button>
          </div>

        </div>
      </form>
    </div>

    <div class="section__footer">
      <span class="page__note">
        {{ "PAGES.Sell.Note" | translate }}
      </span>
    </div>
  </section>

  <div class="row">
    <div class="col-auto">
      <a href="javascript:void(0)" class="btn btn-primary btn-wide disabled">{{ "PAGES.Sell.Buttons.BuyMore" | translate }}</a>
    </div>
    <div class="col-5 form-text disabled">
      <b>MNTP Balance 12.46</b>
      <span>Buy now <b>90 MNT</b> and get <b>Y USD</b> discounts</span>
    </div>
  </div>
