<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Sell.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.Sell.SectionTitle" | translate }}</h2>

  <div class="section__content pt-4">
    <div class="progress-linear progress-linear--tiny" *ngIf="loading; else blockLoaded">
      <div class="container"></div>
    </div>

    <ng-template #blockLoaded>
      <!-- KYC REQUIRED -->
      <ng-container *ngIf="!user.verifiedL1; else blockMethods">

        <p class="mb-5" [innerHTML]=" 'PAGES.Finance.KYC.Text' | translate "></p>

        <div class="row kyc-pros mb-4 pb-2">
          <div class="col">
            <svg class="kyc-pros__icon" width="33px" height="44px">
              <use xlink:href="#verify-secure"></use>
            </svg>
            <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
            <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
          </div>
          <div class="col">
            <svg class="kyc-pros__icon" width="28px" height="44px">
              <use xlink:href="#verify-simple"></use>
            </svg>
            <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
            <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
          </div>
          <div class="col">
            <svg class="kyc-pros__icon" width="36px" height="44px">
              <use xlink:href="#verify-complaint"></use>
            </svg>
            <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
            <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
          </div>
          <div class="col-auto pl-4 ml-2 align-self-center pb-3">
            <a routerLink="/account/verification" class="btn btn-primary btn-block mb-4">{{ "PAGES.Withdraw.Buttons.Start" | translate }}</a>
          </div>
        </div>
      </ng-container>

      <ng-template #blockMethods>
        <!-- TFA REQUIRED -->
        <ng-container *ngIf="!tfaInfo.enabled">

          <p class="mb-5" [innerHTML]=" 'PAGES.Withdraw.TFA.Text' | translate "></p>

          <div class="row kyc-pros mb-4 pb-2">
            <div class="col">
              <svg class="kyc-pros__icon" width="33px" height="44px">
                <use xlink:href="#verify-secure"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
            </div>
            <div class="col">
              <svg class="kyc-pros__icon" width="28px" height="44px">
                <use xlink:href="#verify-simple"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
            </div>
            <div class="col">
              <svg class="kyc-pros__icon" width="36px" height="44px">
                <use xlink:href="#verify-complaint"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
            </div>
            <div class="col-auto pl-4 ml-2 align-self-center pb-3">
              <a routerLink="/account/2fa" class="btn btn-primary btn-block mb-4">{{ "PAGES.Withdraw.TFA.Button" | translate }}</a>
            </div>
          </div>
        </ng-container>

        <!-- WITHDRAWAL METHODS -->
        <ng-container *ngIf="tfaInfo.enabled">
          <div class="row mb-4 align-items-baseline">

            <div class="col col-xl-3 form-group text-center">
              <label for="btnCryptoCapital">{{ "PAGES.Withdraw.Method.CryptoCapital" | translate }}</label>
              <button class="btn btn-primary btn-block" id="btnCryptoCapital" routerLink="cryptocarrency"
                      [disabled]="!this.selectedWallet || !isMetamask">
                <svg class="icon" width="56px" height="56px">
                  <use xlink:href="#payment-crypto"></use>
                </svg>
              </button>
              <div *ngIf="!this.selectedWallet || !isMetamask">
                <div class="text-left pt-1 blocked-notification text-center">
                  Use metamask
                </div>
              </div>
            </div>

            <div class="col col-xl-3 form-group text-center">
              <label for="btnCapital">{{ "PAGES.Withdraw.Method.Crypto" | translate }}</label>
              <button class="btn btn-primary btn-block" id="btnCapital"
              [disabled]="true">
                <svg class="icon" width="56px" height="56px">
                  <use xlink:href="#crypto-capital"></use>
                </svg>
              </button>
            </div>

           <!-- <div class="col col-lg-6 col-xl form-group text-center">
              <label for="btnPaymentCard">{{ "PAGES.Withdraw.Method.Card" | translate }}</label>
              <button class="btn btn-primary btn-block" id="btnPaymentCard">
                <svg class="icon" width="56px" height="56px">
                  <use xlink:href="#payment-card"></use>
                </svg>
              </button>
            </div>

            <div class="col col-lg-6 col-xl form-group text-center">
              <label for="btnPaymentBank">{{ "PAGES.Withdraw.Method.Transfer" | translate }}</label>
              <button class="btn btn-primary btn-block" id="btnPaymentBank"
                      (click)="goto(pages.BankTransfer)">
                <svg class="icon" width="107px" height="56px">
                  <use xlink:href="#payment-bank"></use>
                </svg>
              </button>
            </div>-->
          </div>

        </ng-container>
      </ng-template>
    </ng-template>
  </div>

  <!--<div class="section__footer">
    <span class="page__note">
      {{ "PAGES.Sell.Note" | translate }}
    </span>
  </div>-->
</section>

<!--<div class="row">
  <div class="col form-group text-center buy-mntp-block buy-mntp-block-1">
    <div class="buy-mntp-circle mt-5 mb-5">{{ mntpArray[0] }}<span class="buy-mntp-circle-cur">MNTP</span></div>
    <div class="buy-mntp-caption mb-4">{{ commissionArray[1] }}% {{ "PAGES.Sell.Discount" | translate }}</div>

    <div *ngIf="!buyMNT_DisableArray[0]; else okBlock">
      <button class="btn btn-primary btn-wide">{{ "PAGES.Sell.Buttons.BuyMore" | translate }}</button>
      <div class="buy-mntp-text mt-3 mb-5">
        {{ "PAGES.Sell.Labels.Buy" | translate }} <b>{{ buyMNTArray[0]  | number:'1.2-2':locale }} MNT</b><br>
        {{ "PAGES.Sell.Labels.Get" | translate }} <b>{{ discountUSDArray[1] | number:'1.2-2':locale }} USD</b></div>
    </div>
    <ng-template #okBlock>
      <svg class="buy-mntp-icon-bought" width="50px" height="50px">
        <use xlink:href="#ok"></use>
      </svg>
    </ng-template>
  </div>
  <div class="col form-group text-center buy-mntp-block buy-mntp-block-2">
    <div class="buy-mntp-circle mt-5 mb-5">{{ mntpArray[1] }}<span class="buy-mntp-circle-cur">MNTP</span></div>
    <div class="buy-mntp-caption mb-4">{{ commissionArray[2] }}% {{ "PAGES.Sell.Discount" | translate }}</div>

    <div *ngIf="!buyMNT_DisableArray[1]; else okBlock">
      <button class="btn btn-primary btn-wide">{{ "PAGES.Sell.Buttons.BuyMore" | translate }}</button>
      <div class="buy-mntp-text mt-3 mb-5">
        {{ "PAGES.Sell.Labels.Buy" | translate }}<b> {{ buyMNTArray[1]  | number:'1.2-2':locale }} MNT</b><br>
        {{ "PAGES.Sell.Labels.Get" | translate }}<b> {{ discountUSDArray[2] | number:'1.2-2':locale }} USD</b></div>
    </div>
    <ng-template #okBlock>
      <svg class="buy-mntp-icon-bought" width="50px" height="50px">
        <use xlink:href="#ok"></use>
      </svg>
    </ng-template>
  </div>
  <div class="col form-group text-center buy-mntp-block buy-mntp-block-3">
    <div class="buy-mntp-circle mt-5 mb-5">{{ mntpArray[2] }}<span class="buy-mntp-circle-cur">MNTP</span></div>
    <div class="buy-mntp-caption mb-4">{{ commissionArray[3] }}% {{ "PAGES.Sell.Discount" | translate }}</div>

    <div *ngIf="!buyMNT_DisableArray[2]; else okBlock">
      <button class="btn btn-primary btn-wide">{{ "PAGES.Sell.Buttons.BuyMore" | translate }}</button>
      <div class="buy-mntp-text mt-3 mb-5">
        {{ "PAGES.Sell.Labels.Buy" | translate }}<b> {{ buyMNTArray[2]  | number:'1.2-2':locale }} MNT</b><br>
        {{ "PAGES.Sell.Labels.Get" | translate }}<b> {{ discountUSDArray[3] | number:'1.2-2':locale }} USD</b></div>
    </div>
    <ng-template #okBlock>
      <svg class="buy-mntp-icon-bought" width="50px" height="50px">
        <use xlink:href="#ok"></use>
      </svg>
    </ng-template>
  </div>
</div>-->
