<!-- <div class="page"> -->
  <section class="page__section section section--table">
    <h2 class="section__title" id="pageSectionTitle">{{ "PAGES.History.SectionTitle" | translate }}</h2>

    <div class="progress-linear progress-linear--tiny" *ngIf="loading">
      <div class="container"></div>
    </div>

    <div *ngIf="!isAuthenticated" class="mt-4">
      {{ "PAGES.History.noAuthenticatedBlock" | translate }}
    </div>

    <div class="section__content" *ngIf="isAuthenticated">
      <ngx-datatable class="table history-table" #table
        [rows]="rows"
        [columnMode]="'force'"
        [sorts]="sorts"
        [headerHeight]="53"
        [rowHeight]="'auto'"
        [footerHeight]="135"
        [reorderable]="false"
        [loadingIndicator]="loading"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        [externalSorting]="true"
        (sort)="onSort($event)"
        [externalPaging]="true"
        (page)='setPage($event)'
        [messages]="messages">

        <div *ngIf="!isMobile">
          <ngx-datatable-column prop="date" [draggable]="false" [resizeable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Date" | translate }}
            </span>
            </ng-template>

            <ng-template let-timestamp="value" ngx-datatable-cell-template>
              {{ timestamp * 1000 | date:'short':'':locale }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="type" [draggable]="false" [resizeable]="false" [minWidth]="100">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper ml-3" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Type" | translate }}
            </span>
            </ng-template>

            <ng-template let-type="value" ngx-datatable-cell-template let-row="row">
              <div class="d-flex">
                <span class="history-icon-container" *ngIf="row.status === 1">
                  <img alt="Processing..." width="17" height="17" src="assets/img/loader-gold-bg-white.gif" title='{{ "PAGES.History.Table.Status.Pending" | translate }}'>
                </span>

                <span class="history-icon-container" *ngIf="row.status !== 1 && row.status !== 3" [ngSwitch]="type.toLowerCase()">
                  <svg width="27" height="18" *ngSwitchCase="'deposit'">
                    <title>{{ "PAGES.History.Table.Status.Ok" | translate }}</title>
                    <use xlink:href="#withdraw-history"></use>
                  </svg>
                  <svg width="27" height="18" *ngSwitchCase="'withdraw'">
                    <title>{{ "PAGES.History.Table.Status.Ok" | translate }}</title>
                    <use xlink:href="#deposit-history"></use>
                  </svg>
                  <svg width="20" height="20" *ngSwitchCase="'hwtransfer'">
                    <title>{{ "PAGES.History.Table.Status.Ok" | translate }}</title>
                    <use xlink:href="#hwtransfer-history"></use>
                  </svg>
                  <svg width="20" height="20" *ngSwitchCase="'goldsell'">
                    <title>{{ "PAGES.History.Table.Status.Ok" | translate }}</title>
                    <use xlink:href="#goldsell-history"></use>
                  </svg>
                  <svg width="20" height="20" *ngSwitchCase="'goldbuy'">
                    <title>{{ "PAGES.History.Table.Status.Ok" | translate }}</title>
                    <use xlink:href="#goldbuy-history"></use>
                  </svg>
                </span>

                <span class="history-icon-container" *ngIf="row.status === 3">
                  <svg class="icon-nok" width="17" height="15">
                    <title>{{ "PAGES.History.Table.Status.Failed" | translate }}</title>
                    <use xlink:href="#nok"></use>
                  </svg>
                </span>

                <span class="text-uppercase pl-2">
                  {{('PAGES.History.Types.' + type.toLowerCase()) | translate}}
                </span>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="fee" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Destination" | translate }}
            </span>
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <svg class="icon history-icon" width="20" height="20" *ngIf="row.src === 'ETH'">
                <use xlink:href="#etherium"></use>
              </svg>
              <svg class="icon history-icon" width="20" height="15" *ngIf="row.src === 'GOLD'">
                <use xlink:href="#cur-gold"></use>
              </svg>
              <span class="pl-2">
              {{ row.src }} => {{ row.dst }}
            </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="srcAmount" [draggable]="false" [resizeable]="false" [sortable]="false" [minWidth]="105">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.FromAmount" | translate }}
            </span>
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="row.srcAmount !== null">
                {{ row.srcAmount }}
              </span>
              <span *ngIf="row.srcAmount === null"> - </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="dstAmount" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.ToAmount" | translate }}
            </span>
            </ng-template>

            <ng-template let-row="row" ngx-datatable-cell-template>
              <span *ngIf="row.dstAmount !== null">
                {{ row.dstAmount }}
              </span>
              <span *ngIf="row.dstAmount === null"> - </span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="comment" [draggable]="false" [resizeable]="false" [sortable]="false" [minWidth]="150">
            <ng-template ngx-datatable-header-template>
              {{ "PAGES.History.Table.Columns.Comment" | translate }}
            </ng-template>

            <ng-template let-comment="value" ngx-datatable-cell-template let-row="row">
              <span *ngIf="row.ethTxId">
                <a href="{{ etherscanUrl + row.ethTxId }}" target="_blank">{{ comment }}</a>
              </span>
              <span *ngIf="!row.ethTxId">
                {{ comment }}
              </span>
            </ng-template>
          </ngx-datatable-column>
        </div>

        <ngx-datatable-column *ngIf="isMobile" prop="date" [draggable]="false" [resizeable]="false">

          <ng-template let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Date" | translate }}
            </span>
          </ng-template>

          <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="font-weight-500 mt-1 mb-1">
              {{ row.date * 1000 | date:'short':'':locale }}
            </div>

            <div class="d-flex align-items-center">
              <div class="font-weight-500 mr-1">{{ "PAGES.History.Table.Columns.Type" | translate }}: </div>
              <div class="d-flex align-items-center">
               <span class="history-icon-container" *ngIf="row.status === 1">
                 <img alt="Processing..." width="17" height="17" src="assets/img/loader-gold-bg-white.gif">
               </span>

                <span class="history-icon-container" *ngIf="row.status !== 1 && row.status !== 3" [ngSwitch]="row.type.toLowerCase()">
                 <svg width="27" height="18" *ngSwitchCase="'deposit'">
                   <use xlink:href="#withdraw-history"></use>
                 </svg>
                 <svg width="27" height="18" *ngSwitchCase="'withdraw'">
                   <use xlink:href="#deposit-history"></use>
                 </svg>
                 <svg width="20" height="20" *ngSwitchCase="'hwtransfer'">
                   <use xlink:href="#hwtransfer-history"></use>
                 </svg>
                 <svg width="20" height="20" *ngSwitchCase="'goldsell'">
                   <use xlink:href="#goldsell-history"></use>
                 </svg>
                 <svg width="20" height="20" *ngSwitchCase="'goldbuy'">
                   <use xlink:href="#goldbuy-history"></use>
                 </svg>
               </span>

                <span class="history-icon-container" *ngIf="row.status === 3">
                 <svg class="icon-nok" width="17" height="15">
                   <use xlink:href="#nok"></use>
                 </svg>
               </span>

                <span class="text-uppercase pl-2">
                 {{('PAGES.History.Types.' + row.type.toLowerCase()) | translate}}
               </span>
              </div>
            </div>

            <div class="d-flex align-items-center">
              <div class="font-weight-500 mr-1">{{ "PAGES.History.Table.Columns.Destination" | translate }}: </div>
              <div class="d-flex align-items-center">
                <svg class="icon history-icon" width="20" height="20" *ngIf="row.src === 'ETH'">
                  <use xlink:href="#etherium"></use>
                </svg>
                <svg class="icon history-icon" width="20" height="15" *ngIf="row.src === 'GOLD'">
                  <use xlink:href="#cur-gold"></use>
                </svg>
                <span class="pl-2">
                  {{ row.src }} => {{ row.dst }}
                </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="font-weight-500 mr-1">
                {{ "PAGES.History.Table.Columns.FromAmount" | translate }}:
              </div>
              <div>
                 <span class="pl-2" *ngIf="row.srcAmount !== null">
                  {{ row.srcAmount }}
                </span>
                <span *ngIf="row.srcAmount === null"> - </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="font-weight-500 mr-1">
                {{ "PAGES.History.Table.Columns.ToAmount" | translate }}:
              </div>
              <div>
                 <span class="pl-2" *ngIf="row.dstAmount !== null">
                  {{ row.dstAmount }}
                </span>
                <span *ngIf="row.dstAmount === null"> - </span>
              </div>
            </div>

            <div class="d-flex">
              <div class="font-weight-500 mr-1">{{ "PAGES.History.Table.Columns.Comment" | translate }}: </div>
              <div>
                <span *ngIf="row.ethTxId">
                  <a href="{{ etherscanUrl + row.ethTxId }}" target="_blank">{{ row.comment }}</a>
                </span>
                <span *ngIf="!row.ethTxId">
                  {{ row.comment }}
                </span>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset">
            <app-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </app-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </section>
<!-- </div> -->
