<!-- <div class="page"> -->
  <!-- <h1 class="page__heading">{{ "PAGES.History.Heading" | translate }}</h1> -->

  <section class="page__section section section--table">
    <h2 class="section__title" id="pageSectionTitle">{{ "PAGES.History.SectionTitle" | translate }}</h2>

    <div class="progress-linear progress-linear--tiny" *ngIf="loading">
      <div class="container"></div>
    </div>

<!-- [scrollbarH]="scrollbarHorizontal" -->
    <div class="section__content">
      <ngx-datatable class="table" #table
        [rows]="rows"

        [columnMode]="'force'"
        [sorts]="sorts"
        [headerHeight]="53"
        [rowHeight]="'auto'"
        [footerHeight]="135"
        [reorderable]="false"
        [loadingIndicator]="loading"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        [externalSorting]="true"
        (sort)="onSort($event)"
        [externalPaging]="true"
        [scrollbarH]="true"
        (page)='setPage($event)'
        [messages]="messages">

        <ngx-datatable-column prop="date" [draggable]="false" [resizeable]="false" [width]="80">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Date" | translate }}
            </span>
          </ng-template>

          <ng-template let-timestamp="value" ngx-datatable-cell-template>
            {{ timestamp * 1000 | date:'short':'':locale }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="amount" [draggable]="false" [resizeable]="false" [maxWidth]="120">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Amount" | translate }}
            </span>
          </ng-template>

          <ng-template let-amount="value" let-row="row" ngx-datatable-cell-template>
            <div class="d-flex">
              <span *ngIf="row.type === 'hwtransfer'; else usdIcon">
                <svg class="icon-gold-color" width="15" height="15">
                  <use xlink:href="#cur-gold"></use>
                </svg>
              </span>

              <ng-template #usdIcon>
                <svg class="icon-gold-color" width="15" height="15">
                  <use xlink:href="#cur-usd"></use>
                </svg>
              </ng-template>

              <span class="pl-1"> {{ amount | number:'1.2-2':locale }}</span>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="type" [draggable]="false" [resizeable]="false" [width]="100">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper ml-3" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Type" | translate }}
            </span>
          </ng-template>

          <ng-template let-type="value" ngx-datatable-cell-template let-row="row">
            <div class="d-flex">
              <img *ngIf="row.status === 1" alt="Processing..." width="17" height="17" src="assets/img/loader-gold-bg-white.gif">

              <span *ngIf="row.status === 2">
                <svg class="icon-ok" width="17" height="15">
                  <use xlink:href="#ok"></use>
                </svg>
              </span>

              <span *ngIf="row.status === 3">
                <svg class="icon-nok" width="17" height="15">
                  <use xlink:href="#nok"></use>
                </svg>
              </span>

              <span class="text-uppercase pl-2">
                {{('PAGES.History.Types.' + type.toLowerCase()) | translate}}
              </span>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="fee" [draggable]="false" [resizeable]="false" [width]="60">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
              {{ "PAGES.History.Table.Columns.Fee" | translate }}
            </span>
          </ng-template>

          <ng-template let-fee="value" let-row="row" ngx-datatable-cell-template>
            <span class="d-flex" *ngIf="fee && fee > 0; else noFeeBlock">
              <svg class="icon-gold-color" width="15" height="15">
                <use xlink:href="#cur-usd"></use>
              </svg>
              <span class="pl-1">{{ fee | number:'1.0-2':locale }}</span>
            </span>

            <ng-template #noFeeBlock>
              <div class="text-center free-cell-width">-</div>
            </ng-template>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="comment" [draggable]="false" [resizeable]="false" [sortable]="false">
          <ng-template ngx-datatable-header-template>
            {{ "PAGES.History.Table.Columns.Comment" | translate }}
          </ng-template>

          <ng-template let-comment="value" ngx-datatable-cell-template let-row="row">
            {{ comment }}
            <div *ngIf="row.ethTxId">
              <a href="{{ etherscanLink + row.ethTxId }}" target="_blank">link</a>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset">
            <app-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!((rowCount / pageSize) > 1)"
              (change)="table.onFooterPage($event)">
            </app-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </div>
  </section>
<!-- </div> -->
