<!-- host: .page.page--auth -->
<!-- host: .page.page--auth -->
  <section class="page__section page__section--bottom-border">

    <div class="page__jumbotron">
      <div class="main-logotype-container">
        <div class="main-logotype"></div>
      </div>
      <div class="page__subtitle">Web Application</div>
    </div>

    <div class="text-center mt-5 mb-5" *ngIf="false">
      <div class="register-paused">{{ "PAGES.Register.Paused" | translate }}</div>
      <div routerLink="/signin" class="btn btn-primary mt-4">{{ "BUTTONS.Back" | translate }}</div>
    </div>

    <div class="row" *ngIf="true">
      <div class="col-md-6 pr-3">
        <section class="section section--no-bottom">
          <h2 class="section__title">{{ "PAGES.Register.SectionTitles.Register" | translate }}</h2>

          <div class="section__content pt-4">
            <form name="signupForm" (ngSubmit)="signupForm.form.valid && onRegister()" #signupForm="ngForm" novalidate>
              <div class="form-group">
                <label for="inputEmail">{{ "PAGES.Register.Labels.Email" | translate }}</label>
                <input type="email" id="inputEmail" required email minlength="5" maxlength="256" noAutoComplete
                       name="email" [(ngModel)]="signupModel.email" #email="ngModel"
                       class="form-control col-12 col-lg-7"
                       [ngClass]="{'is-invalid': (errors?.Email || !email.valid) && (signupForm.submitted || !email.pristine)}"
                       (ngModelChange)="errors.Email = false"
                       [readonly]="loading">

                <div class="invalid-feedback" *ngIf="email.touched && email.errors?.required">
                  {{ "PAGES.Register.Errors.Email.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="email.touched && (email.errors?.email || email.errors?.minlength)">
                  {{ "PAGES.Register.Errors.Email.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.Email">
                  {{ errors?.Email }}
                </div>
              </div>

              <div class="form-group">
                <label for="inputPassword">{{ "PAGES.Register.Labels.Password" | translate }}</label>
                <input type="password" id="inputPassword" required minlength="6" maxlength="128" noAutoComplete
                       name="password" [(ngModel)]="signupModel.password" #password="ngModel"
                       class="form-control col-12 col-lg-7" equal="passwordRepeat" reverse="true"
                       [ngClass]="{'is-invalid': (errors?.Password || !password.valid) && (signupForm.submitted || !password.pristine)}"
                       (ngModelChange)="errors.Password = false"
                       [readonly]="loading || passwordChecking">

                <div class="invalid-feedback" *ngIf="password.touched && password.errors?.required">
                  {{ "PAGES.Register.Errors.Password.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="password.errors?.minlength">
                  {{ "PAGES.Register.Errors.Password.minlength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="password.errors?.maxlength">
                  {{ "PAGES.Register.Errors.Password.maxlength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.Password">
                  {{ errors?.Password }}
                </div>
                <div class="invalid-feedback" *ngIf="password.errors?.weak">
                  {{ "PAGES.Register.Errors.Password.weak" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="passwordChecking">
                  {{ "PAGES.Register.Errors.Password.weakChecking" | translate }}
                </div>
              </div>

              <div class="form-group">
                <label for="inputPasswordRepeat">{{ "PAGES.Register.Labels.Confirm" | translate }}</label>
                <input type="password" id="inputPasswordRepeat" required minlength="6" maxlength="128" noAutoComplete
                       name="passwordRepeat" ngModel #passwordRepeat="ngModel"
                       class="form-control col-12 col-lg-7" equal="password"
                       [ngClass]="{'is-invalid': (!passwordRepeat.valid) && (signupForm.submitted || password.dirty || passwordRepeat.dirty)}"
                       [readonly]="loading || passwordChecking">
                <div class="invalid-feedback" *ngIf="passwordRepeat.touched && passwordRepeat.errors?.required">
                  {{ "PAGES.Register.Errors.Password.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="passwordRepeat.errors?.minlength">
                  {{ "PAGES.Register.Errors.Password.minlength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="passwordRepeat.errors?.maxlength">
                  {{ "PAGES.Register.Errors.Password.maxlength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="(password.dirty || passwordRepeat.dirty) && passwordRepeat.errors?.equal">
                  {{ "PAGES.Register.Errors.Password.notMatch" | translate }}
                </div>
              </div>

              <div class="form-group mb-3 pt-3">
                <re-captcha class="form-captcha" #captchaRef="reCaptcha" (resolved)="captchaResolved($event)" [ngClass]="{'is-invalid': errors?.Captcha && signupForm.submitted}"></re-captcha>

                <div class="invalid-feedback" *ngIf="errors?.Captcha">
                  {{ errors?.Captcha }}
                </div>
              </div>

              <div class="form-group row pt-3">
                <div class="col-auto">
                  <button class="btn btn-primary" [blur]="submitButtonBlur" [disabled]="(!signupForm.valid || signupForm.untouched) || !signupModel.recaptcha || loading || passwordChanged">{{ "PAGES.Register.Buttons.Register" | translate }}</button>
                  <img *ngIf="loading || passwordChecking" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
                </div>
                <div class="col form-text form-text--small pl-4">
                  <a routerLink="/signin" class="link link--bolder">{{ "PAGES.Register.Links" | translate }}</a>
                </div>
              </div>

            </form>
          </div>
        </section>
      </div>

      <div class="col-md-6 pl-3">
        <section class="section section--no-bottom">
          <h2 class="section__title">{{ "PAGES.Register.SectionTitles.Social" | translate }}</h2>
          <div class="section__content row pt-5">
            <div class="col-12 form-group">
              <a href="#" class="btn btn-social btn-social--gp"
                 (click)="signInWithProvider('google', $event)">
                <svg class="icon">
                  <use xlink:href="#social-gp"></use>
                </svg>
                <span>{{ "PAGES.Register.Buttons.RegisterViaSocial" | translate:"{provider: 'Google'}" }}</span>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="modal " role="dialog" tabindex="-1" [ngClass]="{'showRegModal fade show': isAgreementConfirmShown}">
      <div role="document" class="modal-dialog message-box">
        <div class="modal-content">

          <div class="message-box__header">
            <h4 class="modal-title pull-left">GoldMint.io</h4>
            <button class="message-box__close" type="button" (click)="agreementConfirmed(false)">
              <svg class="icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
              </svg>
            </button>
          </div>

          <div class="message-box__body">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="agreeCheck" name="agreeCheck" [(ngModel)]="agreeCheck">
              <label class="custom-control-label custom-control-label-reg" for="agreeCheck">{{ "PAGES.Register.IAgreeText" | translate }}</label>
            </div>
          </div>

          <div class="message-box__footer">
            <button class="btn btn-primary btn-sm mx-1" type="button" (click)="agreementConfirmed(true)" [disabled]="!agreeCheck">{{ "BUTTONS.Ok" | translate }}</button>
            <button class="btn btn-primary btn-sm mx-1" type="button" (click)="agreementConfirmed(false)">{{ "BUTTONS.Cancel" | translate }}</button>
          </div>

        </div>
      </div>
    </div>

  </section>
