<section class="section section--table">
  <h2 class="section__title" id="pageSectionTitle">
    <span>{{ "PAGES.Settings.Activity.SectionTitle" | translate }}</span>
    <div class="section__title-widget">
      <div class="sortable" (click)="onSort('date')">
        <span class="mr-1">{{ "PAGES.Settings.Activity.TitleWidget.Label" | translate }}</span>
        <span class="sort-btn ml-auto" [ngClass]="{
          'sort-asc':  sort.prop && sort.dir == 'asc',
          'sort-desc': sort.prop && sort.dir == 'desc'}">
        </span>
      </div>
    </div>
  </h2>

  <div class="section__content">
    <div class="progress-linear progress-linear--tiny" *ngIf="loading">
      <div class="container"></div>
    </div>

    <div class="activities-list">
      <div class="activity" *ngFor="let activity of rows">
        <div class="activity__icon">
          <svg attr.class="icon icon-{{ activity.type }}">
            <use attr.xlink:href="#activity-{{ activity.type }}"></use>
          </svg>
        </div>
        <div class="activity__info">
          <div class="activity__details">
            <div class="activity__type">{{ "PAGES.Settings.Activity.ActivityTypes." + activity.type | translate }}</div>
            <div class="activity__ip" title="{{ activity?.agent }}">IP: {{ activity.ip }}</div>
            <div class="activity__date">{{ activity.date * 1000 | date:'short':'':locale }}</div>
          </div>
          <div class="activity__comment" [title]="activity.comment">{{ activity.comment }}</div>
        </div>
      </div>
    </div>

    <ul class="pagination pagination--small" *ngIf="page.totalElements">
      <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
        <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
          <svg class="icon icon--previous" height="17px" width="7px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
          </svg>
        </a>
      </li>
      <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
        <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
          <svg class="icon icon--next" height="17px" width="7px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
          </svg>
        </a>
      </li>
    </ul>

  </div>
</section>
