  <section class="page__section section section--no-bottom">
    <h2 class="section__title">{{ "PAGES.Settings.Limits.Heading" | translate }}</h2>

    <div class="section__content">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading">
        <div class="container"></div>
      </div>

      <ng-container *ngIf="limits">
        <div class="row mb-4">
          <div class="col-auto btn-group">
            <label class="btn btn-primary btn-sm active"
                   name="limitsSwitchModel.type"
                   [(ngModel)]="limitsSwitchModel.type" btnRadio="deposit">{{ "PAGES.Settings.Limits.Buttons.Deposit" | translate }}</label>
            <label class="btn btn-primary btn-sm"
                   name="limitsSwitchModel.type"
                   [(ngModel)]="limitsSwitchModel.type" btnRadio="withdraw">{{ "PAGES.Settings.Limits.Buttons.Withdraw" | translate }}</label>
          </div>

          <div class="col-auto btn-group ml-auto">
            <label class="btn btn-primary btn-sm active"
                   name="limitsSwitchModel.currency"
                   [(ngModel)]="limitsSwitchModel.currency" btnRadio="USD"><span class="mr-2">$</span>USD</label>
            <label class="btn btn-primary btn-sm disabled"
                   name="limitsSwitchModel.currency"
                   [(ngModel)]="limitsSwitchModel.currency" btnRadio="EUR" disabled><span class="mr-2">€</span>EUR</label>
          </div>
        </div>

        <div class="limits account-types">
          <div class="row">
            <div class="col limits__col limits__col--fixed">
              <div class="limits__col-caption">{{ "PAGES.Settings.Limits.AccountTypes.Heading" | translate }}</div>
            </div>

            <div class="col limits__col account-type" [ngClass]="{'limits__col--active': user.verifiedL0 && !user.verifiedL1}">
              <div class="account-type__name">{{ "PAGES.Settings.Limits.AccountTypes.Labels.Basic" | translate }}</div>
              <div class="account-type__icon">
                <svg class="icon" width="66px" height="54px">
                  <use xlink:href="#account-basic"></use>
                </svg>
              </div>
              <p class="account-type__desc">{{ "PAGES.Settings.Limits.AccountTypes.Text.Basic" | translate }}</p>
              <div class="account-type__footer">
                <div class="account-type__selected" *ngIf="user.verifiedL0 && !user.verifiedL1">{{ "PAGES.Settings.Limits.AccountTypes.AccountType" | translate }}</div>
              </div>
            </div>

            <div class="col limits__col account-type" [ngClass]="{'limits__col--active': user.verifiedL0 && user.verifiedL1}">
              <div class="account-type__name">{{ "PAGES.Settings.Limits.AccountTypes.Labels.Verified" | translate }}</div>
              <div class="account-type__icon">
                <svg class="icon" width="61px" height="58px">
                  <use xlink:href="#account-verified"></use>
                </svg>
              </div>
              <p class="account-type__desc">{{ "PAGES.Settings.Limits.AccountTypes.Text.Verified" | translate }}</p>
              <div class="account-type__footer">
                <div class="account-type__selected" *ngIf="user.verifiedL0 && user.verifiedL1">{{ "PAGES.Settings.Limits.AccountTypes.AccountType" | translate }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="limits">
          <h3 class="limits__title">{{ "PAGES.Settings.Limits.TotalLimits.Heading" | translate }}</h3>
          <p class="limits__desc">{{ ('PAGES.Settings.Limits.TotalLimits.SubTitle.' + limitsSwitchModel.type) | translate }} {{ limitsSwitchModel.currency }}</p>
          <div class="row">
            <div class="col limits__col limits__col--rows limits__col--fixed">
              <div class="limits__row limits__col-caption">{{ "PAGES.Settings.Limits.TotalLimits.Labels.Daily" | translate }}</div>
              <div class="limits__row limits__col-caption">{{ "PAGES.Settings.Limits.TotalLimits.Labels.Monthly" | translate }}</div>
            </div>
            <div class="col limits__col limits__col--rows" [ngClass]="{'limits__col--active': user.verifiedL0 && !user.verifiedL1}">
              <div class="limits__row">{{ limits.levels.l0[limitsSwitchModel.type].day }}</div>
              <div class="limits__row">{{ limits.levels.l0[limitsSwitchModel.type].month }}</div>
            </div>
            <div class="col limits__col limits__col--rows" [ngClass]="{'limits__col--active': user.verifiedL0 && user.verifiedL1}">
              <div class="limits__row">{{ limits.levels.l1[limitsSwitchModel.type].day }}</div>
              <div class="limits__row">{{ limits.levels.l1[limitsSwitchModel.type].month }}</div>
            </div>
          </div>
        </div>

        <div class="limits">
          <h3 class="limits__title">{{ "PAGES.Settings.Limits.PaymentLimits.Heading" | translate }}</h3>
          <p class="limits__subtitle">{{ "PAGES.Settings.Limits.PaymentLimits.Text" | translate }}</p>

          <div class="row">
            <div class="col limits__col limits__col--fixed">
              <div class="limits__col-caption">{{ "PAGES.Settings.Limits.PaymentLimits.Labels.PaymentCard" | translate }}</div>
              <div class="limits__col-icon">
                <svg class="icon" width="70px" height="58px">
                  <use xlink:href="#payment-card"></use>
                </svg>
              </div>
              <div class="limits__col-note">
                <b>{{ "PAGES.Settings.Limits.PaymentLimits.Labels.Commission" | translate }}:</b> 3,5% + 0.25</div>
            </div>
            <div class="col limits__col" [ngClass]="{'limits__col--active': user.verifiedL0 && !user.verifiedL1}">
              <svg class="icon icon--green" width="23px" height="18px">
                <use xlink:href="#ok"></use>
              </svg>
            </div>
            <div class="col limits__col" [ngClass]="{'limits__col--active': user.verifiedL0 && user.verifiedL1}">
              <svg class="icon icon--green" width="23px" height="18px">
                <use xlink:href="#ok"></use>
              </svg>
            </div>
          </div>

          <div class="row">
            <div class="col limits__col limits__col--fixed">
              <div class="limits__col-caption">{{ "PAGES.Settings.Limits.PaymentLimits.Labels.BankTransfer" | translate }}</div>
              <div class="limits__col-icon">
                <svg class="icon" width="134px" height="62px">
                  <use xlink:href="#payment-bank"></use>
                </svg>
              </div>
              <div class="limits__col-note">
                <b>{{ "PAGES.Settings.Limits.PaymentLimits.Labels.Commission" | translate }}:</b>
                {{ "PAGES.Settings.Limits.PaymentLimits.Labels.NoCommission" | translate }}</div>
            </div>
            <div class="col limits__col" [ngClass]="{'limits__col--active': user.verifiedL0 && !user.verifiedL1}">
              <svg class="icon icon--red" width="17px" height="17px">
                <use xlink:href="#nok"></use>
              </svg>
            </div>
            <div class="col limits__col" [ngClass]="{'limits__col--active': user.verifiedL0 && user.verifiedL1}">
              <svg class="icon icon--green" width="23px" height="18px">
                <use xlink:href="#ok"></use>
              </svg>
            </div>
          </div>

          <div class="row" *ngIf="false">
            <div class="col limits__col limits__col--fixed">
              <div class="limits__col-caption">{{ "PAGES.Settings.Limits.PaymentLimits.Labels.CryptoCapital" | translate }}</div>
              <div class="limits__col-icon">
                <svg class="icon" width="70px" height="70px">
                  <use xlink:href="#payment-crypto"></use>
                </svg>
              </div>
              <div class="limits__col-note"><b>{{ "PAGES.Settings.Limits.PaymentLimits.Labels.Commission" | translate }}:</b>
                {{ "PAGES.Settings.Limits.PaymentLimits.Labels.NoCommission" | translate }}</div>
            </div>
            <div class="col limits__col" [ngClass]="{'limits__col--active': user.verifiedL0 && !user.verifiedL1}">
              <svg class="icon icon--red" width="17px" height="17px">
                <use xlink:href="#nok"></use>
              </svg>
            </div>
            <div class="col limits__col" [ngClass]="{'limits__col--active': user.verifiedL0 && user.verifiedL1}">
              <svg class="icon icon--green" width="23px" height="18px">
                <use xlink:href="#ok"></use>
              </svg>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
<!-- </div> -->
