<div class="page">
  <h1 class="page__heading">Transparency</h1>

  <div class="page__section">

    <div *ngIf="isDataLoaded" #statDataForm="ngForm" ngForm>
        <div class="d-flex">
          <table class="fees-ngx-datatable w-50 mr-2">
            <thead class="fees-datatable-header">
            <tr class="fees-datatable-header fees-border-bottom">
              <td class="fees-datatable-header-cell trn-info__label" colspan="2">{{ "PAGES.Transparency.TableInfo.Headings.Assets" | translate }}</td>
            </tr>
            </thead>
            <tbody class="fees-datatable-body">
            <tr class="fees-datatable-body-row fees-border-bottom">
              <td class="fees-datatable-body-cell align-middle" colspan="2">{{ "PAGES.Transparency.TableInfo.Headings.MoneyInBanks" | translate }}</td>
            </tr>
            <tr class="fees-datatable-body-row">
              <td class="fees-datatable-body-cell align-middle">1 USD</td>
              <td class="fees-datatable-body-cell align-middle">
                <input type="text" class="form-control m-0" [(ngModel)]="statData.assets.usd" name="assets_usd">
              </td>
            </tr>
            <tr class="fees-datatable-body-row">
              <td class="fees-datatable-body-cell align-middle">2 EUR</td>
              <td class="fees-datatable-body-cell align-middle">
                <input type="text" class="form-control m-0" [(ngModel)]="statData.assets.eur" name="assets_eur">
              </td>
            </tr>
            <tr class="fees-datatable-body-row fees-border-bottom">
              <td class="fees-datatable-body-cell align-middle">3 SGD</td>
              <td class="fees-datatable-body-cell align-middle">
                <input type="text" class="form-control m-0" [(ngModel)]="statData.assets.sgd" name="assets_sgb">
              </td>
            </tr>
            </tbody>
          </table>

          <table class="fees-ngx-datatable w-50 ml-2">
            <thead class="fees-datatable-header">
            <tr class="fees-datatable-header fees-border-bottom">
              <td class="fees-datatable-header-cell trn-info__label" colspan="2">{{ "PAGES.Transparency.TableInfo.Headings.Liabilities" | translate }}</td>
            </tr>
            </thead>
            <tbody class="fees-datatable-body">
            <tr class="fees-datatable-body-row fees-border-bottom">
              <td class="fees-datatable-body-cell align-middle" colspan="2">{{ "PAGES.Transparency.TableInfo.Headings.Distribution" | translate }}</td>
            </tr>
            <tr class="fees-datatable-body-row">
              <td class="fees-datatable-body-cell align-middle">{{ "PAGES.Transparency.TableInfo.TableCell.Borrowings" | translate }}</td>
              <td class="fees-datatable-body-cell align-middle">
                <input type="text" class="form-control m-0" [(ngModel)]="statData.bonds.borrowings" name="liabilities_usd">
              </td>
            </tr>
            <tr class="fees-datatable-body-row">
              <td class="fees-datatable-body-cell align-middle">{{ "PAGES.Transparency.TableInfo.TableCell.Capital" | translate }}</td>
              <td class="fees-datatable-body-cell align-middle">
                <input type="text" class="form-control m-0" [(ngModel)]="statData.bonds.capital" name="liabilities_eur">
              </td>
            </tr>
            <tr class="fees-datatable-body-row fees-border-bottom">
              <td class="fees-datatable-body-cell align-middle">{{ "PAGES.Transparency.TableInfo.TableCell.Profits" | translate }}</td>
              <td class="fees-datatable-body-cell align-middle">
                <input type="text" class="form-control m-0" [(ngModel)]="statData.bonds.profits" name="liabilities_sgb">
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <table class="fees-ngx-datatable w-100 mt-5">
          <tbody class="fees-datatable-body">
          <tr class="fees-datatable-body-row fees-border-top fees-border-bottom">
            <td class="fees-datatable-body-cell w-50 align-middle trn-info__label">{{ "PAGES.Transparency.TableInfo.Headings.Exchange" | translate }}</td>
            <td class="fees-datatable-body-cell w-50 align-middle"></td>
          </tr>
          <tr class="fees-datatable-body-row">
            <td class="fees-datatable-body-cell w-50 align-middle">1 Wedbush</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.fiat.wedbush" name="fiat_1">
            </td>
          </tr>
          <tr class="fees-datatable-body-row">
            <td class="fees-datatable-body-cell w-50 align-middle">2 SGPMX</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.fiat.sgpmx" name="fiat_2">
            </td>
          </tr>
          <tr class="fees-datatable-body-row fees-border-bottom">
            <td class="fees-datatable-body-cell w-50 align-middle">3 Saxobank</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.fiat.saxobank" name="fiat_3">
            </td>
          </tr>
          <tr class="fees-datatable-body-row fees-border-bottom">
            <td class="fees-datatable-body-cell w-50 align-middle trn-info__label">{{ "PAGES.Transparency.TableInfo.Headings.Storage" | translate }}</td>
            <td class="fees-datatable-body-cell w-50 align-middle"></td>
          </tr>
          <tr class="fees-datatable-body-row">
            <td class="fees-datatable-body-cell w-50 align-middle">SGPMX</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.gold.sgpmx" name="gold_1">
            </td>
          </tr>
          <tr class="fees-datatable-body-row">
            <td class="fees-datatable-body-cell w-50 align-middle">Brinks</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.gold.brinks" name="gold_2">
            </td>
          </tr>
          <tr class="fees-datatable-body-row fees-border-bottom">
            <td class="fees-datatable-body-cell w-50 align-middle">FRBNY</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.gold.frbny" name="gold_3">
            </td>
          </tr>
          <tr class="fees-datatable-body-row fees-border-bottom">
            <td class="fees-datatable-body-cell w-50 align-middle trn-info__label">{{ "PAGES.Transparency.TableInfo.Headings.DataProvided" | translate }}</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.viewDataTimestamp" pattern="^\d\d\.\d\d\.\d\d$" name="dataTimestamp">
            </td>
          </tr>
          <tr class="fees-datatable-body-row fees-border-bottom">
            <td class="fees-datatable-body-cell w-50 align-middle trn-info__label">{{ "PAGES.Transparency.TableInfo.Headings.Report" | translate }}</td>
            <td class="fees-datatable-body-cell w-50 align-middle">
              <input type="text" class="form-control m-0" [(ngModel)]="statData.viewAuditTimestamp" pattern="^\d\d\.\d\d\.\d\d$" name="auditTimestamp">
            </td>
          </tr>
          </tbody>
        </table>

        <div class="col pb-3 pt-3 text-right">
            <button class="btn btn-primary" type="submit" (click)="updateStat()" [disabled]="loading || statDataForm.invalid">Save</button>
        </div>
    </div>

    <div class="trn-info">
      <form class="w-100 transparency-form" [formGroup]="form" #formDir="ngForm" (ngSubmit)="upload()">

        <div class="row align-items-start">

          <div class="col-lg-auto pt-4">
            <div class="from-row form-group">
              <label class="file-upload-btn">
                <input type="file" name="file" accept="image/*" (change)="onChangeFile($event)" #file formControlName="realFile">
                <input type="hidden" name="hiddenFile" formControlName="file">
                <span class="btn btn-sm btn-primary btn-block">Document</span>
              </label>
            </div>
          </div>

          <div class="col-lg pt-4">
            <div class="from-row form-group">
              <input type="number" min="0" class="form-control" [value]="amount" (input)="onAmountChanged($event.target.value)" placeholder="Amount" formControlName="amount">
            </div>
          </div>

          <div class="col-lg pt-4">
            <div class="from-row form-group">
              <input type="text" class="form-control" placeholder="Comment" formControlName="comment">
            </div>
          </div>

          <div class="col-lg-auto pb-3 pt-3">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid || formDir.submitted">Upload</button>
          </div>

        </div>
      </form>
    </div>

    <section class="section section--table">

      <div class="section__content">
        <ngx-datatable class="table table--no-footer" #table
          [rows]="rows"

          [columnMode]="'force'"
          [sorts]="sorts"
          [headerHeight]="53"
          [rowHeight]="'auto'"
          [footerHeight]="135"
          [reorderable]="false"
          [loadingIndicator]="loading"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          [externalSorting]="true"
          (sort)="onSort($event)"
          [externalPaging]="true"
          (page)='setPage($event)'
          [messages]="messages">

          <ngx-datatable-column prop="date" [draggable]="false" [resizeable]="false" [maxWidth]="160">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Transparency.Table.Date" | translate }}
              </span>
            </ng-template>

            <ng-template let-timestamp="value" ngx-datatable-cell-template>
              <!-- {{ timestamp * 1000 | date:'yyyy-MM-dd HH:mm:ss' }} -->
              {{ timestamp * 1000 | date:'short':'':locale }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="amount" [draggable]="false" [resizeable]="false" [maxWidth]="160">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Transparency.Table.Amount" | translate }}
              </span>
            </ng-template>

            <ng-template let-amount="value" let-row="row" ngx-datatable-cell-template>
                {{ amount | number:'1.2-2':locale }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="link" [draggable]="false" [resizeable]="false" [sortable]="false" [width]="450">
            <ng-template ngx-datatable-header-template>
              {{ "PAGES.Transparency.Table.URL" | translate }}
              <!-- {{ "PAGES.History.Table.Columns.Comment" | translate }} -->
            </ng-template>

            <ng-template let-link="value" ngx-datatable-cell-template>
              <div class="link-block">
                <a [href]="link">{{ link }}</a>
              </div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="comment" [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="160">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper">
                {{ "PAGES.Transparency.Table.Comment" | translate }}
              </span>
            </ng-template>

            <ng-template let-comment="value" ngx-datatable-cell-template>
              {{ comment }}
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <ul class="pagination pagination--small mb-5" *ngIf="page.totalElements">
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
              <svg class="icon icon--previous" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
              <svg class="icon icon--next" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>
    </section>

  </div>
</div>
