@import 'functions'
@import 'variables'

.file-upload-btn
  position: relative

  input
    height: 100%
    opacity: 0
    position: absolute
    width: 100%
    z-index: -1
    /* */

.transparency-table .datatable-body-cell-label
  padding-right: 1em
  width: 100%

.link-block
  overflow: hidden
  text-overflow: ellipsis
