<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Buy.CtyptoCurrency.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.Buy.CtyptoCurrency.Heading" | translate }}</h2>

  <div class="section__content">
    <form action="#" name="buyGoldForm" id="buyGoldForm" #buyGoldForm="ngForm">
      <div class="row">

        <ng-container>
          <div class="w-100">
            <div class="btn-group">
              <label class="btn btn-primary btn-sm disabled" disabled>BTC</label>
              <label class="btn btn-primary btn-sm"
                     [ngClass]="{'active': currentCoin === coinList[1]}"
                     (click)="chooseCurrentCoin(coinList[1])">Eth</label>
            </div>

            <div class="pt-4">
              <form #cryptoCurrencyForm="ngForm">
                <div>
                  <div class="col-12">
                    <div class="from-row form-group">
                      <label for="cCurrencyEthAmount" *ngIf="currentCoin === coinList[0]">BTC</label>
                      <label for="cCurrencyEthAmount" *ngIf="currentCoin === coinList[1]">Eth</label>
                      <div class="d-flex align-items-center">
                        <div class="form-currency">
                          <svg class="icon" width="30" height="30">
                            <use xlink:href="#bitcoin" *ngIf="currentCoin === coinList[0]"></use>
                            <use xlink:href="#etherium" *ngIf="currentCoin === coinList[1]"></use>
                          </svg>
                        </div>
                        <input type="number" class="form-control" name="cCurrencyEthAmount" id="cCurrencyEthAmount"
                               min="0"
                               step="0.1"
                               [(ngModel)]="cCurrencyAmountView"
                               #cCurrencyEthAmount="ngModel"
                               (input)="changeValue()"
                               [ngClass]="{'is-invalid': (!cCurrencyAmountView || invalidBalance) && cCurrencyEthAmount.dirty}"
                        >
                      </div>
                      <div class="percent-btn-cont">
                        <button class="percent-btn" (click)="setCCurrencyEthBalance(0.25)">25%</button>
                        <button class="percent-btn" (click)="setCCurrencyEthBalance(0.5)">50%</button>
                        <button class="percent-btn" (click)="setCCurrencyEthBalance(0.75)">75%</button>
                        <button class="percent-btn" (click)="setCCurrencyEthBalance(1)">100%</button>
                      </div>
                      <div class="invalid-feedback" *ngIf="(!cCurrencyAmountView || invalidBalance) && cCurrencyEthAmount.dirty">
                        {{ "PAGES.Buy.Errors.InvalidEth" | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="col-12 pb-4">
                    <div class="from-row form-group ">
                      <label for="input_EstimateAmount">{{ "PAGES.Buy.CtyptoCurrency.Labels.Amount" | translate }} ($ {{ estimateAmountUSD | number:'1.1-2':locale }})</label>
                      <div class="d-flex align-items-center">
                        <div class="form-currency">
                          <svg class="icon" width="30" height="30">
                            <use xlink:href="#cur-gold"></use>
                          </svg>
                        </div>
                        <input type="text" class="form-control" id="input_EstimateAmount" ngModel name="estimates-amount" readonly [value]="cCurrencyEstimateAmount | number:'1.1-6':locale">
                      </div>
                    </div>
                  </div>

                  <div class="col-12 mb-5">
                    <button type="submit" class="btn btn-primary" (click)="onCryptoCurrencySubmit()" [disabled]="cCurrencyCoinAmount == null || cCurrencyCoinAmount <= 0 || invalidBalance || loading">{{ "PAGES.Buy.Buttons.BuyNow" | translate }}</button>
                    <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-container>

      </div>
    </form>
  </div>

</section>

