<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Buy.CtyptoCurrency.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.Buy.CtyptoCurrency.Heading" | translate }}</h2>

  <div class="section__content">
    <form *ngIf="!showConfirmBlock; else confirmBlock" name="buyGoldForm" id="buyGoldForm" #buyGoldForm="ngForm">
        <div class="w-100">
          <div class="btn-group">
            <label class="btn btn-primary btn-sm disabled" disabled>BTC</label>
            <label class="btn btn-primary btn-sm"
                   [ngClass]="{'active': currentCoin === coinList[1]}"
                   (click)="chooseCurrentCoin(coinList[1])">Eth</label>
          </div>

          <div class="pt-4">
            <form #buyFrom="ngForm">
              <div>
                <div class="col-12">
                  <div class="from-row form-group">
                    <label for="coinAmountInput" *ngIf="currentCoin === coinList[0]">BTC</label>
                    <label for="coinAmountInput" *ngIf="currentCoin === coinList[1]">Eth</label>
                    <div class="d-flex align-items-center">
                      <div class="form-currency">
                        <svg class="icon" width="30" height="30">
                          <use xlink:href="#bitcoin" *ngIf="currentCoin === coinList[0]"></use>
                          <use xlink:href="#etherium" *ngIf="currentCoin === coinList[1]"></use>
                        </svg>
                      </div>
                      <input type="text" class="form-control" name="coinAmountInput" id="coinAmountInput"
                             #goldAmountInput="ngModel"
                             [(ngModel)]="coinAmount"
                             ngModel
                             autocomplete="off"
                             (input)="changeValue(false, $event)"
                             [ngClass]="{'is-invalid': (invalidBalance || !coinAmount) && !isReversed && goldAmountInput.dirty || isTradingLimit}"
                             [disabled]="isReversed && loading"
                      >
                    </div>
                    <div class="percent-btn-cont">
                      <button class="percent-btn" (click)="setCoinBalance(0.25)">25%</button>
                      <button class="percent-btn" (click)="setCoinBalance(0.5)">50%</button>
                      <button class="percent-btn" (click)="setCoinBalance(0.75)">75%</button>
                      <button class="percent-btn" (click)="setCoinBalance(1)">100%</button>
                    </div>
                    <div class="invalid-feedback" *ngIf="(invalidBalance || !coinAmount) && !isReversed && goldAmountInput.dirty">
                      {{ "PAGES.Buy.Errors.InvalidEth" | translate }}
                    </div>
                    <div class="invalid-feedback" *ngIf="isTradingLimit">
                      {{ "ERRORS.Limit.Min" | translate }} {{ isTradingLimit?.min }} eth<br>
                      {{ "ERRORS.Limit.Max" | translate }} {{ isTradingLimit?.max }} eth
                    </div>
                  </div>
                </div>

                <div class="col-12 pb-4">
                  <div class="from-row form-group ">
                    <label for="goldAmount">{{ "PAGES.Buy.CtyptoCurrency.Labels.Amount" | translate }} ($ {{ goldAmountToUSD | number:'1.1-2':locale }})</label>
                    <div class="d-flex align-items-center">
                      <div class="form-currency">
                        <svg class="icon" width="30" height="30">
                          <use xlink:href="#cur-gold"></use>
                        </svg>
                      </div>
                      <input type="text" class="form-control" name="goldAmount" id="goldAmount"
                             #coinAmountInput="ngModel"
                             [(ngModel)]="goldAmount"
                             ngModel
                             autocomplete="off"
                             (input)="changeValue(true, $event)"
                             [ngClass]="{'is-invalid': (invalidBalance || !goldAmount) && isReversed && coinAmountInput.dirty}"
                             [disabled]="!isReversed && loading"
                      >
                    </div>
                    <div class="invalid-feedback" *ngIf="(invalidBalance || !goldAmount) && isReversed && coinAmountInput.dirty">
                      {{ "PAGES.Buy.Errors.InvalidGold" | translate }}
                    </div>
                  </div>
                </div>

                <div class="col-12 mb-5">
                  <div class="font-weight-500 mb-2 lead icon--red" *ngIf="isTradingError">{{ "ERRORS.Trading" | translate }}</div>
                  <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="loading || invalidBalance || !goldAmount || !coinAmount || isTradingError || isTradingLimit">{{ "PAGES.Buy.Buttons.BuyNow" | translate }}</button>
                  <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
                </div>
              </div>
            </form>
          </div>
        </div>
    </form>

    <ng-template #confirmBlock>
      <div>
        <div>{{ "COMMONS.ConfirmTr" | translate }}</div>
        <button type="button" class="btn btn-primary mt-4 mb-5" (click)="hideConfirmBlock()">{{ "BUTTONS.Back" | translate }}</button>
      </div>
    </ng-template>

  </div>

</section>

