<div class="page">

  <div class="page__section section">
    <h2 class="section__title">
      Data Processing Agreement
    </h2>

    <div class="section__content section__content--lead">
      <p>
        We have received document. Please click button below to sign in.
        <br />
        <br />
        If you have problems with signing this agreement, please contact our support team via <a href="mailto:support@goldmint.io">support@goldmint.io</a>.
      </p>

      <div class="text-center">
        <button class="btn btn-primary" routerLink="/signin">{{ "PAGES.Login.Buttons.LogIn" | translate }}</button>
      </div>
    </div>

  </div>
</div>
