<div class="page">

  <div class="page__section section">
    <div class="progress-linear progress-linear--tiny">
      <div class="container"></div>
    </div>

    <h2 class="section__title">
      {{ "PAGES.Login.LoginDPASigned.Heading" | translate }}
    </h2>

    <div class="section__content section__content--lead">
      <p class="my-2">
        {{ "PAGES.Login.LoginDPASigned.Text.First" | translate }}
        <br />
        <br />
        {{ "PAGES.Login.LoginDPASigned.Text.Second" | translate }} <a href="mailto:support@goldmint.io">{{ "PAGES.Login.LoginDPARequired.Text.Support" | translate }}</a>.
      </p>

    </div>

  </div>
</div>
