<div class="page">

  <div class="page__section section">
    <h2 class="section__title">
      {{ "PAGES.Login.LoginDPASigned.Heading" | translate }}
    </h2>

    <div class="section__content section__content--lead">
      <p>
        {{ "PAGES.Login.LoginDPASigned.Text.First" | translate }}
        <br />
        <br />
        {{ "PAGES.Login.LoginDPASigned.Text.Second" | translate }} <a href="mailto:support@goldmint.io">{{ "PAGES.Login.LoginDPARequired.Text.Support" | translate }}</a>.
      </p>

      <div class="text-center">
        <img alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
      </div>
    </div>

  </div>
</div>
