<div class="page" *ngIf="page === pages.Default">
  <h1 class="page__heading">{{ "PAGES.ResetPassword.Heading.Reset" | translate }}</h1>

  <div class="page__section section">
    <h2 class="section__title">{{ "PAGES.ResetPassword.Labels.Reset" | translate }}</h2>

    <div class="section__content section__content--lead">
      <p>{{ "PAGES.ResetPassword.Text.Reset" | translate }}</p>

      <form name="passwordEmailForm" (ngSubmit)="passwordEmailForm.form.valid && sendConfirmationEmail()" #passwordEmailForm="ngForm" novalidate>
        <div class="form-row align-items-center">
          <div class="form-group col-lg-4 pr-lg-5 pb-3 pb-lg-0">
            <label for="inputUsername">{{ "PAGES.ResetPassword.Labels.EnterEmail" | translate }}</label>
            <input type="email" id="inputEmail" required email
                   name="email" [(ngModel)]="passwordResetModel.email" #email="ngModel"
                   id="inputUsername"
                   class="form-control"
                   [ngClass]="{'is-invalid': (errors?.Email || !email.valid) && (passwordEmailForm.submitted || !email.pristine)}"
                   (ngModelChange)="errors.Email = false"
                   [readonly]="loading">

            <div class="invalid-feedback invalid-feedback--abs" *ngIf="email.errors?.required">
              {{ "PAGES.ResetPassword.Errors.Email" | translate }}
            </div>
            <div class="invalid-feedback invalid-feedback--abs" *ngIf="errors?.Email">
              {{ errors?.Email }}
            </div>
          </div>

          <div class="form-group col-auto">
            <re-captcha class="form-captcha" #captchaRef="reCaptcha" (resolved)="captchaResolved($event)" [ngClass]="{'is-invalid': errors?.Captcha && passwordEmailForm.submitted}"></re-captcha>

            <div class="invalid-feedback" *ngIf="errors?.Captcha">
              {{ errors?.Captcha }}
            </div>
          </div>

          <div class="col-12 ml-auto mt-3 mt-sm-0 col-sm-auto d-flex align-items-center">
            <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
            <button class="btn btn-primary w-100" [blur]="buttonBlur" [disabled]="!passwordEmailForm.form.valid || email.pristine || !passwordResetModel.recaptcha || loading">{{ "PAGES.ResetPassword.Buttons.Submit" | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="page pt-4" *ngIf="page === pages.EmailSent">
  <h1 class="page__heading pb-4 mt-1">
    {{ "PAGES.ResetPassword.Heading.Recovery.FirstLine" | translate }}<br>
    {{ "PAGES.ResetPassword.Heading.Recovery.SecondLine" | translate }}<br>
  </h1>

  <div class="page__section section">
    <h2 class="section__title">{{ "PAGES.ResetPassword.Labels.Recovery" | translate }}</h2>

    <div class="section__content section__content--lead">
      <p class="mb-4">{{ "PAGES.ResetPassword.Text.Recovery.FirstLine" | translate }}</p>

      <p class="mb-4">{{ "PAGES.ResetPassword.Text.Recovery.SecondLine" | translate }}</p>

      <div class="mb-4 py-2">
        <a routerLink="/signin" class="btn btn-primary">{{ "PAGES.ResetPassword.Buttons.Back" | translate }}</a>
      </div>
    </div>
  </div>
</div>

<div class="page" *ngIf="page === pages.NewPassword">
  <h1 class="page__heading">{{ "PAGES.ResetPassword.Heading.Change" | translate }}</h1>

  <div class="page__section section">
    <h2 class="section__title">{{ "PAGES.ResetPassword.Labels.Provide" | translate }}</h2>

    <div class="section__content section__content--lead pb-2">
      <form name="newPasswordForm" (ngSubmit)="newPasswordForm.form.valid && changePassword()" #newPasswordForm="ngForm" novalidate>
        <div class="row">

          <div class="col">
            <div class="form-row align-items-start">
              <div class="form-group col-md-5">
                <label for="input_NewPassword">{{ "PAGES.ResetPassword.Labels.NewPass" | translate }}</label>
                <input type="password" id="input_NewPassword" required minlength="6" maxlength="128"
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                       name="newPassword" [(ngModel)]="newPasswordModel.password" #newPassword="ngModel"
                       class="form-control" equal="newPasswordRepeat" reverse="true"
                       [ngClass]="{'is-invalid': (errors?.Password || !newPassword.valid) && newPasswordForm.submitted || isPasswordWeak}"
                       (ngModelChange)="errors.Password = false">
                <div class="invalid-feedback" *ngIf="newPassword.errors?.required">
                  {{ "PAGES.Register.Errors.Password.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="newPassword.errors?.minlength">
                  {{ "PAGES.Register.Errors.Password.minlength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="newPassword.errors?.maxlength">
                  {{ "PAGES.Register.Errors.Password.maxlength" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="!newPassword.errors?.minlength && newPassword.errors?.pattern">
                  {{ "PAGES.Register.Errors.Password.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.Password">
                  {{ errors?.Password }}
                </div>
                <div class="invalid-feedback" *ngIf="isPasswordWeak">
                  {{ "PAGES.Register.Errors.Password.weak" | translate }}
                </div>
              </div>

              <div class="form-group col-md-6 pl-md-5">
                <label for="input_NewPasswordRepeat">{{ "PAGES.ResetPassword.Labels.ConfirmPass" | translate }}</label>
                <input type="password" id="input_NewPasswordRepeat" required equal="newPassword"
                       name="newPasswordRepeat" [(ngModel)]="newPasswordModel.passwordRepeat" #newPasswordRepeat="ngModel"
                       class="form-control"
                       [ngClass]="{'is-invalid': (errors?.PasswordRepeat || !newPasswordRepeat.valid) && (newPasswordForm.submitted || !newPasswordRepeat.pristine)}"
                       (ngModelChange)="errors.PasswordRepeat = false">

                <div class="invalid-feedback" *ngIf="newPasswordRepeat.errors?.required">
                  {{ "PAGES.Settings.Profile.PasswordSection.Errors.NewPasswordRepeat.required" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="newPasswordRepeat.errors?.equal">
                  {{ "PAGES.Settings.Profile.PasswordSection.Errors.NewPasswordRepeat.equal" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.PasswordRepeat">
                  {{ errors?.PasswordRepeat }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-auto pt-3">
            <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
            <button class="btn btn-primary" [blur]="buttonBlur" [disabled]="newPasswordForm.invalid  || newPasswordForm.untouched || isPasswordWeak ">{{ "PAGES.ResetPassword.Buttons.Submit" | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
