<div class="mt-4 pt-1">
  <section class="page__section section">
    <h2 class="section__title">{{ "PAGES.MasterNode.MigrationPage.Heading" | translate }}</h2>

    <div class="d-flex flex-wrap">
      <div class="col-12 col-sm-auto btn-group p-0 mt-4">
        <label class="btn btn-primary btn-sm active"
               name="tokenModel.type"
               [(ngModel)]="tokenModel.type"
               btnRadio="GOLD" (click)="chooseToken()">GOLD</label>
        <label class="btn btn-primary btn-sm"
               name="tokenModel.type"
               [(ngModel)]="tokenModel.type"
               btnRadio="MNTP" (click)="chooseToken()">MNTP</label>
      </div>

      <div class="col-12 col-sm-auto btn-group p-0 mt-4 ml-0 ml-sm-3">
        <label class="btn btn-primary btn-sm active"
               name="directionModel.type"
               [(ngModel)]="directionModel.type"
               btnRadio="eth" (click)="chooseDirection()">ETH -> Sumus</label>
        <label class="btn btn-primary btn-sm"
               name="directionModel.type"
               [(ngModel)]="directionModel.type"
               btnRadio="sumus" (click)="chooseDirection()">Sumus -> ETH</label>
      </div>
    </div>

    <div class="mt-4">
      <form #migrationForm="ngForm">
        <div class="row">
          <div class="col-12 overflow-hidden" *ngIf="direction === 'GOLDeth' || direction === 'MNTPeth'">
            <div class="from-row form-group">
              <label for="tokenAmountInput">{{ "PAGES.MasterNode.MigrationPage.Labels.Amount" | translate }}</label>
              <div class="d-flex align-items-center">
                <div class="form-currency form-currency--gold">
                  <svg class="icon">
                    <use xlink:href="#cur-gold"></use>
                  </svg>
                </div>
                <input type="text" class="form-control" name="tokenAmountInput" id="tokenAmountInput"
                       #tokenAmountInput="ngModel"
                       [(ngModel)]="tokenAmount"
                       autocomplete="off"
                       (input)="changeValue($event)"
                       [ngClass]="{'is-invalid': (invalidAmount || balanceError) && !loading}"
                       [disabled]="loading || !isMetamask">
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="invalidAmount && !loading">
                  {{ "PAGES.MasterNode.MigrationPage.Errors.InvalidAmount" | translate }}
                </div>
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="balanceError && !loading">
                  {{ "PAGES.MasterNode.MigrationPage.Errors.InvalidAmount" | translate }}. <span *ngIf="currentBalance > 0">{{ "PAGES.MasterNode.MigrationPage.Errors.Maximum" | translate }} {{ currentBalance }}</span>
                </div>
              </div>
              <div class="percent-btn-cont">
                <button class="percent-btn" (click)="setTokenBalance(0.25)">25%</button>
                <button class="percent-btn" (click)="setTokenBalance(0.5)">50%</button>
                <button class="percent-btn" (click)="setTokenBalance(0.75)">75%</button>
                <button class="percent-btn" (click)="setTokenBalance(1)">100%</button>
              </div>
            </div>
          </div>

          <div class="col mt-1 mb-4">
            <button class="btn btn-primary" [disabled]="invalidAmount || balanceError || !sumusAddress || !isAddressLoaded || loading"
                    (click)="onSubmit()">Go</button>
            <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
          </div>
        </div>
      </form>
    </div>

    <div class="mb-4" *ngIf="isSumusSuccess && (direction === 'GOLDsumus' || direction === 'MNTPsumus')">
      <div>{{ "PAGES.MasterNode.MigrationPage.TransferDescr" | translate }}</div>
      <input type="text" class="input-copy" value="{{ sumusMigrationAddress }}" #secondAddress readonly>
      <span class="migration-address-link" (click)="onCopyData(secondAddress)"
            popover='{{ "PAGES.MasterNode.MigrationPage.Popover.Copied" | translate }}' [outsideClick]="true"
      ><b>{{ sumusMigrationAddress }}</b></span>
    </div>

  </section>
</div>
