<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col d-flex">
        <ul class="nav align-self-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">{{ "FOOTER.Menu.About" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transparency">{{ "FOOTER.Menu.Transparency" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/static-pages/termsOfUse">{{ "FOOTER.Menu.Terms" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/static-pages/privacy">{{ "FOOTER.Menu.Privacy" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/static-pages/kycpolicy">{{ "FOOTER.Menu.KYCPolicy" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{ "FOOTER.Menu.HelpCenter" | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="col-auto">
        <span class="copyright">{{ "FOOTER.Copyright" | translate:"{year: 2017}" }}</span>
      </div>
    </div>
  </div>
</footer>
