<footer class="footer">
  <div class="container">
    <div class="row align-items-center pt-2 pb-2 pt-lg-0 pb-lg-0">
      <div class="col d-flex">
        <ul class="nav align-self-center">
          <li class="nav-item">
            <a class="nav-link active" href="#">{{ "FOOTER.Menu.About" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/transparency">{{ "FOOTER.Menu.Transparency" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/legal-security">{{ "FOOTER.Menu.LegalSecurity" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://support.goldmint.io/">{{ "FOOTER.Menu.HelpCenter" | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="col-auto">
        <span class="copyright">{{ "FOOTER.Copyright" | translate:"{year: 2017}" }}</span>
      </div>
    </div>
  </div>
</footer>
