<footer class="footer_border_columns">
  <div class="footer_inner clearfix">
    <div class="footer_top_holder">
      <div class="footer_top">
        <div class="container">
          <div class="container_inner">
            <div class="two_columns_50_50 clearfix">
              <div class="qode_column column1">
                <div class="column_inner">
                  <div id="nav_menu-12" class="widget widget_nav_menu"><h4>{{ "FOOTER.Headings.LegalDocuments" | translate }}</h4>
                    <div class="menu-legal-container">
                      <ul id="menu-legal" class="menu">
                        <li id="menu-item-393"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-393"><a
                            href="https://www.goldmint.io/uploads/Consumer_data_privacy_Policy.pdf" target="_blank">
                          {{ "FOOTER.Documents.1th" | translate }}
                        </a></li>
                        <li id="menu-item-395"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-395"><a
                            href="https://www.goldmint.io/uploads/KYC_AML_Policy.pdf" target="_blank">
                          {{ "FOOTER.Documents.2th" | translate }}
                        </a></li>
                        <li id="menu-item-394"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-394"><a
                            href="https://www.goldmint.io/uploads/Gold_Coin_Terms_of_sale.pdf" target="_blank">
                          {{ "FOOTER.Documents.3th" | translate }}
                        </a></li>
                      </ul>
                    </div>
                  </div>
                  <div id="nav_menu-3" class="widget widget_nav_menu"><h4>{{ "FOOTER.Headings.GMLegal" | translate }}</h4>
                    <div class="menu-goldmint-legal-container">
                      <ul id="menu-goldmint-legal" class="menu">
                        <li id="menu-item-161"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"><a
                            href="https://www.goldmint.io/uploads/WHITE_PAPER_NEW.pdf" target="_blank">Goldmint Whitepaper</a></li>
                        <li id="menu-item-19"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a
                            href="https://www.goldmint.io/uploads/ACRA_excerpt_Goldmint_PTE_LTD_27.02.18.pdf" target="_blank">ACRA
                          excerpt Goldmint PTE LTD 27.02.18</a></li>
                        <li id="menu-item-20"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a
                            href="https://www.goldmint.io/uploads/Certificate_of_incorporation_(ACRA)_Goldmint_Pte_Ltd.pdf" target="_blank">Certificate
                          of incorporation (ACRA) Goldmint Pte Ltd</a></li>
                        <li id="menu-item-21"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a
                            href="https://www.goldmint.io/uploads/Constitutions_of_Goldmint_Pte_Ltd.pdf" target="_blank">Constitutions
                          of Goldmint Pte Ltd</a></li>
                        <li id="menu-item-22"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22"><a
                            href="https://www.goldmint.io/uploads/Incorporation_of_Company_Goldmint_Pte_Ltd.pdf" target="_blank">Incorporation
                          of Company Goldmint Pte Ltd</a></li>
                        <li id="menu-item-29"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"><a
                            href="https://www.goldmint.io/uploads/Agency_contract_(CyberBridge%20_-_Goldmint).pdf" target="_blank">Agency
                          contract (CyberBridge – Goldmint)</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="qode_column column2">
                <div class="column_inner">
                  <div id="nav_menu-6" class="widget widget_nav_menu"><h4>{{ "FOOTER.Headings.Support" | translate }}</h4>
                    <div class="menu-additional-menu-container">
                      <ul id="menu-additional-menu" class="menu">
                        <li id="menu-item-150"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150"><a
                            href="https://support.goldmint.io" target="_blank">F.A.Q.</a></li>
                        <li id="menu-item-237"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-237"><a
                            href="https://blog.goldmint.io" target="_blank">MEDIUM</a></li>
                      </ul>
                    </div>
                  </div>
                  <div id="text-2" class="widget widget_text"><h4>{{ "FOOTER.Headings.Contacts" | translate }}</h4>
                    <div class="textwidget"><p><span>{{ "FOOTER.Contacts.ForPress" | translate }} <a
                        href="mailto:pr@goldmint.io" target="_blank">pr@goldmint.io</a></span></p>
                      <p><span>{{ "FOOTER.Contacts.ForParticipants" | translate }} <a
                          href="mailto:invest@goldmint.io" target="_blank">invest@goldmint.io</a></span></p>
                      <p><span>{{ "FOOTER.Contacts.ForSupport" | translate }} <a
                          href="mailto:support@goldmint.io" target="_blank">support@goldmint.io</a></span></p>
                    </div>
                  </div>
                  <div id="text-6" class="widget widget_text">
                    <div class="textwidget"><span class="q_social_icon_holder with_link circle_social"><a
                        href="https://blog.goldmint.io" target="_blank"><span class="fa-stack tiny circle_social"><i
                        class="social_icon fa fa-medium"></i></span></a></span>
                      <span class="q_social_icon_holder with_link circle_social"><a
                          href="https://www.facebook.com/goldmint.io" target="_blank"><span
                          class="fa-stack tiny circle_social"><i
                          class="social_icon fa fa-facebook"></i></span></a></span>
                      <span class="q_social_icon_holder with_link circle_social"><a
                          href="https://www.youtube.com/channel/UCtGxlDixGnTB6KLZuMa7btg/videos" target="_blank"><span
                          class="fa-stack tiny circle_social"><i
                          class="social_icon fa fa-youtube"></i></span></a></span>
                      <span class="q_social_icon_holder with_link circle_social"><a
                          href="https://twitter.com/Goldmint_io" target="_blank"><span
                          class="fa-stack tiny circle_social"><i
                          class="social_icon fa fa-twitter"></i></span></a></span>
                      <span class="q_social_icon_holder with_link circle_social"><a
                          href="https://bitcointalk.org/index.php?topic=2091726.0" target="_blank"><span
                          class="fa-stack tiny circle_social"><i
                          class="social_icon fa fa-bitcoin"></i></span></a></span>
                      <span class="q_social_icon_holder with_link circle_social"><a
                          href="https://t.me/goldmintio" target="_blank"><span class="fa-stack tiny circle_social"><i
                          class="social_icon fa fa-telegram"></i></span></a></span>
                      <span class="q_social_icon_holder with_link circle_social"><a
                          href="https://github.com/Goldmint" target="_blank"><span class="fa-stack tiny circle_social"><i
                          class="social_icon fa fa-github"></i></span></a></span>
                      <span class="q_social_icon_holder with_link circle_social"><a
                          href="https://www.reddit.com/r/goldmintio/" target="_blank"><span
                          class="fa-stack tiny circle_social"><i
                          class="social_icon fa fa-reddit"></i></span></a></span>
                    </div>
                  </div>
                  <div id="text-5" class="widget widget_text"><h4>{{ "FOOTER.Headings.LegalAddress" | translate }}</h4>
                    <div class="textwidget"><p><strong>GOLDMINT PTE. Ltd.</strong><br>
                      {{ "FOOTER.LegalAddress" | translate }}</p>
                    </div>
                  </div>
                  <div id="text-3" class="widget widget_text"><h4>{{ "FOOTER.Headings.DevOffice" | translate }}</h4>
                    <div class="textwidget"><p>{{ "FOOTER.DevOffice" | translate }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom_holder">
      <div class="footer_bottom">
        <div class="textwidget">
          <p>
            <span><a href="https://goldmint.io">Goldmint</a>, PTE, Ltd © {{ year }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
