<div class="page">
  <h1 class="page__heading">{{ "PAGES.Home.Heading" | translate }}</h1>

  <div class="page__section section justify-content-center">

    <div class="row align-items-center py-5">
      <div class="col text-right">
        <a class="btn btn-primary" routerLink="/sell">{{ "PAGES.Home.Buttons.Sell" | translate }}</a>
      </div>
      <div class="col-1 mx-3 text-center">{{ "PAGES.Home.Or" | translate }}</div>
      <div class="col">
        <a class="btn btn-primary" routerLink="/buy">{{ "PAGES.Home.Buttons.Buy" | translate }}</a>
      </div>
    </div>

  </div>
</div>
