<div class="page">
  <h1 class="page__heading">PROMOCODES</h1>
  
  <div class="page__section">
    
	
	<div class="trn-info">
      <form class="promocodes w-100" [formGroup]="form" #formDir="ngForm" (ngSubmit)="genPromoCode()">

        <div class="row">
          <div class="col-6 pt-4">
            <div class="from-row form-group">
              <input type="number" class="form-control" placeholder="Discount"
                     [ngClass]="{'is-invalid': form.get('discount').invalid && form.get('discount').dirty}"
                     formControlName="discount">
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="form.get('discount').invalid && form.get('discount').dirty">
                    <span *ngIf="form.get('discount')['errors']['required']">Field is required.</span>
                    <span *ngIf="form.get('discount')['errors']['max']">Maximum value is 100.</span>
                    <span *ngIf="form.get('discount')['errors']['pattern']">Value must be greater than 0.</span>
                </div>
            </div>
          </div>                    
		  
		  <div class="col-6 pt-4">
            <div class="from-row form-group">
              <input type="number" class="form-control" placeholder="Limit"
                     [ngClass]="{'is-invalid': form.get('limit').invalid && form.get('limit').dirty}"
                     formControlName="limit">
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="form.get('limit').invalid && form.get('limit').dirty">
                    <span *ngIf="form.get('limit')['errors']['required']">Field is required.</span>
                    <span *ngIf="form.get('limit')['errors']['pattern']">Value must be greater than 0.</span>
                </div>
            </div>
          </div>  
		  
		  <div class="col-6 pt-4">
            <div class="from-row form-group">
              <input type="number" class="form-control" placeholder="Count"
                     [ngClass]="{'is-invalid': form.get('count').invalid && form.get('count').dirty}"
                     formControlName="count">
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="form.get('count').invalid && form.get('count').dirty">
                    <span *ngIf="form.get('count')['errors']['required']">Field is required.</span>
                    <span *ngIf="form.get('count')['errors']['pattern']">Value must be integer and greater than 0.</span>
                </div>
            </div>
          </div>   		  
		  
		  <div class="col-6 pt-4">
            <div class="from-row form-group">
              <input type="number" class="form-control" placeholder="Days valid"
                     [ngClass]="{'is-invalid': form.get('valid').invalid && form.get('valid').dirty}"
                     formControlName="valid">
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="form.get('valid').invalid && form.get('valid').dirty">
                    <span *ngIf="form.get('valid')['errors']['required']">Field is required.</span>
                    <span *ngIf="form.get('valid')['errors']['pattern']">Value must be integer and greater than 0.</span>
                </div>
            </div>
          </div>  
		  
          <div class="col-lg-auto pb-3 pt-3">
            <button type="submit" class="btn btn-primary btn-generate" [disabled]="form.invalid || !promoCodesWriteAccess">{{ "Generate" }}</button>
          </div>
          <div class="col-12" *ngIf="isDataLoaded && !promoCodesWriteAccess">
            You don't have access rights for generate promo codes
          </div>
        </div>

      </form>
    </div>

  <div>
      <div class="trn-info mt-4">
          <form class="w-100 transparency-form">
              <div class="row align-items-start">
                  <div class="col-lg-3 pt-3">
                      <div class="from-row form-group">
                          <input type="text" class="form-control" placeholder="Filter" name="filter" [(ngModel)]="filterValue">
                      </div>
                  </div>

                  <div class="col-lg-auto pb-3 pt-3">
                      <button type="submit" class="btn btn-sm btn-primary btn-block" (click)="promoCodeFilter()">Filter</button>
                  </div>
              </div>
          </form>
      </div>

      <div>
          <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="onlyApproved" name="onlyApproved" type="checkbox"
                     (change)="onFilterUsed(true)"
                     [(ngModel)]="filterUsed.used">
              <label class="custom-control-label" for="onlyApproved">Only used promo code</label>
          </div>
          <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="onlyDisapprove" name="onlyDisapprove" type="checkbox"
                     (change)="onFilterUsed(false)"
                     [(ngModel)]="filterUsed.unused">
              <label class="custom-control-label" for="onlyDisapprove">Only unused promo code</label>
          </div>
      </div>
  </div>

   <section class="section section--table">

      <div class="section__content user-list-section">
        <ngx-datatable class="table table--no-footer" #table
                       [rows]="rows"
                       [columnMode]="'force'"
                       [sorts]="sorts"
                       [headerHeight]="53"
                       [rowHeight]="'auto'"
                       [footerHeight]="135"
                       [reorderable]="false"
                       [loadingIndicator]="loading"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (sort)="onSort($event)"
                       [externalPaging]="true"
                       (page)='setPage($event)'
                       [messages]="messages">

         <ngx-datatable-column prop="timeCreated" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Created Date
              </span>
            </ng-template>

            <ng-template let-timeCreated="value" let-row="row" ngx-datatable-cell-template>
              {{ row.timeCreated * 1000 | date:'short':'':locale }}
            </ng-template>
        </ngx-datatable-column>
		
		<ngx-datatable-column prop="timeUsed" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Used Date
              </span>
            </ng-template>

            <ng-template let-timeUsed="value" let-row="row" ngx-datatable-cell-template>
              {{ row.timeUsed * 1000 | date:'short':'':locale }}
            </ng-template>
        </ngx-datatable-column>
		
		<ngx-datatable-column prop="timeExpires" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Expired Date
              </span>
            </ng-template>

            <ng-template let-timeExpires="value" let-row="row" ngx-datatable-cell-template>
              {{ row.timeExpires * 1000 | date:'short':'':locale }}
            </ng-template>
        </ngx-datatable-column>
		
		<ngx-datatable-column prop="code" [draggable]="false" [resizeable]="false" [sortable]="false">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                PromoCode
              </span>
        </ng-template>
        </ngx-datatable-column>  
	  	
		<ngx-datatable-column prop="discountValue" [draggable]="false" [resizeable]="false" [sortable]="false">
		<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
				Discount
			</span> 
            </ng-template>

            <ng-template let-discountValue="value" let-row="row" ngx-datatable-cell-template>
              {{ discountValue }}              
            </ng-template>
          </ngx-datatable-column>
		
		<ngx-datatable-column prop="limit" [draggable]="false" [resizeable]="false" [sortable]="false">
		<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="datatable-header-cell-wrapper" (click)="sort()">
				Limit
			</span> 
            </ng-template>

            <ng-template let-limit="value" let-row="row" ngx-datatable-cell-template>
              {{ limit  }}              
            </ng-template>
          </ngx-datatable-column>
		
		
		<ngx-datatable-column prop="username" [draggable]="false" [resizeable]="false" [sortable]="false">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Users.Table.UserName" | translate }}
              </span>
        </ng-template>

        <ng-template let-username="value" let-row="row" ngx-datatable-cell-template>
          {{ username }}
        </ng-template>
        </ngx-datatable-column>   
		

        </ngx-datatable>

        <ul class="pagination pagination--small mb-5" *ngIf="page.totalElements">
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
              <svg class="icon icon--previous" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
              <svg class="icon icon--next" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>
    </section>

  </div>
</div>


