<div class="page">
  <h1 class="page__heading">{{ "PAGES.Telemetry.Heading" | translate }}</h1>

  <div class="page__section">
    <div class="mb-5 config-table">
      <div class="trn-info__label mb-2">Config</div>
      <json-editor #configEditor [options]="editorOptionsConfig"></json-editor>
      <div class="text-right">
        <button class="btn btn-primary mt-5" (click)="setConfig()">Save</button>
      </div>
    </div>

    <div class="trn-info__label mb-2">Telemetry</div>
    <div class="telemetry-online">
      <json-editor #telemetryEditorOnLine [options]="editorOptionsTelemetryOnLine"></json-editor>
    </div>
    <div class="telemetry-table">
      <json-editor #telemetryEditor [options]="editorOptionsTelemetry"></json-editor>
    </div>


    <!--<div class="row justify-content-end">-->
      <!--<div class="col-4 d-flex flex-column align-items-center">-->
        <!--<div class="text-center mb-2">-->
          <!--<svg class="icon" width="50" height="50">-->
            <!--<use xlink:href="#goldbuy-history"></use>-->
          <!--</svg>-->
        <!--</div>-->
        <!--<div class="custom-control custom-checkbox">-->
          <!--<input class="custom-control-input" id="stopBuy" name="stopBuy" type="checkbox">-->
          <!--<label class="custom-control-label" for="stopBuy">Stop buy transactions</label>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-4 d-flex flex-column align-items-center">-->
        <!--<div class="text-center mb-2">-->
          <!--<svg class="icon" width="50" height="50">-->
            <!--<use xlink:href="#goldsell-history"></use>-->
          <!--</svg>-->
        <!--</div>-->
        <!--<div class="custom-control custom-checkbox">-->
          <!--<input class="custom-control-input" id="stopSell" name="stopSell" type="checkbox">-->
          <!--<label class="custom-control-label" for="stopSell">Stop sell transactions</label>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-4 d-flex flex-column align-items-center">-->
        <!--<div class="text-center mb-2">-->
          <!--<svg class="icon" width="50" height="50">-->
            <!--<use xlink:href="#account-verified"></use>-->
          <!--</svg>-->
        <!--</div>-->
        <!--<div class="custom-control custom-checkbox">-->
          <!--<input class="custom-control-input" id="stopRegistration" name="stopRegistration" type="checkbox">-->
          <!--<label class="custom-control-label" for="stopRegistration">Stop registration new accounts</label>-->
        <!--</div>-->
      <!--</div>-->

      <!--<button class="btn btn-primary mt-5" (click)="save()">Save</button>-->
    <!--</div>-->
  </div>
</div>
