<div class="page">
  <h1 class="page__heading">{{ "PAGES.Home.Heading" | translate }}</h1>

  <div class="page__section section justify-content-center">

    <div class="row align-items-center py-5">
      <div class="col-12 text-center">
        <a class="btn btn-primary" routerLink="/sell">{{ "PAGES.Home.Buttons.Sell" | translate }}</a>
      </div>
      <!--<div class="col-12 col-sm-2 text-center text-sm-center py-2 py-sm-0">{{ "PAGES.Home.Or" | translate }}</div>-->
      <!--<div class="col-12 col-sm-5 text-center text-sm-left">-->
        <!--<a class="btn btn-primary" routerLink="/buy">{{ "PAGES.Home.Buttons.Buy" | translate }}</a>-->
      <!--</div>-->
    </div>

  </div>
</div>
