<nav class="navbar">
  <ul class="nav nav-pills nav-justified">

    <ng-container *ngIf="activeMenuItem == 'exchange'">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/sell">{{ "HEADER.Menu.Sell" | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/finance">{{ "HEADER.Menu.Finance" | translate }}</a>
      </li>
    </ng-container>

    <ng-container *ngIf="activeMenuItem == 'masterNode'">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/master-node">{{ "HEADER.Menu.LaunchMasterNode" | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/blockchain-pool">{{ "HEADER.Menu.Pool" | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/buy-mntp">{{ "HEADER.Menu.BuyMntp" | translate }}</a>
      </li>
    </ng-container>

    <ng-container *ngIf="activeMenuItem == 'scanner'">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/scanner">{{ "HEADER.Menu.Transactions" | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/pawnshop-loans/feed">{{ "HEADER.Menu.Pawnshops" | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/nodes">{{ "HEADER.Menu.Nodes" | translate }}</a>
      </li>
    </ng-container>
  </ul>
</nav>
