<nav class="navbar">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/buy" (click)="hideMobileMenu(true)">{{ "HEADER.Menu.Buy" | translate }}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/sell" (click)="hideMobileMenu(true)">{{ "HEADER.Menu.Sell" | translate }}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/finance" (click)="hideMobileMenu(true)">{{ "HEADER.Menu.Finance" | translate }}</a>
    </li>
  </ul>
</nav>
