<section class="page__section section section--warning section--no-bottom">
    <h2 class="section__title section__title--warning">
        <svg class="icon" width="18px" height="16px">
            <use xlink:href="#warning"></use>
        </svg>
        KYC Verification
    </h2>

    <div class="section__content pt-4">
        <div class="text-center">
            <div>We've received your payment and are ready to send you GOLD coins. <br> According to <a class="a-link" routerLink="/tos-verification">ToS</a> you've signed you should complete KYC verification</div>

            <button type="button" class="btn btn-primary mt-4" routerLink="/account/verification">VERIFY</button>
        </div>
    </div>
</section>
