<ng-container *ngIf="page === pages.Default">
  <section class="page__section section section--table">
    <h2 class="section__title">{{ "PAGES.Withdraw.SectionTitle" | translate }}</h2>

    <div class="section__content pt-4">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading; else blockLoaded">
        <div class="container"></div>
      </div>

      <ng-template #blockLoaded>

        <!-- KYC REQUIRED -->
        <ng-container *ngIf="!user.verifiedL1; else blockMethods">

          <p class="mb-5" [innerHTML]=" 'PAGES.Finance.KYC.Text' | translate "></p>

          <div class="row kyc-pros mb-4 pb-2">
            <div class="col">
              <svg class="kyc-pros__icon" width="33px" height="44px">
                <use xlink:href="#verify-secure"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
            </div>
            <div class="col">
              <svg class="kyc-pros__icon" width="28px" height="44px">
                <use xlink:href="#verify-simple"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
            </div>
            <div class="col">
              <svg class="kyc-pros__icon" width="36px" height="44px">
                <use xlink:href="#verify-complaint"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
            </div>
            <div class="col-auto pl-4 ml-2 align-self-center pb-3">
              <a routerLink="/account/verification" class="btn btn-primary btn-block mb-4">{{ "PAGES.Withdraw.Buttons.Start" | translate }}</a>
            </div>
          </div>
        </ng-container>

        <ng-template #blockMethods>

          <!-- TFA REQUIRED -->
          <ng-container *ngIf="!tfaInfo.enabled">

            <p class="mb-5" [innerHTML]=" 'PAGES.Withdraw.TFA.Text' | translate "></p>

            <div class="row kyc-pros mb-4 pb-2">
              <div class="col">
                <svg class="kyc-pros__icon" width="33px" height="44px">
                  <use xlink:href="#verify-secure"></use>
                </svg>
                <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
                <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
              </div>
              <div class="col">
                <svg class="kyc-pros__icon" width="28px" height="44px">
                  <use xlink:href="#verify-simple"></use>
                </svg>
                <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
                <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
              </div>
              <div class="col">
                <svg class="kyc-pros__icon" width="36px" height="44px">
                  <use xlink:href="#verify-complaint"></use>
                </svg>
                <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
                <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
              </div>
              <div class="col-auto pl-4 ml-2 align-self-center pb-3">
                <a routerLink="/account/2fa" class="btn btn-primary btn-block mb-4">{{ "PAGES.Withdraw.TFA.Button" | translate }}</a>
              </div>
            </div>

          </ng-container>

          <!-- WITHDRAWAL METHODS -->
          <ng-container *ngIf="tfaInfo.enabled">
            <div class="row mb-4">
              <div class="col col-lg-6 col-xl form-group text-center">
                <label for="btnCapital">Crypto capital</label>
                <button class="btn btn-primary btn-block" id="btnCapital" (click)="goto(pages.CryptoCapital)">
                  <svg class="icon" width="56px" height="56px">
                    <use xlink:href="#payment-crypto"></use>
                  </svg>
                </button>
              </div>

              <div class="col col-lg-6 col-xl form-group text-center">
                <label for="btnCryptoCapital">{{ "PAGES.Withdraw.Method.CryptoCapital" | translate }}</label>
                <button class="btn btn-primary btn-block" id="btnCryptoCapital" (click)="goto(pages.CryptoCurrency)">
                  <svg class="icon" width="56px" height="56px">
                    <use xlink:href="#payment-crypto"></use>
                  </svg>
                </button>
              </div>
              <div class="col col-lg-6 col-xl form-group text-center">
                <label for="btnPaymentCard">{{ "PAGES.Withdraw.Method.Card" | translate }}</label>
                <button class="btn btn-primary btn-block" id="btnPaymentCard"
                        [disabled]="userUsdBalance < minAmount"
                        (click)="goto(pages.CardsList)">
                  <svg class="icon" width="56px" height="56px">
                    <use xlink:href="#payment-card"></use>
                  </svg>
                </button>
                <div *ngIf="!loading && userUsdBalance !== null">
                  <div class="text-left pt-1 blocked-notification text-center" *ngIf="userUsdBalance < minAmount">
                    Your balance is less than minimal method limit
                  </div>
                </div>
              </div>
              <div class="col col-lg-6 col-xl form-group text-center">
                <label for="btnPaymentBank">{{ "PAGES.Withdraw.Method.Transfer" | translate }}</label>
                <button class="btn btn-primary btn-block" id="btnPaymentBank"
                        [disabled]="(limits.current.withdraw.day < limits.paymentMethod.swift.withdraw.min ||
                                    userUsdBalance < limits.paymentMethod.swift.withdraw.min)"
                        (click)="goto(pages.BankTransfer)">
                  <svg class="icon" width="107px" height="56px">
                    <use xlink:href="#payment-bank"></use>
                  </svg>
                </button>
                <div *ngIf="!loading && userUsdBalance !== null">
                  <div class="text-left pt-1 blocked-notification text-center" *ngIf="limits.current.withdraw.day < limits.paymentMethod.swift.withdraw.min">
                    Your daily limit is less than minimal method limit
                  </div>
                  <div class="text-left pt-1 blocked-notification text-center" *ngIf="userUsdBalance < limits.paymentMethod.swift.withdraw.min">
                    Your balance is less than minimal method limit
                  </div>
                </div>
              </div>
            </div>

            <div class="row pb-4 mb-3">

              <tabset class="col tabs">
                <tab heading='{{ "PAGES.Withdraw.Table.Menu.Daily" | translate }}'>
                  <div class="limits-bar">
                    <div class="limits-bar__caption">
                      <span>{{ "PAGES.Withdraw.Table.Heading" | translate }}</span>
                      <a routerLink="/account/verification" class="limits-bar__increase" *ngIf="limitsIncrease">
                        <svg class="icon" width="20px" height="20px">
                          <use xlink:href="#increase"></use>
                        </svg>
                        <span>{{ "PAGES.Withdraw.Table.Increase" | translate }}</span>
                      </a>
                    </div>
                    <div class="limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngClass]="{'w-50': user.verifiedL0 && !user.verifiedL1, 'w-100': user.verifiedL0 && user.verifiedL1 }"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          <span>{{ "PAGES.Withdraw.Table.Available" | translate }}</span>
                          <div class="limits-bar__value">{{limits.current.withdraw.day | currency}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          {{ "PAGES.Withdraw.Table.Limit" | translate }}
                          <div class="limits-bar__value">{{(limits.levels.current.withdraw.day - limits.current.withdraw.day) | currency}} of {{limits.levels.current.withdraw.day | currency}}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-0">
                    <div class="col p-0 limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngStyle]="{'width':limits.current.withdraw.day*100/limits.levels.current.withdraw.day + '%'}"
                           [ngClass]="{full: limits.current.withdraw.day/limits.levels.current.withdraw.day > 0.66, empty: limits.current.withdraw.day/limits.levels.current.withdraw.day < 0.33}"
                      ></div>
                    </div>
                  </div>
                </tab>

                <tab heading='{{ "PAGES.Withdraw.Table.Menu.Monthly" | translate }}'>
                  <div class="limits-bar">
                    <div class="limits-bar__caption">
                      <span>{{ "PAGES.Withdraw.Table.Heading" | translate }}</span>
                      <a routerLink="/account/verification" class="limits-bar__increase" *ngIf="limitsIncrease">
                        <svg class="icon" width="20px" height="20px">
                          <use xlink:href="#increase"></use>
                        </svg>
                        <span>{{ "PAGES.Withdraw.Table.Increase" | translate }}</span>
                      </a>
                    </div>
                    <div class="limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngClass]="{'w-50': user.verifiedL0 && !user.verifiedL1, 'w-100': user.verifiedL0 && user.verifiedL1 }"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          <span>{{ "PAGES.Withdraw.Table.Available" | translate }}</span>
                          <div class="limits-bar__value">{{limits.current.withdraw.month | currency}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          {{ "PAGES.Withdraw.Table.Limit" | translate }}
                          <div class="limits-bar__value">{{(limits.levels.current.withdraw.month - limits.current.withdraw.month) | currency}} of {{limits.levels.current.withdraw.month | currency}}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-0">
                    <div class="col p-0 limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngStyle]="{'width': limits.current.withdraw.month*100/(limits.levels.current.withdraw.month || 1) + '%'}"
                           [ngClass]="{full: limits.current.withdraw.month/(limits.levels.current.withdraw.month || 1) > 0.66, empty: limits.current.withdraw.month/(limits.levels.current.withdraw.month || 1) < 0.33}"
                      ></div>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </ng-container>
        </ng-template>
      </ng-template>
    </div>
  </section>

</ng-container>

<ng-container *ngIf="page === pages.CryptoCapital">
  <section class="page__section section">
    <h2 class="section__title">Crypto Capital</h2>
    <div class="section__content">
      <form #cryptoCapitalForm="ngForm">

        <div class="form-group">
          <label for="cc-amount">Amount</label>
            <input type="number" class="form-control" id="cc-amount" name="ccAmount"
                     [(ngModel)]="ccData.amount" #ccAmount="ngModel" required
                     [ngClass]="{'is-invalid': (ccAmount.value <= 0 || ccAmount.invalid) && ccAmount.touched}">
            <div class="invalid-feedback" *ngIf="(ccAmount.value <= 0 || ccAmount.invalid) && ccAmount.touched">
              Invalid amount
          </div>
        </div>

        <div class="form-group">
          <label for="cc-number">Specify your Crypto Capital number</label>
          <div class="d-flex">
            <div class="w-100">
              <input type="number" class="form-control" id="cc-number" name="ccNumber"
                     [(ngModel)]="ccData.number" #ccNumber="ngModel" required
                     [ngClass]="{'is-invalid': ccNumber.invalid && ccNumber.touched}">
              <div class="invalid-feedback" *ngIf="ccNumber.invalid && ccNumber.touched">
                Field is required
              </div>
            </div>
            <div (click)="showModalAttention()">
              <svg class="icon cc-info-icon ml-2" width="25" height="38">
                <use xlink:href="#info"></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="form-group">
          <p>Pay attention that each Crypto Capital account in each currency should be verified by GoldMint.io. You can proceed with unverified account as well, but the payment will be processed only after verification of your Crypto Capital account.</p>
          <p>Please note that if the withdrawal currency differs from the currency of your  Crypto Capital account? conversion fees may be applied.</p>
        </div>

        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="agreeCheck" name="agreeCheck"
                     [(ngModel)]="ccData.agree" #ccAgree="ngModel" required>
            <label class="custom-control-label custom-control-label-reg" for="agreeCheck">I have read, understood and agree with above mentioned policies.</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary"
                    (click)="cryptoCapitalWithdraw()"
                    [disabled]="cryptoCapitalForm.invalid || cryptoCapitalForm.untouched || ccAmount.value <= 0 || loading">Proceed</button>
          <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
        </div>
      </form>
    </div>

  </section>
</ng-container>

<ng-container *ngIf="page === pages.CryptoCurrency">
  <section class="page__section section">
    <h2 class="section__title">{{ "PAGES.Withdraw.CryptoCapital.Heading" | translate }}</h2>

    <div class="btn-group mt-4">
      <label class="btn btn-primary btn-sm disabled" disabled>BTC</label>
      <label class="btn btn-primary btn-sm"
             [ngClass]="{'active': currentCoin === coinList[1]}"
             (click)="chooseCurrentCoin(coinList[1])">Eth</label>
    </div>

    <div class="pt-4">
      <form action="#">
        <div class="row align-items-start">
          <div class="col-12 pb-4">
            <div class="from-row form-group">
              <label for="input_btc">{{ "PAGES.Withdraw.CryptoCapital.Labels.Amount" | translate }}</label>
              <div class="d-flex align-items-center">
                <div class="form-currency">
                  <svg class="icon" width="30" height="30">
                    <use xlink:href="#cur-usd"></use>
                  </svg>
                </div>
                <input type="number" class="form-control" name="input_btc" id="input_btc"
                       min="0" step="0.1"
                       [(ngModel)]="usdAmount"
                       (input)="onCryptoCurrencyChanged($event.target.value)"
                       [ngClass]="{'is-invalid': estimatedAmount <= 0}"
                >
              </div>
              <div class="invalid-feedback" *ngIf="estimatedAmount <= 0">
                {{ "PAGES.Withdraw.CryptoCapital.Errors.Invalid" | translate }}
              </div>
            </div>
          </div>
          <div class="col-12 pb-4">
            <div class="from-row form-group ">
              <label for="input_BtcEstimateAmount">{{ "PAGES.Withdraw.CryptoCapital.Labels.EstimatesAmount" | translate }}</label>
              <div class="d-flex align-items-center">
                <div class="form-currency">
                  <svg class="icon" width="30" height="30">
                    <use xlink:href="#bitcoin" *ngIf="currentCoin === coinList[0]"></use>
                    <use xlink:href="#etherium" *ngIf="currentCoin === coinList[1]"></use>
                  </svg>
                </div>
                <input type="text" class="form-control" id="input_BtcEstimateAmount" name="estimates-amount" readonly [value]="estimatedAmount">
              </div>
            </div>
          </div>

          <div class="mb-5">
            <button type="submit" class="btn btn-primary" [disabled]="estimatedAmount <= 0">{{ "BUTTONS.Withdraw" | translate }}</button>
          </div>
        </div>

      </form>
    </div>

  </section>
</ng-container>

<ng-container *ngIf="page === pages.CardsList">
  <section class="page__section section section--table">
    <div class="disable-content-block"><span>Coming Soon</span></div>
    <h2 class="section__title">{{ "PAGES.Withdraw.CardsList.SectionTitle" | translate }}</h2>

    <div class="section__content pt-4">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading">
        <div class="container"></div>
      </div>

      <ng-container *ngIf="cards && cards.list.length; else noCardsBlock">
        <form name="depositForm" (ngSubmit)="depositForm.form.valid && submit()" #depositForm="ngForm" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="selectCard">{{ "PAGES.Withdraw.PaymentCard.Labels.SelectCard" | translate }}</label>
                <div class="d-flex align-items-center">
                  <div class="form-currency">
                    <svg class="icon" width="30px" height="30px" >
                      <use xlink:href="#payment-card"></use>
                    </svg>
                  </div>
                  <select id="selectCard" class="form-control" #assetBuySelect required
                          name="cardId" [(ngModel)]="depositModel.cardId" #cardId="ngModel"
                          [ngClass]="{'is-invalid': (errors?.CardId || !cardId.valid) && (depositForm.submitted || !cardId.pristine)}"
                          (ngModelChange)="errors.CardId = false"
                          [disabled]="processing">
                    <option *ngFor="let card of cards.list" [value]="card.cardId">{{ card.mask }}</option>
                  </select>
                </div>
                <div class="invalid-feedback" *ngIf="errors?.CardId">
                  {{ errors?.CardId }}
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="inputAmount">{{ "PAGES.Withdraw.PaymentCard.Labels.Amount" | translate }}</label>
                <div class="d-flex align-items-center">
                  <div class="form-currency form-currency--usd">
                    <svg class="icon" width="30">
                      <use xlink:href="#cur-usd"></use>
                    </svg>
                  </div>
                  <input type="number" min="{{minAmount}}" max="{{maxAmount}}" step="0.01" required
                         class="form-control" id="inputAmount"
                         name="amount" [(ngModel)]="depositModel.amount" #amount="ngModel"
                         [ngClass]="{'is-invalid': (amount.dirty && !cardWithdrawChecked) || (errors?.Amount || !amount.valid) && (depositForm.submitted || !amount.pristine)}"
                         (ngModelChange)="errors.Amount = false"
                         (input)="checkCardWithdraw(depositModel.amount)"
                         [readonly]="processing">
                </div>
                <div class="invalid-feedback" *ngIf="depositModel.amount < minAmount">
                  {{ "PAGES.Withdraw.PaymentCard.Errors.Minimal" | translate }} {{ minAmount | currency }}
                </div>
                <div class="invalid-feedback" *ngIf="depositModel.amount > maxAmount">
                  {{ "PAGES.Withdraw.PaymentCard.Errors.Maximum" | translate }} {{ maxAmount | currency }}
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="inputCode">Two-factor authentication code</label>
                <div class="d-flex align-items-center">
                  <div class="form-currency form-currency--usd">
                    <svg class="icon" width="30">
                      <use xlink:href="#verify-secure"></use>
                    </svg>
                  </div>
                  <input type="text" required minlength="6" maxlength="6" autocomplete="off"
                         class="form-control" id="inputCode"
                         name="code" [(ngModel)]="depositModel.code" #code="ngModel"
                         [ngClass]="{'is-invalid': code.invalid && code.dirty}"
                         [readonly]="processing" pattern="\d+">
                </div>
                <div class="invalid-feedback" *ngIf="code.invalid && code.dirty">
                  Code should be 6-digits length
                </div>
              </div>
            </div>

            <div class="col-12 pt-3 pb-3 text-right">
              <img *ngIf="processing" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
              <button type="submit" class="btn btn-primary" [disabled]="depositForm.invalid || depositForm.pristine || depositModel.amount < minAmount || depositModel.amount > maxAmount || processing">{{ "PAGES.Withdraw.Buttons.Proceed" | translate }}</button>
            </div>
          </div>
        </form>

        <section class="page__section section section--table">
          <h2 class="section__title">{{ "PAGES.Finance.TableLimits.Heading" | translate }}</h2>
          <table class="mt-3" *ngIf="!loading">
            <tr class="limits-header-row">
              <td class="limits-text-bold limits-word-break">{{ "PAGES.Finance.TableLimits.Table.Heading.AccountType" | translate }}</td>
              <td class="text-center limits-word-break">{{ "PAGES.Finance.TableLimits.Table.Heading.Basic" | translate }}</td>
              <td class="text-center limits-word-break">{{ "PAGES.Finance.TableLimits.Table.Heading.Verified" | translate }}</td>
            </tr>
            <tr class="limits-daily-row">
              <td class="limits-bg-cell limits-text-bold">{{ "PAGES.Finance.TableLimits.Table.Labels.Daily" | translate }}</td>
              <td class="text-center limits-border-right-cell">{{ limits.levels.l0.withdraw.day }}</td>
              <td class="text-center limits-border-cell limits-border-bottom-cell">
                {{ limits.levels.l1.withdraw.day }}
                <div class="limits-font-size-small">
                  {{ "PAGES.Finance.TableLimits.Table.Labels.LimitUsed" | translate }}
                  {{ limits.levels.l1.withdraw.day - limits.current.withdraw.day }}
                </div>
              </td>
            </tr>
            <tr class="limits-monthly-row">
              <td class="limits-bg-cell limits-text-bold">{{ "PAGES.Finance.TableLimits.Table.Labels.Monthly" | translate }}</td>
              <td class="text-center limits-border-right-cell">{{ limits.levels.l0.withdraw.month }}</td>
              <td class="text-center limits-border-cell">
                {{ limits.levels.l1.withdraw.month }}
                <div class="limits-font-size-small">
                  {{ "PAGES.Finance.TableLimits.Table.Labels.LimitUsed" | translate }}
                  {{ limits.levels.l1.withdraw.month - limits.current.withdraw.month }}
                </div>
              </td>
            </tr>
          </table>
        </section>
      </ng-container>

      <ng-template #noCardsBlock>
        <div class="row">
          <div class="col">
            <a routerLink="/account/cards" class="btn btn-primary">{{ "PAGES.Withdraw.Buttons.AddCard" | translate }}</a>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="page === pages.CardsListSuccess">
  <section class="page__section section section--table">
    <h2 class="section__title">{{ "PAGES.Withdraw.CardsList.Processed" | translate }}</h2>
    <div class="pt-4">
      <button type="submit" (click)="page = pages.CardsList" class="btn btn-primary">{{ "PAGES.Withdraw.Buttons.Done" | translate }}</button>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="page === pages.BankTransfer">
 <div class="disable-content-block"><span>Coming Soon</span></div>
  <div *ngIf="currentTransferBlock === bankTransferBlock[0]" class="section">
    <h2 class="section__title">Bank transfer</h2>
    <div class="section__content pb-4">
      <form [formGroup]="bankTransferForm" (ngSubmit)="bankTransferSendRequest()">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="selectBankAccount">Bank account</label>
              <select id="selectBankAccount" class="custom-select" name="bankAccount" formControlName="selectBankAccount">
                <option *ngFor="let b of bankTransferList" [value]="b.templateId">{{ b.bank }}</option>
              </select>
            </div>
          </div>

          <div class="col-lg-3 mt-lg-4 mb-3 text-right add-btn-block">
            <button type="button" class="btn btn-primary btn-sm w-100" (click)="currentTransferBlock = bankTransferBlock[1]">Add account</button>
          </div>

          <div class="col-lg-3 mt-lg-4 mb-3 text-right add-btn-block">
            <button type="button" class="btn btn-primary btn-sm w-100" (click)="currentTransferBlock = bankTransferBlock[2]">Remove account</button>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="selectBankAccount">Amount</label>
              <input type="number" class="form-control" formControlName="bankTransferAmount"
                     [ngClass]="{'is-invalid': bankTransferForm.get('bankTransferAmount').invalid}"
              >
              <div *ngIf="bankTransferForm.get('bankTransferAmount').invalid">
                <div class="invalid-feedback" *ngIf="bankTransferForm.get('bankTransferAmount')['errors']['min']">
                  Minimal amount is {{ limits.paymentMethod.swift.withdraw.min }}
                </div>
                <div class="invalid-feedback" *ngIf="bankTransferForm.get('bankTransferAmount')['errors']['max']">
                  Maximum amount is {{ maxBankTransferAmount }}
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="selectBankAccount">Fee:</label>
              <span>$15</span>
            </div>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary"
                    [disabled]="bankTransferForm.invalid || bankTransferForm.get('bankTransferAmount').value <= 0 || loading">
              Send request
            </button>
            <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
          </div>
        </div>
      </form>
    </div>

    <section class="page__section section section--table">
      <h2 class="section__title">{{ "PAGES.Finance.TableLimits.Heading" | translate }}</h2>
      <table class="mt-3" *ngIf="isDataLoaded">
        <tr class="limits-header-row">
          <td class="limits-text-bold limits-word-break">{{ "PAGES.Finance.TableLimits.Table.Heading.AccountType" | translate }}</td>
          <td class="text-center limits-word-break">{{ "PAGES.Finance.TableLimits.Table.Heading.Basic" | translate }}</td>
          <td class="text-center limits-word-break">{{ "PAGES.Finance.TableLimits.Table.Heading.Verified" | translate }}</td>
        </tr>
        <tr class="limits-daily-row">
          <td class="limits-bg-cell limits-text-bold">{{ "PAGES.Finance.TableLimits.Table.Labels.Daily" | translate }}</td>
          <td class="text-center limits-border-right-cell">{{ limits.levels.l0.withdraw.day }}</td>
          <td class="text-center limits-border-cell limits-border-bottom-cell">
            {{ limits.levels.l1.withdraw.day }}
            <div class="limits-font-size-small">
              {{ "PAGES.Finance.TableLimits.Table.Labels.LimitUsed" | translate }}
              {{ limits.levels.l1.withdraw.day - limits.current.withdraw.day }}
            </div>
          </td>
        </tr>
        <tr class="limits-monthly-row">
          <td class="limits-bg-cell limits-text-bold">{{ "PAGES.Finance.TableLimits.Table.Labels.Monthly" | translate }}</td>
          <td class="text-center limits-border-right-cell">{{ limits.levels.l0.withdraw.month }}</td>
          <td class="text-center limits-border-cell">
            {{ limits.levels.l1.withdraw.month }}
            <div class="limits-font-size-small">
              {{ "PAGES.Finance.TableLimits.Table.Labels.LimitUsed" | translate }}
              {{ limits.levels.l1.withdraw.month - limits.current.withdraw.month }}
            </div>
          </td>
        </tr>
      </table>
    </section>
  </div>

  <div *ngIf="currentTransferBlock === bankTransferBlock[1]" class="section">
    <h2 class="section__title">Add account</h2>
    <div class="section__content pb-4">
      <form [formGroup]="addBankForm">
        <div class="row">

          <div class="col-12">
            <div class="form-group">
              <label for="selectBankAccount">Description</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control" formControlName="description" placeholder="Unique description used to identify this bank account">
                <svg class="asterisk add-account-asterisk" width="6px" height="6px">
                  <use xlink:href="#asterisk"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="selectBankAccount">Name on account</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control" formControlName="accountName" placeholder="The name on this bank account must match this account">
                <svg class="asterisk add-account-asterisk" width="6px" height="6px">
                  <use xlink:href="#asterisk"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="selectBankAccount">IBAN</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control" formControlName="iban">
                <svg class="asterisk add-account-asterisk" width="6px" height="6px">
                  <use xlink:href="#asterisk"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="selectBankAccount">Bank name</label>
              <div class="d-flex align-items-center">
                <input type="text" class="form-control" formControlName="bankName">
                <svg class="asterisk add-account-asterisk" width="6px" height="6px">
                  <use xlink:href="#asterisk"></use>
                </svg>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <label for="selectBankAccount">BIC</label>
              <div class="d-flex align-items-center">
                <input type="number" class="form-control" formControlName="bic">
                <svg class="asterisk add-account-asterisk" width="6px" height="6px">
                  <use xlink:href="#asterisk"></use>
                </svg>
              </div>
            </div>
          </div>

            <div class="col-12">
              <div class="form-group">
                <label for="selectBankAccount">Address</label>
                <div class="d-flex align-items-center">
                  <textarea class="w-100" class="form-control" name="address" rows="5" formControlName="address" placeholder="The physical address of your bank's branch? including the country"></textarea>
                  <svg class="asterisk add-account-asterisk" width="6px" height="6px">
                    <use xlink:href="#asterisk"></use>
                  </svg>
                </div>
              </div>
            </div>

          <div class="col-lg-6">
            <button type="button" class="btn btn-primary" (click)="currentTransferBlock = bankTransferBlock[0]" [disabled]="loading">Back</button>
          </div>

          <div class="col-lg-6 text-right">
            <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
            <button type="button" class="btn btn-primary" (click)="addBankAccount()" [disabled]="addBankForm.invalid || loading">Save bank account</button>
          </div>

        </div>
      </form>
    </div>
  </div>

  <div *ngIf="currentTransferBlock === bankTransferBlock[2]" class="section">
    <h2 class="section__title">Remove account</h2>
    <div class="section__content pb-4">
      <div class="row">

        <div class="col-12">
          <div class="form-group">
            <label for="removeBankAccount">Bank account</label>
            <select id="removeBankAccount" class="custom-select" name="removeBankAccount" [(ngModel)]="bankTemplateIdForRemove">
              <option *ngFor="let b of bankTransferList" [value]="b.templateId">{{ b.bank }}</option>
            </select>
          </div>
        </div>

        <div class="col-6">
          <button type="button" class="btn btn-primary" (click)="currentTransferBlock = bankTransferBlock[0]" [disabled]="loading">Back</button>
        </div>

        <div class="col-6 text-right">
          <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
          <button type="button" class="btn btn-primary" (click)="removeBankAccount()" [disabled]="!bankTemplateIdForRemove || loading">Remove bank account</button>
        </div>

      </div>
    </div>
  </div>
</ng-container>
