@import 'variables'

.section
  &--withdraw-warning
    display: inline-block
    width: 100%

.form-currency--usd .icon
  width: 30px

.limits-header-row td
  padding: 8px 10px

.limits-daily-row td, .limits-monthly-row td
  border: 2px solid $color-gray-3
  padding: 8px 10px

.limits-bg-cell
  background: $color-brand-active

td.limits-border-cell
  border: 2px solid $color-brand

td.limits-border-bottom-cell
  border-bottom: 2px solid $color-gray-3

td.limits-border-right-cell
  border-right: 2px solid $color-brand

.limits-text-bold
  font-weight: 500

.font-weight-500
  font-weight: 500

.limits-word-break
  word-break: break-word

.limits-font-size-small
  font-size: 0.875rem