<ng-container *ngIf="page === pages.Default">
  <section class="page__section section section--table">
    <h2 class="section__title">{{ "PAGES.Withdraw.SectionTitle" | translate }}</h2>

    <div class="section__content pt-4">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading; else blockLoaded">
        <div class="container"></div>
      </div>

      <ng-template #blockLoaded>

        <!-- KYC REQUIRED -->
        <ng-container *ngIf="!user.verifiedL1; else blockMethods">

          <p class="mb-5" [innerHTML]=" 'PAGES.Withdraw.KYC.Text' | translate "></p>

          <div class="row kyc-pros mb-4 pb-2">
            <div class="col">
              <svg class="kyc-pros__icon" width="33px" height="44px">
                <use xlink:href="#verify-secure"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Withdraw.KYC.Pros.Secure.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Withdraw.KYC.Pros.Secure.Text" | translate }}</p>
            </div>
            <div class="col">
              <svg class="kyc-pros__icon" width="28px" height="44px">
                <use xlink:href="#verify-simple"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Withdraw.KYC.Pros.Simple.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Withdraw.KYC.Pros.Simple.Text" | translate }}</p>
            </div>
            <div class="col">
              <svg class="kyc-pros__icon" width="36px" height="44px">
                <use xlink:href="#verify-complaint"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Withdraw.KYC.Pros.Complaint.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Withdraw.KYC.Pros.Complaint.Text" | translate }}</p>
            </div>
            <div class="col-auto pl-4 ml-2 align-self-center pb-3">
              <a routerLink="/account/verification" class="btn btn-primary btn-block mb-4">{{ "PAGES.Withdraw.KYC.Button" | translate }}</a>
            </div>
          </div>
        </ng-container>

        <ng-template #blockMethods>

          <!-- TFA REQUIRED -->
          <ng-container *ngIf="!tfaInfo.enabled">

            <p class="mb-5" [innerHTML]=" 'PAGES.Withdraw.TFA.Text' | translate "></p>

            <div class="row kyc-pros mb-4 pb-2">
              <div class="col">
                <svg class="kyc-pros__icon" width="33px" height="44px">
                  <use xlink:href="#verify-secure"></use>
                </svg>
                <div class="kyc-pros__title">{{ "PAGES.Withdraw.TFA.Pros.Secure.Title" | translate }}</div>
                <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Withdraw.TFA.Pros.Secure.Text" | translate }}</p>
              </div>
              <div class="col">
                <svg class="kyc-pros__icon" width="28px" height="44px">
                  <use xlink:href="#verify-simple"></use>
                </svg>
                <div class="kyc-pros__title">{{ "PAGES.Withdraw.TFA.Pros.Simple.Title" | translate }}</div>
                <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Withdraw.TFA.Pros.Simple.Text" | translate }}</p>
              </div>
              <div class="col">
                <svg class="kyc-pros__icon" width="36px" height="44px">
                  <use xlink:href="#verify-complaint"></use>
                </svg>
                <div class="kyc-pros__title">{{ "PAGES.Withdraw.TFA.Pros.Complaint.Title" | translate }}</div>
                <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Withdraw.TFA.Pros.Complaint.Text" | translate }}</p>
              </div>
              <div class="col-auto pl-4 ml-2 align-self-center pb-3">
                <a routerLink="/account/2fa" class="btn btn-primary btn-block mb-4">{{ "PAGES.Withdraw.TFA.Button" | translate }}</a>
              </div>
            </div>

          </ng-container>

          <!-- WITHDRAWAL METHODS -->
          <ng-container *ngIf="tfaInfo.enabled">
            <div class="row">
              <div class="col form-group text-center">
                <label for="btnPaymentCard">Payment card</label>
                <button class="btn btn-primary btn-block" id="btnPaymentCard" (click)="goto(pages.CardsList)">
                  <svg class="icon" width="56px" height="56px">
                    <use xlink:href="#payment-card"></use>
                  </svg>
                </button>
              </div>
              <div class="col form-group text-center">
                <label for="btnPaymentBank" disabled>Bank transfer</label>
                <button class="btn btn-primary btn-block" id="btnPaymentBank" disabled>
                  <svg class="icon" width="107px" height="56px">
                    <use xlink:href="#payment-bank"></use>
                  </svg>
                </button>
              </div>
              <!-- <div class="col form-group text-center">
                <label for="btnPaymentCrypto">Crypto capital</label>
                <button class="btn btn-primary btn-block" id="btnPaymentCrypto">
                  <svg class="icon" width="56px" height="56px">
                    <use href="#payment-crypto"></use>
                  </svg>
                </button>
              </div> -->

            </div>

            <div class="row pb-4 mb-3">

              <tabset class="col tabs">
                <tab heading="Daily">
                  <div class="limits-bar">
                    <div class="limits-bar__caption">
                      <span>Account limits</span>
                      <a routerLink="/account/verification" class="limits-bar__increase" *ngIf="limitsIncrease">
                        <svg class="icon" width="20px" height="20px">
                          <use xlink:href="#increase"></use>
                        </svg>
                        <span>Increase</span>
                      </a>
                    </div>
                    <div class="limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngClass]="{'w-50': user.verifiedL0 && !user.verifiedL1, 'w-100': user.verifiedL0 && user.verifiedL1 }"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          <span>Available for payment</span>
                          <div class="limits-bar__value">{{limits.current.withdraw.day | currency}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          Limit
                          <div class="limits-bar__value">{{(limits.levels.current.withdraw.day - limits.current.withdraw.day) | currency}} of {{limits.levels.current.withdraw.day | currency}}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-0">
                    <div class="col p-0 limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngStyle]="{'width':limits.current.withdraw.day*100/limits.levels.current.withdraw.day + '%'}"
                           [ngClass]="{full: limits.current.withdraw.day/limits.levels.current.withdraw.day > 0.66, empty: limits.current.withdraw.day/limits.levels.current.withdraw.day < 0.33}"
                      ></div>
                    </div>
                  </div>
                </tab>

                <tab heading="Monthly">
                  <div class="limits-bar">
                    <div class="limits-bar__caption">
                      <span>Account limits</span>
                      <a routerLink="/account/verification" class="limits-bar__increase" *ngIf="limitsIncrease">
                        <svg class="icon" width="20px" height="20px">
                          <use xlink:href="#increase"></use>
                        </svg>
                        <span>Increase</span>
                      </a>
                    </div>
                    <div class="limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngClass]="{'w-50': user.verifiedL0 && !user.verifiedL1, 'w-100': user.verifiedL0 && user.verifiedL1 }"></div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          <span>Available for payment</span>
                          <div class="limits-bar__value">{{limits.current.withdraw.month | currency}}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="limits-bar">
                        <div class="limits-bar__caption">
                          Limit
                          <div class="limits-bar__value">{{(limits.levels.current.withdraw.month - limits.current.withdraw.month) | currency}} of {{limits.levels.current.withdraw.month | currency}}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-0">
                    <div class="col p-0 limits-bar__progress progress">
                      <div class="progress-bar"
                           [ngStyle]="{'width': limits.current.withdraw.month*100/(limits.levels.current.withdraw.month || 1) + '%'}"
                           [ngClass]="{full: limits.current.withdraw.month/(limits.levels.current.withdraw.month || 1) > 0.66, empty: limits.current.withdraw.month/(limits.levels.current.withdraw.month || 1) < 0.33}"
                      ></div>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </ng-container>
        </ng-template>
      </ng-template>
    </div>
  </section>

</ng-container>

<ng-container *ngIf="page === pages.CardsList">
  <section class="page__section section section--table">
    <h2 class="section__title">{{ "PAGES.Deposit.CardsList.SectionTitle" | translate }}</h2>

    <div class="section__content pt-4">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading">
        <div class="container"></div>
      </div>

      <ng-container *ngIf="cards && cards.list.length; else noCardsBlock">
        <form name="depositForm" (ngSubmit)="depositForm.form.valid && submit()" #depositForm="ngForm" novalidate>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="selectCard">Select a card:</label>
                <div class="d-flex align-items-center">
                  <div class="form-currency">
                    <svg class="icon" width="30px" height="30px" >
                      <use xlink:href="#payment-card"></use>
                    </svg>
                  </div>
                  <select id="selectCard" class="form-control" #assetBuySelect required
                          name="cardId" [(ngModel)]="depositModel.cardId" #cardId="ngModel"
                          [ngClass]="{'is-invalid': (errors?.CardId || !cardId.valid) && (depositForm.submitted || !cardId.pristine)}"
                          (ngModelChange)="errors.CardId = false"
                          [disabled]="processing">
                    <option *ngFor="let card of cards.list" [value]="card.cardId">{{ card.mask }}</option>
                  </select>
                </div>
                <div class="invalid-feedback" *ngIf="errors?.CardId">
                  {{ errors?.CardId }}
                </div>
              </div>

              <div class="form-row align-items-end">
                <div class="form-group col-12">
                  <label for="inputAmount">Amount:</label>
                  <div class="d-flex align-items-center">
                    <div class="form-currency form-currency--usd">
                      <svg class="icon" width="30">
                        <use xlink:href="#cur-usd"></use>
                      </svg>
                    </div>
                    <input type="number" min="0" step="0.01" required
                           class="form-control" id="inputAmount"
                           name="amount" [(ngModel)]="depositModel.amount" #amount="ngModel"
                           [ngClass]="{'is-invalid': (amount.dirty && !cardWithdrawChecked) || (errors?.Amount || !amount.valid) && (depositForm.submitted || !amount.pristine)}"
                           (ngModelChange)="errors.Amount = false"
                           (input)="checkCardWithdraw(depositModel.amount)"
                           [readonly]="processing">
                  </div>
                  <div class="invalid-feedback" *ngIf="errors?.Amount || (amount.dirty && !cardWithdrawChecked)">
                    Invalid amount value
                  </div>
                  <div class="invalid-feedback" *ngIf="depositModel.amount < minAmount">
                    Minimal amount value  is {{ minAmount | currency }}
                  </div>
                  <div class="invalid-feedback" *ngIf="depositModel.amount > maxAmount">
                    Maximum amount value  is {{ maxAmount | currency }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row pt-4">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="agreeCheck" name="agreeCheck" [(ngModel)]="agreeCheck" [disabled]="processing">
              <label class="custom-control-label" for="agreeCheck">I am agree with <a href="#" target="_blank">Very Important Document</a></label>
            </div>
          </div>

          <div class="row pt-4 align-items-center">
            <button type="submit" class="btn btn-primary" [disabled]="!cardWithdrawChecked || !agreeCheck || !depositModel.cardId || processing">Proceed</button>
            <img *ngIf="processing" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
          </div>
        </form>
      </ng-container>

      <ng-template #noCardsBlock>
        <div class="row">
          <div class="col">
            <a routerLink="/account/cards" class="btn btn-primary">Add a card</a>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</ng-container>

<ng-container *ngIf="page === pages.CardsListSuccess">
  <section class="page__section section section--table">
    <h2 class="section__title">Your request is being processed</h2>
    <div class="pt-4">
      <button type="submit" (click)="page = pages.CardsList" class="btn btn-primary">Done</button>
    </div>
  </section>
</ng-container>
