<div class="page">
  <h1 class="page__heading">PROMOCODES INFO</h1>

  <div class="page__section">

    <section class="section section--table">

      <div class="section__content user-list-section">
        <ngx-datatable class="table table--no-footer" #table
                       [rows]="rows"
                       [columnMode]="'force'"
                       [sorts]="sorts"
                       [headerHeight]="53"
                       [rowHeight]="'auto'"
                       [footerHeight]="135"
                       [reorderable]="false"
                       [loadingIndicator]="loading"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (sort)="onSort($event)"
                       [externalPaging]="true"
                       (page)='setPage($event)'
                       [messages]="messages">

          <ngx-datatable-column prop="promoCodeId" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Promo Code Id
              </span>
            </ng-template>

            <ng-template let-promoCodeId="value" let-row="row" ngx-datatable-cell-template>
              {{ promoCodeId }}
            </ng-template>
          </ngx-datatable-column>


          <ngx-datatable-column prop="timeUsed" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                Time Used
              </span>
            </ng-template>

            <ng-template let-timeUsed="value" let-row="row" ngx-datatable-cell-template>
              {{ row.timeUsed | date:'short':'':locale }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="userId" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                  User Id
              </span>
            </ng-template>

            <ng-template let-userId="value" let-row="row" ngx-datatable-cell-template>
              {{ userId }}
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <ul class="pagination pagination--small mb-5" *ngIf="page.totalElements">
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
              <svg class="icon icon--previous" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
              <svg class="icon icon--next" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>
    </section>

  </div>
</div>


