<div class="page">
    <h1 class="page__heading">{{ "PAGES.Fees.Heading" | translate }}</h1>

    <div class="section__content">

        <div class="row mb-4">
            <div class="col-auto btn-group ml-auto">
                <label class="btn btn-primary btn-sm active"
                       [ngClass]="{'active': currentCurrencyType === currencyTypeList[0]}"
                       (click)="chooseCurrencyType(currencyTypeList[0])">{{ "PAGES.Fees.CurrencyType.Fiat" | translate }} </label>
                <label class="btn btn-primary btn-sm"
                       [ngClass]="{'active': currentCurrencyType === currencyTypeList[1]}"
                       (click)="chooseCurrencyType(currencyTypeList[1])">{{ "PAGES.Fees.CurrencyType.Crypto" | translate }} </label>
            </div>
        </div>

        <table class="main-ngx-datatable w-100 mt-5" *ngIf="currentCurrencyType === currencyTypeList[0] && isDataLoaded">
            <thead class="main-datatable-header">
            <tr class="main-datatable-header main-border-bottom">
                <td class="main-datatable-header-cell">{{ "PAGES.Fees.Table.Head.Currency" | translate }}</td>
                <td class="main-datatable-header-cell">{{ "PAGES.Fees.Table.Head.PaymentMethod" | translate }}</td>
                <td class="main-datatable-header-cell">{{ "PAGES.Fees.Table.Head.Deposit" | translate }}</td>
                <td class="main-datatable-header-cell">{{ "PAGES.Fees.Table.Head.Withdrawal" | translate }}</td>
            </tr>
            </thead>
            <tbody class="main-datatable-body main-border-bottom" *ngFor="let item of fees.fiat">

            <tr class="main-datatable-body-row" *ngFor="let method of item.methods; let i = index">
                <td class="main-datatable-body-cell align-middle text-center align-middle" [attr.rowspan]="item.methods.length" *ngIf="!i">
                    <svg class="icon" width="35" height="52">
                        <use [attr.xlink:href]="'#fee-' + item.name"></use>
                    </svg>
                    <div class="mt-2 font-weight-bold">{{ item.name.toUpperCase() }}</div>
                </td>
                <td class="main-datatable-body-cell align-middle">{{ method.name }}</td>
                <td class="main-datatable-body-cell align-middle">
                    <input type="text" class="form-control m-0" [(ngModel)]="method.deposit"></td>
                <td class="main-datatable-body-cell align-middle">
                    <input type="text" class="form-control m-0" [(ngModel)]="method.withdraw"></td>
            </tr>
            </tbody>
        </table>

        <table class="main-ngx-datatable w-100" *ngIf="currentCurrencyType === currencyTypeList[1] && isDataLoaded">

            <thead class="main-datatable-header">
            <tr class="main-datatable-header main-border-bottom">
                <td class="main-datatable-header-cell">{{ "PAGES.Fees.Table.Head.Currency" | translate }}</td>
                <td class="main-datatable-header-cell">{{ "PAGES.Fees.Table.Head.Deposit" | translate }}</td>
                <td class="main-datatable-header-cell">{{ "PAGES.Fees.Table.Head.Withdrawal" | translate }}</td>
            </tr>
            </thead>
            <tbody class="main-datatable-body main-border-bottom" *ngFor="let item of fees.crypto">

            <tr class="main-datatable-body-row" *ngFor="let method of item.methods; let i = index">
                <td class="main-datatable-body-cell align-middle text-center align-middle" [attr.rowspan]="item.methods.length" *ngIf="!i">
                    <svg class="icon" width="35" height="52">
                        <use [attr.xlink:href]="'#fee-' + item.name"></use>
                    </svg>
                    <div class="mt-2 font-weight-bold">{{ item.name.toUpperCase() }}</div>
                </td>
                <td class="main-datatable-body-cell align-middle">
                    <input type="text" class="form-control m-0" [(ngModel)]="method.deposit"></td>
                <td class="main-datatable-body-cell align-middle">
                    <input type="text" class="form-control m-0" [(ngModel)]="method.withdraw"></td>
            </tr>
            </tbody>
        </table>

        <div class="pb-3 pt-3 d-flex justify-content-between">
            <button class="btn btn-primary" type="submit" (click)="showAddNewItemForm = true" [disabled]="loading">Add new item</button>
            <button class="btn btn-primary" type="submit" *ngIf="!isFeesEmpty" (click)="updateFees()" [disabled]="loading">Save</button>
        </div>

        <div *ngIf="isDataLoaded && showAddNewItemForm">
            <div class="d-flex mt-5">
                <form #addFiatItem="ngForm" class="w-50 mr-2">
                    <div class="add-fee-caption mb-3">Fiat</div>
                    <div class="row">
                        <div class="col-12" *ngIf="!isFeesEmpty">
                            <div class="form-group">
                                <label for="selectCurrency">Currency</label>
                                <div class="d-flex align-items-center">
                                    <select class="form-control mb-0" name="selectCurrency" id="selectCurrency"
                                            [(ngModel)]="selectedCurrency" (change)="onSelectCurrency()">
                                        <option *ngFor="let item of fees?.fiat" [value]="item['name']">{{ item.name }}</option>
                                        <option value="new">Add new currency</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-12" *ngIf="isNewCurrency || isFeesEmpty">
                            <div class="from-row form-group">
                                <label for="fiat-new-method">New currency</label>
                                <input type="text" class="form-control" id="fiat-new-method" name="fiat-new-method" placeholder="New currency"
                                       autocomplete="off" [(ngModel)]="newFiatFees.name" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="from-row form-group">
                                <label for="fiat-method">Payment method</label>
                                <input type="text" class="form-control" id="fiat-method" name="fiat-method" placeholder="Payment method"
                                       autocomplete="off" [(ngModel)]="newFiatFees.methods[0].name" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="from-row form-group">
                                <label for="fiat-deposit">Deposit</label>
                                <input type="text" class="form-control" id="fiat-deposit" name="fiat-deposit" placeholder="Deposit"
                                       autocomplete="off" [(ngModel)]="newFiatFees.methods[0].deposit" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="from-row form-group">
                                <label for="fiat-withdrawal">Withdrawal</label>
                                <input type="text" class="form-control" id="fiat-withdrawal" name="fiat-withdrawal" placeholder="Withdrawal"
                                       autocomplete="off" [(ngModel)]="newFiatFees.methods[0].withdraw" required>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-between pt-3" *ngIf="!isFeesEmpty">
                            <button class="btn btn-sm btn-primary" type="button" (click)="showAddNewItemForm = false">Cancel</button>
                            <button type="submit" class="btn btn-sm btn-primary" [disabled]="addFiatItem.invalid || !selectedCurrency" (click)="addFiatFess()">Add</button>
                        </div>
                    </div>
                </form>

                <form #addCryptoItem="ngForm" class="w-50 ml-2">
                    <div class="add-fee-caption mb-3">Crypto</div>
                    <div class="row">
                        <div class="col-12">
                            <div class="from-row form-group">
                                <label for="crypto-new-method">New currency</label>
                                <input type="text" class="form-control" id="crypto-new-method" name="crypto-new-method" placeholder="New currency"
                                       autocomplete="off" [(ngModel)]="newCryptoFees.name" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="from-row form-group">
                                <label for="crypto-deposit">Deposit</label>
                                <input type="text" class="form-control" id="crypto-deposit" name="crypto-deposit" placeholder="Deposit"
                                       autocomplete="off" [(ngModel)]="newCryptoFees.methods[0].deposit" required>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="from-row form-group">
                                <label for="crypto-withdrawal">Withdrawal</label>
                                <input type="text" class="form-control" id="crypto-withdrawal" name="crypto-withdrawal" placeholder="Withdrawal"
                                       autocomplete="off" [(ngModel)]="newCryptoFees.methods[0].withdraw" required>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-between pt-3" *ngIf="!isFeesEmpty">
                            <button class="btn btn-sm btn-primary" type="button" (click)="showAddNewItemForm = false">Cancel</button>
                            <button type="submit" class="btn btn-sm btn-primary" [disabled]="addCryptoItem.invalid" (click)="addCryptoFees()">Add</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="d-flex justify-content-between" *ngIf="isFeesEmpty">
                <button class="btn btn-sm btn-primary" type="button" (click)="showAddNewItemForm = false">Cancel</button>
                <button class="btn btn-sm btn-primary" type="button" (click)="addAllFees()" [disabled]="addCryptoItem.invalid || addFiatItem.invalid">Add</button>
            </div>

        </div>
    </div>
</div>
