<section class="section section--no-bottom">
  <h2 class="section__title">{{ "PAGES.Settings.Profile.UserIdSection.Title" | translate }}</h2>

  <div class="section__content">
	  <div class="d-flex align-items-center">
		<span class="userid__value">
			<img *ngIf="user?.id == null" alt="Loading..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
			{{ user.id }}
		</span>
	  </div>
  </div>
</section>

<section class="section section--no-bottom">
  <h2 class="section__title">{{ "PAGES.Settings.Profile.EmailSection.Title" | translate }}</h2>

  <div class="section__content">
    <form #emailForm="ngForm" (ngSubmit)="emailForm.form.valid && changeEmail()" novalidate>
      <div class="row">

        <div class="col-8 form-group">
          <label for="inputEmail">{{ "PAGES.Settings.Profile.EmailSection.Labels.PrimaryEmail" | translate }}</label>
          <input type="email" id="inputEmail" required email disabled
                 name="email" [(ngModel)]="user.email" #email="ngModel"
                 class="form-control" [ngClass]="{'is-invalid': !email.valid && (emailForm.submitted || !email.pristine)}"
                 [readonly]="loading">

          <div class="invalid-feedback" *ngIf="email.errors?.required">
            {{ "PAGES.Settings.Profile.EmailSection.Errors.Email.required" | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="email.errors?.email">
            {{ "PAGES.Settings.Profile.EmailSection.Errors.Email.email" | translate }}
          </div>
        </div>

        <div class="col-auto pt-3 ml-auto">
          <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
          <button class="btn btn-primary" disabled>{{ "PAGES.Settings.Profile.EmailSection.Buttons.Confirm" | translate }}</button>
        </div>

      </div>
    </form>
  </div>
</section>

<section class="section">
  <h2 class="section__title">{{ "PAGES.Settings.Profile.PasswordSection.Title" | translate }}</h2>

  <div class="section__content">
    <form name="passwordForm" (ngSubmit)="passwordForm.form.valid && changePassword()" #passwordForm="ngForm" novalidate>

      <div class="form-group">
        <label for="inputCurrentPassword">{{ "PAGES.Settings.Profile.PasswordSection.Labels.CurrentPassword" | translate }}</label>
        <input type="password" id="inputCurrentPassword" required disabled
               name="currentPassword" [(ngModel)]="passwordModel.current" #currentPassword="ngModel"
               class="form-control col-6" [ngClass]="{'is-invalid': !currentPassword.valid && (passwordForm.submitted || !currentPassword.pristine)}"
               [readonly]="loading">

        <div class="invalid-feedback" *ngIf="currentPassword.errors?.required">
          {{ "PAGES.Settings.Profile.PasswordSection.Errors.CurrentPassword.required" | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="inputNewPassword">{{ "PAGES.Settings.Profile.PasswordSection.Labels.NewPassword" | translate }}</label>
        <input type="password" id="inputNewPassword" required minlength="6" equal="newPasswordRepeat" reverse="true" disabled
               name="newPassword" [(ngModel)]="passwordModel.new" #newPassword="ngModel"
               class="form-control col-6" [ngClass]="{'is-invalid': !newPassword.valid && (passwordForm.submitted || !newPassword.pristine)}"
               [readonly]="loading">

        <div class="invalid-feedback" *ngIf="newPassword.errors?.required">
          {{ "PAGES.Settings.Profile.PasswordSection.Errors.NewPassword.required" | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="newPassword.errors?.minlength">
          {{ "PAGES.Settings.Profile.PasswordSection.Errors.NewPassword.minlength" | translate }}
        </div>
      </div>

      <div class="form-group">
        <label for="inputNewPasswordRepeat">{{ "PAGES.Settings.Profile.PasswordSection.Labels.NewPasswordRepeat" | translate }}</label>
        <input type="password" id="inputNewPasswordRepeat" required equal="newPassword" disabled
               name="newPasswordRepeat" [(ngModel)]="passwordModel.newRepeat" #newPasswordRepeat="ngModel"
               class="form-control col-6" [ngClass]="{'is-invalid': !newPasswordRepeat.valid && (passwordForm.submitted || !newPasswordRepeat.pristine)}"
               [readonly]="loading">

        <div class="invalid-feedback" *ngIf="newPasswordRepeat.errors?.required">
          {{ "PAGES.Settings.Profile.PasswordSection.Errors.NewPasswordRepeat.required" | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="newPasswordRepeat.errors?.equal">
          {{ "PAGES.Settings.Profile.PasswordSection.Errors.NewPasswordRepeat.equal" | translate }}
        </div>
      </div>

      <div class="form-group mt-4">
        <!-- <button class="btn btn-primary" [blur]="submitButtonBlur" [disabled]="!passwordForm.form.valid || loading">{{ "PAGES.Settings.Profile.PasswordSection.Buttons.ChangePassword" | translate }}</button> -->
        <button class="btn btn-primary" [blur]="submitButtonBlur" disabled>{{ "PAGES.Settings.Profile.PasswordSection.Buttons.ChangePassword" | translate }}</button>
        <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
      </div>

    </form>
  </div>
</section>
