.user-list-section .datatable-body-cell:nth-child(4),
.user-list-section .datatable-body-cell:nth-child(5)
  justify-content: flex-end

.showRegModal
  display: block
  background-color: rgba(28, 28, 28, 0.75)