<div class="trn-info">
  <form class="w-100 transparency-form" [formGroup]="form" #formDir="ngForm" (ngSubmit)="userFilter()">

    <div class="row align-items-start">

      <div class="col-lg-3 pt-3">
        <div class="from-row form-group">
          <input type="text" class="form-control" placeholder="Filter" formControlName="filter">
        </div>
      </div>

      <div class="col-lg-auto pb-3 pt-3">
        <button type="submit" class="btn btn-sm btn-primary btn-block">Filter</button>
      </div>

    </div>
  </form>
</div>

<section class="section section--table">

  <div class="section__content user-list-section">
    <ngx-datatable class="table table--no-footer" #table
                   [rows]="rows"

                   [columnMode]="'force'"
                   [sorts]="sorts"
                   [headerHeight]="53"
                   [rowHeight]="'auto'"
                   [footerHeight]="135"
                   [reorderable]="false"
                   [loadingIndicator]="loading"
                   [count]="page.totalElements"
                   [offset]="page.pageNumber"
                   [limit]="page.size"
                   [externalSorting]="true"
                   (sort)="onSort($event)"
                   [externalPaging]="true"
                   (page)='setPage($event)'
                   [messages]="messages">

      <ngx-datatable-column prop="id" [draggable]="false" [resizeable]="false" [maxWidth]="100">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Users.Table.ID" | translate }}
              </span>
        </ng-template>

        <ng-template let-id="value" ngx-datatable-cell-template>
          {{ id }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="username" [draggable]="false" [resizeable]="false" [maxWidth]="160">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Users.Table.UserName" | translate }}
              </span>
        </ng-template>

        <ng-template let-username="value" let-row="row" ngx-datatable-cell-template>
          {{ username }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="name" [draggable]="false" [resizeable]="false" [sortable]="false">
        <ng-template ngx-datatable-header-template>
          {{ "PAGES.Users.Table.Name" | translate }}
        </ng-template>

        <ng-template let-name="value" ngx-datatable-cell-template>
          {{ name }}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="160">
        <ng-template let-column="column" ngx-datatable-header-template></ng-template>

        <ng-template ngx-datatable-cell-template let-row="row">
          <div class="btn btn-sm btn-primary btn-block" (click)="showProvedResidenceModal(row.id)">
              {{ "PAGES.Users.Table.Buttons.Approve" | translate }}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="160">
        <ng-template let-column="column" ngx-datatable-header-template></ng-template>

        <ng-template ngx-datatable-cell-template let-row="row">
            <a [routerLink]="['/users/' + row.id]" class="btn btn-sm btn-primary btn-block">{{ "PAGES.Users.Table.Buttons.Click" | translate }}</a>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

    <ul class="pagination pagination--small mb-5" *ngIf="page.totalElements">
      <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
        <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
          <svg class="icon icon--previous" height="17px" width="7px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
          </svg>
        </a>
      </li>
      <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
        <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
          <svg class="icon icon--next" height="17px" width="7px">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
          </svg>
        </a>
      </li>
    </ul>

  </div>
</section>

<div class="modal fade show" role="dialog" tabindex="-1" [ngClass]="{'showRegModal': isModalShow}">
  <div role="document" class="modal-dialog message-box">
    <div class="modal-content">

      <div class="message-box__header">
        <h4 class="modal-title pull-left">GoldMint.io</h4>
        <button class="message-box__close" type="button" (click)="isModalShow = false">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      <form #proofResidency="ngForm">
        <div class="message-box__body">
          <div class="form-group">
            <label for="ticketLink">{{ "PAGES.Users.Modal.Label" | translate }}</label>
            <input type="text" class="form-control" name="ticketLink" id="ticketLink" ngModel required>
          </div>
        </div>

        <div class="message-box__footer">
          <button class="btn btn-primary btn-sm mx-1" type="button" (click)="setProvedResidence()" [disabled]="proofResidency.invalid">
            {{ "PAGES.Users.Modal.Button" | translate }}
          </button>
        </div>
      </form>

    </div>
  </div>
</div>