<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Sell.CtyptoCurrency.Heading" | translate }}</h1>

<section class="page__section section">
  <div class="d-flex justify-content-between">
    <h2 class="section__title">{{ "PAGES.Sell.CtyptoCurrency.Heading" | translate }}</h2>
    <div class="section__title lead icon--red" *ngIf="isTradingError">{{ "ERRORS.Trading" | translate }}</div>
  </div>

  <div class="section__content">
    <form action="#">
      <div class="row align-items-start">

        <ng-container>
          <div class="w-100">
            <div class="btn-group">
              <label class="btn btn-primary btn-sm disabled" disabled>BTC</label>
              <label class="btn btn-primary btn-sm"
                     [ngClass]="{'active': currentCoin === coinList[1]}"
                     (click)="chooseCurrentCoin(coinList[1])">Eth</label>
            </div>

            <div class="pt-4">
              <form #sellForm="ngForm">
                <div>
                  <div class="col-12">
                    <div class="from-row form-group">
                      <label for="goldAmountInput">{{ "PAGES.Sell.CtyptoCurrency.Labels.Amount" | translate }}</label>
                      <div class="d-flex align-items-center">
                        <div class="form-currency form-currency--gold">
                          <svg class="icon">
                            <use xlink:href="#cur-gold"></use>
                          </svg>
                        </div>
                        <input type="text" class="form-control" name="goldAmountInput" id="goldAmountInput"
                               #goldAmountInput="ngModel"
                               [(ngModel)]="goldAmount"
                               ngModel
                               autocomplete="off"
                               (input)="changeValue(false, $event)"
                               [ngClass]="{'is-invalid': (invalidBalance || !goldAmount) && !isReversed && !isFirstLoad}"
                               [disabled]="isReversed && loading"
                        >
                      </div>
                      <div class="percent-btn-cont">
                        <button class="percent-btn" (click)="setGoldBalance(0.25)">25%</button>
                        <button class="percent-btn" (click)="setGoldBalance(0.5)">50%</button>
                        <button class="percent-btn" (click)="setGoldBalance(0.75)">75%</button>
                        <button class="percent-btn" (click)="setGoldBalance(1)">100%</button>
                      </div>
                      <div class="invalid-feedback" *ngIf="(invalidBalance || !goldAmount) && !isReversed && !isFirstLoad">
                        {{ "PAGES.Sell.Errors.InvalidGold" | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="from-row form-group ">
                      <label for="coinAmount">{{ "PAGES.Sell.CtyptoCurrency.Labels.Estimate" | translate }} ($ {{ coinAmountToUSD | number:'1.1-2':locale }})</label>
                      <div class="d-flex align-items-center">
                        <div class="form-currency">
                          <svg class="icon" width="30" height="30">
                            <use xlink:href="#bitcoin" *ngIf="currentCoin === coinList[0]"></use>
                            <use xlink:href="#etherium" *ngIf="currentCoin === coinList[1]"></use>
                          </svg>
                        </div>
                        <input type="text" class="form-control" name="coinAmount" id="coinAmount"
                               #coinAmountInput="ngModel"
                               [(ngModel)]="coinAmount"
                               ngModel
                               autocomplete="off"
                               (input)="changeValue(true, $event)"
                               [ngClass]="{'is-invalid': (invalidBalance || !coinAmount) && isReversed && !isFirstLoad}"
                               [disabled]="!isReversed && loading"
                        >
                      </div>
                      <div class="invalid-feedback" *ngIf="(invalidBalance || !coinAmount) && isReversed && !isFirstLoad">
                        {{ "PAGES.Sell.Errors.InvalidEth" | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="col mb-5">
                    <button type="submit" (click)="onSubmit()" class="btn btn-primary" [disabled]="loading || invalidBalance || !goldAmount || !coinAmount || isTradingError">{{ "PAGES.Sell.Buttons.SellNow" | translate }}</button>
                    <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
                  </div>
                </div>

              </form>
            </div>
          </div>
        </ng-container>

      </div>
    </form>
  </div>

</section>

<div class="modal fade show" role="dialog" tabindex="-1" [ngClass]="{'showModal': isModalShow}">
<div role="document" class="modal-dialog message-box">
  <div class="modal-content">

    <div class="message-box__header">
      <h4 class="modal-title pull-left">GoldMint.io</h4>
      <button class="message-box__close" type="button" (click)="closeModal()">
        <svg class="icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use>
        </svg>
      </button>
    </div>

    <div class="message-box__body">
      {{ "PAGES.Sell.CtyptoCurrency.LimitModal.Text.First" | translate }}
      {{ goldLimit  | number:'1.1-6':locale}} GOLD
      {{ "PAGES.Sell.CtyptoCurrency.LimitModal.Text.Second" | translate }}
    </div>

    <div class="message-box__footer">
      <button class="btn btn-primary btn-sm mx-1" type="button" (click)="setCorrectValue()">
        {{ "PAGES.Sell.CtyptoCurrency.LimitModal.Buttons.Sell" | translate }}
        {{ goldLimit | number:'1.1-6':locale}} GOLD
      </button>
      <button class="btn btn-primary btn-sm mx-1" type="button" (click)="closeModal()">
        {{ "PAGES.Sell.CtyptoCurrency.LimitModal.Buttons.TryLater" | translate }}
      </button>
    </div>

  </div>
</div>
</div>