<!-- host: .page -->

<section class="page__section section mb-4">
  <h2 class="section__title">Deprecated ethereum pool</h2>

  <div class="section__content pt-4">
    <div class="progress-linear progress-linear--tiny" *ngIf="loading">
      <div class="container"></div>
    </div>

    <div class="row align-items-end">
      <div class="col-12 col-lg-4 form-group text-center">
        <label class="pool-label-btn" for="unhold" [innerHTML]="'PAGES.BlockchainPool.Labels.Unhold' | translate"></label>
        <button class="btn btn-primary btn-block poll-action-btn" id="unhold" [disabled]="(ethAddress && !isInvalidNetwork && (!heldTokens || userFrozenStake > 0)) || loading" (click)="onSubmit(submitMethod[1])">
          <svg class="icon" width="56px" height="56px">
            <use xlink:href="#outbox"></use>
          </svg>

          <div>
            <ng-container *ngIf="ethAddress">
                <div class="unhold-tokens"><b>{{ heldTokens | substr:3 }}</b> MNTP</div>
                <div><b>{{ mntpReward.toFixed(3) }}</b> MNTP </div>
            </ng-container>
            <ng-container *ngIf="!ethAddress">
                 <div class="pre-line"><b>CONNECT METAMASK</b></div>
            </ng-container>
          </div>
        </button>
        <div class="color-red mt-2" *ngIf="userFrozenStake > 0">
          {{ "PAGES.BlockchainPool.Labels.HaveFrozenStake" | translate }}
        </div>
      </div>

      <div class="col-12 col-lg-4 form-group text-center">
        <a class="view-contract-btn" [href]="etherscanContractUrl + poolContractAddress" target="_blank">
          <button class="btn btn-primary btn-block poll-action-btn justify-content-center">
            <b>{{ "PAGES.BlockchainPool.Labels.ViewContract" | translate }}</b>
          </button>
        </a>
        <div class="mt-2 d-none d-lg-block" *ngIf="userFrozenStake > 0">&nbsp;</div>
      </div>
    </div>

  </div>
</section>

<div class="color-red" *ngIf="userFrozenStake > 0">
  {{ "PAGES.BlockchainPool.Labels.ToUnfreeze.Text" | translate }} <a href="mailto:support@goldmint.io" target="_blank">{{ "PAGES.BlockchainPool.Labels.ToUnfreeze.Support" | translate }}</a>
</div>
