<!-- host: .page -->
<h1 class="page__heading" [ngClass]="{'beta-label': isProduction}">{{ "PAGES.BlockchainPool.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.BlockchainPool.Heading" | translate }}</h2>

  <div class="section__content pt-4">
    <div class="progress-linear progress-linear--tiny" *ngIf="loading">
      <div class="container"></div>
    </div>

    <div class="row mb-4 align-items-baseline">

      <div class="col-12 col-md-6 col-lg-3 form-group text-center">
        <label class="pool-label-btn" for="hold">{{ "PAGES.BlockchainPool.Labels.Hold" | translate }}</label>
        <button class="btn btn-primary btn-block poll-action-btn justify-content-center" id="hold" routerLink="/blockchain-pool/hold-tokens">
          <svg class="icon" width="56px" height="56px">
            <use xlink:href="#inbox"></use>
          </svg>
        </button>
      </div>

      <div class="col-12 col-md-6 col-lg-3 form-group text-center">
        <label class="pool-label-btn" for="withdraw" [innerHTML]="'PAGES.BlockchainPool.Labels.Withdraw' | translate"></label>
        <button class="btn btn-primary btn-block poll-action-btn" id="withdraw" [disabled]="(!mntpReward && !goldReward) || isInvalidNetwork" (click)="onSubmit(submitMethod[0])">
          <svg class="icon" width="56px" height="56px">
            <use xlink:href="#goldsell-history-black"></use>
          </svg>

          <div>
            <div><b>{{ mntpReward.toFixed(3) }}</b> MNTP </div>
            <div><b>{{ goldReward.toFixed(3) }}</b> GOLD</div>
          </div>
        </button>
      </div>

      <div class="col-12 col-lg-3 form-group text-center">
        <label class="pool-label-btn" for="unhold" [innerHTML]="'PAGES.BlockchainPool.Labels.Unhold' | translate"></label>
        <button class="btn btn-primary btn-block poll-action-btn" id="unhold" [disabled]="!heldTokens || isInvalidNetwork" (click)="onSubmit(submitMethod[1])">
          <svg class="icon" width="56px" height="56px">
            <use xlink:href="#outbox"></use>
          </svg>

          <div>
            <div class="unhold-tokens"><b>{{ heldTokens | substr:3 }}</b> MNTP</div>
            <div><b>{{ mntpReward.toFixed(3) }}</b> MNTP </div>
            <div><b>{{ goldReward.toFixed(3) }}</b> GOLD</div>
          </div>
        </button>
      </div>

      <div class="col-12 col-lg-3 form-group text-center" *ngIf="heldTokensOld + mntpRewardOld + goldRewardOld > 0">
        <label class="pool-label-btn" for="unhold-old" [innerHTML]="'PAGES.BlockchainPool.Labels.UnholdOld' | translate"></label>
        <button class="btn btn-primary btn-block poll-action-btn" id="unhold-old" [disabled]="isInvalidNetwork" (click)="onSubmit(submitMethod[2])">
          <svg class="icon" width="56px" height="56px">
            <use xlink:href="#outbox"></use>
          </svg>

          <div>
            <div class="unhold-tokens"><b>{{ heldTokensOld | substr:3 }}</b> MNTP</div>
            <div><b>{{ mntpRewardOld.toFixed(3) }}</b> MNTP </div>
            <div><b>{{ goldRewardOld.toFixed(3) }}</b> GOLD</div>
          </div>
        </button>
      </div>

    </div>
  </div>
</section>
