<section class="section section--no-bottom" *ngIf="!isDataLoaded">
  <h2 class="section__title">{{ "COMMONS.Loading" | translate }}</h2>
  <div class="section__content pt-4">
    <div class="progress-linear progress-linear--tiny">
      <div class="container"></div>
    </div>
  </div>
</section>

<section class="page__section section section--no-bottom" *ngIf="isDataLoaded">
  <h2 class="section__title">{{ "PAGES.Settings.Fees.Heading" | translate }}</h2>

  <div class="section__content">

      <div class="row mb-4">
        <div class="col-auto btn-group ml-auto fees-btn-group">
          <label class="btn btn-primary btn-sm active"
                 [ngClass]="{'active': currentCurrencyType === currencyTypeList[0]}"
                 (click)="chooseCurrencyType(currencyTypeList[0])"
          >
            {{ "PAGES.Settings.Fees.CurrencyType.Fiat" | translate }}
          </label>
          <label class="btn btn-primary btn-sm"
                 [ngClass]="{'active': currentCurrencyType === currencyTypeList[1]}"
                 (click)="chooseCurrencyType(currencyTypeList[1])">
            {{ "PAGES.Settings.Fees.CurrencyType.Crypto" | translate }}
          </label>
        </div>
      </div>

    <table class="fees-ngx-datatable w-100" *ngIf="currentCurrencyType === currencyTypeList[0] && isDataLoaded && isMobile">
      <tbody class="fees-datatable-body fees-border-top fees-border-bottom" *ngFor="let item of fees.fiat">
        <tr class="fees-datatable-body-row">
          <div class="fees-datatable-body-cell align-middle text-center align-middle">
            <svg class="icon" width="35" height="52">
              <use [attr.xlink:href]="'#fee-' + item.name"></use>
            </svg>
            <div class="mt-2 font-weight-bold">{{ item.name.toUpperCase() }}</div>
          </div>
        </tr>
        <tr class="fees-datatable-body-row" *ngFor="let method of item.methods">
          <td class="fees-datatable-body-cell align-middle">
            <div class="font-weight-500 mb-1">{{ method.name }}</div>
            <div class="mb-1">{{ "PAGES.Settings.Fees.Table.Head.Deposit" | translate }}: {{ method.deposit }}</div>
            <div class="mb-1">{{ "PAGES.Settings.Fees.Table.Head.Withdrawal" | translate }}: {{ method.withdraw }}</div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="fees-ngx-datatable w-100" *ngIf="currentCurrencyType === currencyTypeList[0] && isDataLoaded && !isMobile">
      <thead class="fees-datatable-header">
      <tr class="fees-datatable-header fees-border-bottom">
        <td class="fees-datatable-header-cell">{{ "PAGES.Settings.Fees.Table.Head.Currency" | translate }}</td>
        <td class="fees-datatable-header-cell">{{ "PAGES.Settings.Fees.Table.Head.PaymentMethod" | translate }}</td>
        <td class="fees-datatable-header-cell">{{ "PAGES.Settings.Fees.Table.Head.Deposit" | translate }}</td>
        <td class="fees-datatable-header-cell">{{ "PAGES.Settings.Fees.Table.Head.Withdrawal" | translate }}</td>
      </tr>
      </thead>
      <tbody class="fees-datatable-body fees-border-bottom" *ngFor="let item of fees.fiat">

      <tr class="fees-datatable-body-row" *ngFor="let method of item.methods; let i = index">
        <td class="fees-datatable-body-cell align-middle text-center align-middle" [attr.rowspan]="item.methods.length" *ngIf="!i">
          <svg class="icon" width="35" height="52">
            <use [attr.xlink:href]="'#fee-' + item.name"></use>
          </svg>
          <div class="mt-2 font-weight-bold">{{ item.name.toUpperCase() }}</div>
        </td>
        <td class="fees-datatable-body-cell align-middle">{{ method.name }}</td>
        <td class="fees-datatable-body-cell align-middle">{{ method.deposit }}</td>
        <td class="fees-datatable-body-cell align-middle">{{ method.withdraw }}</td>
      </tr>
      </tbody>
    </table>

    <table class="fees-ngx-datatable w-100" *ngIf="currentCurrencyType === currencyTypeList[1] && isDataLoaded">

      <thead class="fees-datatable-header">
      <tr class="fees-datatable-header fees-border-bottom">
        <td class="fees-datatable-header-cell">{{ "PAGES.Settings.Fees.Table.Head.Currency" | translate }}</td>
        <td class="fees-datatable-header-cell">{{ "PAGES.Settings.Fees.Table.Head.Deposit" | translate }}</td>
        <td class="fees-datatable-header-cell">{{ "PAGES.Settings.Fees.Table.Head.Withdrawal" | translate }}</td>
      </tr>
      </thead>
      <tbody class="fees-datatable-body fees-border-bottom" *ngFor="let item of fees.crypto">

      <tr class="fees-datatable-body-row" *ngFor="let method of item.methods; let i = index">
        <td class="fees-datatable-body-cell align-middle text-center align-middle" [attr.rowspan]="item.methods.length" *ngIf="!i">
          <svg class="icon" width="35" height="52">
            <use [attr.xlink:href]="'#fee-' + item.name"></use>
          </svg>
          <div class="mt-2 font-weight-bold">{{ item.name.toUpperCase() }}</div>
        </td>
        <td class="fees-datatable-body-cell align-middle">{{ method.deposit }}</td>
        <td class="fees-datatable-body-cell align-middle">{{ method.withdraw }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</section>

