<nav class="navbar" *ngIf="canShowNav">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/transparency">{{ "HEADER.Menu.Transparency" | translate }}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/buy">{{ "HEADER.Menu.Swift" | translate }}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/countries">{{ "HEADER.Menu.Countries" | translate }}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/finance">{{ "HEADER.Menu.Users" | translate }}</a>
    </li>
  </ul>
</nav>
