<div class="page">
  <h1 class="page__heading">{{ "PAGES.Settings.Heading" | translate }}</h1>

  <div class="row">
    <div class="col-4 page__sidebar sidebar pr-4">
      <nav class="nav">
        <a class="nav-link" routerLinkActive="active" routerLink="./profile">{{ "PAGES.Settings.Menu.Profile" | translate }}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="./cards">{{ "PAGES.Settings.Menu.Cards" | translate }}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="./verification">{{ "PAGES.Settings.Menu.Verification" | translate }}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="./2fa">{{ "PAGES.Settings.Menu.TFA" | translate }}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="./social">{{ "PAGES.Settings.Menu.SocialNetworks" | translate }}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="./activity">{{ "PAGES.Settings.Menu.AccountActivity" | translate }}</a>
        <a class="nav-link" routerLinkActive="active" routerLink="./limits">{{ "PAGES.Settings.Menu.AccountLimits" | translate }}</a>
      </nav>
    </div>

    <div class="col-8 page__section pl-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
