<div>
  <div class="text-center mb-3 mt-3 users-title">{{ "PAGES.Users.OpLog.Title" | translate }}</div>
  <div class="trn-info" *ngIf="!isSubStepsShowing">
    <form class="w-100 transparency-form" [formGroup]="form" #formDir="ngForm" (ngSubmit)="oplogFilter()">

      <div class="row align-items-start">

        <div class="col-lg-3 pt-3">
          <div class="from-row form-group">
            <input type="text" class="form-control" placeholder="Filter" formControlName="filter">
          </div>
        </div>

        <div class="col-lg-auto pb-3 pt-3">
          <button type="submit" class="btn btn-sm btn-primary btn-block">Filter</button>
        </div>

      </div>
    </form>
  </div>

  <section class="section section--table">

    <div class="section__content user-oplog-section" *ngIf="!isSubStepsShowing">
      <ngx-datatable class="table table--no-footer" #table
                     [rows]="rows"

                     [columnMode]="'force'"
                     [sorts]="sorts"
                     [headerHeight]="53"
                     [rowHeight]="'auto'"
                     [footerHeight]="135"
                     [reorderable]="false"
                     [loadingIndicator]="loading"
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     [limit]="page.size"
                     [externalSorting]="true"
                     (sort)="onSort($event)"
                     [externalPaging]="true"
                     (page)='setPage($event)'
                     [messages]="messages">

        <ngx-datatable-column prop="date" [draggable]="false" [resizeable]="false" [maxWidth]="160">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Users.OpLog.Time" | translate }}
              </span>
          </ng-template>

          <ng-template let-date="value" ngx-datatable-cell-template>
            {{ date * 1000 | date:"dd.MM.yy HH:mm:ss" }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="message" [draggable]="false" [resizeable]="false" >
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Users.OpLog.Action" | translate }}
              </span>
          </ng-template>

          <ng-template let-message="value" ngx-datatable-cell-template>
            {{ message }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="status" [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="100">
          <ng-template ngx-datatable-header-template>
            {{ "PAGES.Users.OpLog.Status" | translate }}
          </ng-template>

          <ng-template let-status="value" ngx-datatable-cell-template>
              <span [ngClass]="{'text-secondary': status == 1, 'text-success': status == 2, 'text-danger': status == 3}">
                {{ "PAGES.Users.OpLog.Status" + status | translate }}
              </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="160">
          <ng-template let-column="column" ngx-datatable-header-template></ng-template>

          <ng-template ngx-datatable-cell-template let-row="row">
            <button type="submit" class="btn btn-sm btn-primary btn-block" *ngIf="row.steps && row.steps.length" (click)="showSubItems(row)">{{ "PAGES.Users.OpLog.ShowSubItems" | translate }}</button>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

      <ul class="pagination pagination--small" *ngIf="page.totalElements && !isSubStepsShowing">
        <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
          <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
            <svg class="icon icon--previous" height="17px" width="7px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
            </svg>
          </a>
        </li>
        <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
          <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
            <svg class="icon icon--next" height="17px" width="7px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="buttons-section mt-2">
        <a [routerLink]="['/users/' + userId]" class="btn btn-primary btn-sm mx-1">{{ "PAGES.Users.OpLog.Buttons.Back" | translate }}</a>
      </div>

    </div>

    <div class="section__content" *ngIf="isSubStepsShowing">
      <ngx-datatable class="table table--no-footer table-oplog-sub-steps"
                     [rows]="subRows"

                     [columnMode]="'force'"
                     [headerHeight]="53"
                     [rowHeight]="'auto'"
                     [footerHeight]="135"
                     [reorderable]="false"
                     [loadingIndicator]="loading"
                     [count]="subRows.length"
                     [offset]="0"
                     [limit]="subRows.length"
                     [messages]="messages">

        <ngx-datatable-column prop="date" [draggable]="false" [resizeable]="false" [maxWidth]="160" [sortable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper">
                {{ "PAGES.Users.OpLog.Time" | translate }}
              </span>
          </ng-template>

          <ng-template let-date="value" ngx-datatable-cell-template let-row="row">
            <span [ngStyle]="{'font-weight': row.steps ? 'bold' : 'normal'}">{{ date * 1000 | date:"dd.MM.yy HH:mm:ss" }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="message" [draggable]="false" [resizeable]="false" [sortable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper">
                {{ "PAGES.Users.OpLog.Action" | translate }}
              </span>
          </ng-template>

          <ng-template let-message="value" ngx-datatable-cell-template let-row="row">
              <span [ngStyle]="{'font-weight': row.steps ? 'bold' : 'normal'}">
                {{ message }}
              </span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column prop="status" [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="100">
          <ng-template ngx-datatable-header-template>
            {{ "PAGES.Users.OpLog.Status" | translate }}
          </ng-template>

          <ng-template let-status="value" ngx-datatable-cell-template let-row="row">
               <span [ngStyle]="{'font-weight': row.steps ? 'bold' : 'normal'}"
                     [ngClass]="{'text-secondary': status == 1, 'text-success': status == 2, 'text-danger': status == 3}">
                {{ "PAGES.Users.OpLog.Status" + status | translate }}
               </span>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

      <div class="buttons-section mt-5">
        <button type="button" class="btn btn-primary btn-sm mx-1" (click)="closeSubSteps()">{{ "PAGES.Users.OpLog.Buttons.Back" | translate }}</button>
      </div>
    </div>

  </section>

</div>