<!-- host: .page.page--auth -->
<section class="page__section page__section--bottom-border">

  <div class="row">
    <div class="col-12 pr-3">
      <section class="section section--no-bottom">
        <h2 class="section__title">{{ "PAGES.Login.SectionTitles.Login" | translate }}</h2>

        <div class="section__content pt-4" *ngIf="!tfaRequired; else tfaFormBlock">
          <form name="loginForm" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>

            <div class="form-group">
              <label for="inputUsername">{{ "PAGES.Login.Labels.Username" | translate }}</label>
              <input type="text" id="inputUsername" required maxlength="64"
                     name="username" [(ngModel)]="loginModel.username" #userNameElement #username="ngModel"
                     class="form-control col-7"
                     [ngClass]="{'is-invalid': (errors?.Username || !username.valid) && (loginForm.submitted || !password.pristine)}"
                     (ngModelChange)="errors.Username = false"
                     (focus)="resetAutofillFlag()"
                     [readonly]="loading">

              <div class="invalid-feedback" *ngIf="username.errors?.required">
                {{ "PAGES.Login.Errors.Username.required" | translate }}
              </div>
              <!-- <div class="invalid-feedback" *ngIf="username.errors?.minlength">
                {{ "PAGES.Login.Errors.Username.minlength" | translate }}
              </div> -->
              <div class="invalid-feedback" *ngIf="username.errors?.maxlength">
                {{ "PAGES.Login.Errors.Username.maxlength" | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="errors?.Username">
                {{ errors?.Username }}
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword">{{ "PAGES.Login.Labels.Password" | translate }}</label>
              <input type="password" id="inputPassword" required minlength="6"
                     name="password" [(ngModel)]="loginModel.password" #userPassElement #password="ngModel"
                     class="form-control col-7"
                     [ngClass]="{'is-invalid': (errors?.Password || !password.valid) && (loginForm.submitted || !password.pristine)}"
                     (ngModelChange)="errors.Password = false"
                     (focus)="resetAutofillFlag()"
                     [readonly]="loading">

              <div class="invalid-feedback" *ngIf="password.errors?.required">
                {{ "PAGES.Login.Errors.Password.required" | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="password.errors?.minlength">
                {{ "PAGES.Login.Errors.Password.minlength" | translate }}
              </div>
              <!-- <div class="invalid-feedback" *ngIf="password.errors?.maxlength">
                {{ "PAGES.Login.Errors.Password.maxlength" | translate }}
              </div> -->
              <div class="invalid-feedback" *ngIf="errors?.Password">
                {{ errors?.Password }}
              </div>
            </div>

            <div class="form-group mb-3 pt-1" *ngIf="isLockedAccount">
              <div class="lead icon--red mb-3">Your account is blocked. For unblocking sign in using recaptcha.</div>

              <re-captcha class="form-captcha" #captchaRef="reCaptcha" (resolved)="captchaResolved($event)" [ngClass]="{'is-invalid': errors?.Captcha && loginForm.submitted}"></re-captcha>

              <div class="invalid-feedback" *ngIf="errors?.Captcha">
                {{ errors?.Captcha }}
              </div>
            </div>

            <div class="form-group row pt-3">
              <div class="col-auto">
                <button class="btn btn-primary" [blur]="buttonBlur" [disabled]="
                  (!autofill && !loginForm.form.valid) || (autofill && loginForm.form.valid) || (!loginModel.recaptcha && isLockedAccount) || loading">
                  {{ "PAGES.Login.Buttons.LogIn" | translate }}
                </button>
                <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
              </div>
            </div>

          </form>
        </div>

        <ng-template #tfaFormBlock>
          <div class="section__content pt-4">
            <form name="tfaForm" (ngSubmit)="tfaForm.form.valid && proceedTFA()" #tfaForm="ngForm" novalidate>

              <div class="form-group">
                <label for="inputUsername">{{ "PAGES.Login.Labels.TFACode" | translate }}</label>
                <input type="text" noAutoComplete id="inputCode" required pattern="[0-9]{6,6}"
                       name="code" [(ngModel)]="tfaModel.code" #code="ngModel"
                       class="form-control col-7"
                       [ngClass]="{'is-invalid': (errors?.Code || !code.valid) && (tfaForm.submitted || !code.pristine)}"
                       (ngModelChange)="errors.Code = false"
                       [readonly]="processing">

                <div class="invalid-feedback" *ngIf="code.errors">
                  {{ "PAGES.Login.Errors.TFACode.pattern" | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="errors?.Code">
                  {{ errors?.Code }}
                </div>
              </div>

              <div class="form-group row pt-3">
                <div class="col-auto">
                  <button class="btn btn-primary" [blur]="buttonBlur" [disabled]="!tfaForm.form.valid || loading">{{ "PAGES.Login.Buttons.LogIn" | translate }}</button>
                  <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
                </div>
              </div>

            </form>
          </div>
        </ng-template>
      </section>
    </div>
  </div>

</section>
