<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Scanner.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.Scanner.TransactionsInBlock.Heading" | translate }} {{ blockNumber }}</h2>

  <div class="section__content py-4">
    <div class="progress-linear progress-linear--tiny" *ngIf="!isDataLoaded">
      <div class="container"></div>
    </div>

    <div class="scanner-info-container" *ngIf="block">
      <div><b>{{ "PAGES.Scanner.TransactionsInBlock.Labels.Block" | translate }} </b>
        {{ block.id }}
      </div>

      <div><b>{{ "PAGES.Scanner.TransactionsInBlock.Labels.TimeStamp" | translate }} </b>
        {{ block.timestamp * 1000 | date: 'MMM d, y, HH:mm:ss' }}
      </div>

      <div><b>{{ "PAGES.Scanner.TransactionsInBlock.Labels.Transactions" | translate }} </b>
        {{ block.transactions }}
      </div>

      <div><b>{{ "PAGES.Scanner.TransactionsInBlock.Labels.TotalUserData" | translate }} </b>
        {{ block.total_user_data }}
      </div>

      <div><b>{{ "PAGES.Scanner.TransactionsInBlock.Labels.Signers" | translate }} </b>
        {{ block.signers }}
      </div>

      <div class="d-flex"><b>{{ "PAGES.Scanner.TransactionsInBlock.Labels.Total" | translate }} </b>
        <div class="ml-2">
          <div>{{ +block.total_gold }} GOLD</div>
          <div>{{ +block.total_mnt }} MNT</div>
        </div>
      </div>

      <div class="d-flex"><b>{{ "PAGES.Scanner.TransactionsInBlock.Labels.Fee" | translate }} </b>
        <div class="ml-2">
          <div>{{ +block.fee_gold }} GOLD</div>
          <div>{{ +block.fee_mnt }} MNT</div>
        </div>
      </div>

      <div class="d-flex"><b class="nowrap">{{ "PAGES.Scanner.TransactionsInBlock.Labels.Orchestrator" | translate }} </b>
        <div class="overflow-ellipsis ml-1 a-link" [routerLink]="'/scanner/address/' + block.orchestrator">
          {{ block.orchestrator }}
        </div>
      </div>

      <div class="d-flex"><b class="nowrap">{{ "PAGES.Scanner.TransactionsInBlock.Labels.PrevDigest" | translate }} </b>
        <div class="overflow-ellipsis ml-1 a-link" [routerLink]="'/scanner/tx/' + block.prev_digest">
          {{ block.prev_digest }}
        </div>
      </div>

      <div class="d-flex"><b class="nowrap">{{ "PAGES.Scanner.TransactionsInBlock.Labels.MerkleRoot" | translate }} </b>
        <div class="overflow-ellipsis ml-1 a-link" [routerLink]="'/scanner/tx/' + block.merkle_root">
          {{ block.merkle_root }}
        </div>
      </div>
    </div>

  </div>
</section>