<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Buy.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.Buy.SectionTitle" | translate }}</h2>

  <div class="section__content pt-4">
    <div class="progress-linear progress-linear--tiny" *ngIf="loading; else blockLoaded">
      <div class="container"></div>
    </div>

    <ng-template #blockLoaded>
      <div *ngIf="!isBlockedCountry">
        <div class="row mb-4 align-items-baseline">

            <div class="col col-xl-3 form-group text-center">
              <label for="btnCryptoCapital">{{ "PAGES.Buy.Method.CtyptoCurrency" | translate }}</label>
              <button class="btn btn-primary btn-block" id="btnCryptoCapital" routerLink="cryptocarrency"
                      [disabled]="isAuthenticated && (!tradingStatus?.ethAllowed || isInvalidNetwork)">
                <svg class="icon" width="56px" height="56px">
                  <use xlink:href="#payment-crypto"></use>
                </svg>
              </button>
              <div  class="text-left pt-1 blocked-notification text-center">
                <div *ngIf="isAuthenticated && !tradingStatus?.ethAllowed">{{ "PAGES.Buy.Errors.NotAllow" | translate }}</div>
              </div>
            </div>

            <div class="col col-xl-3 form-group text-center">
              <label for="btnPaymentCard">{{ "PAGES.Buy.Method.PaymentCard" | translate }}</label>
              <button class="btn btn-primary btn-block" id="btnPaymentCard" routerLink="payment-card"
                      [disabled]="!tradingStatus?.creditCardBuyingAllowed || isInvalidNetwork || !user?.verifiedL1">
                <svg class="icon" width="56px" height="56px">
                  <use xlink:href="#payment-card"></use>
                </svg>
              </button>
              <div class="text-left pt-1 blocked-notification text-center">
                <div *ngIf="isAuthenticated && !tradingStatus?.creditCardBuyingAllowed">{{ "PAGES.Buy.Errors.NotAllow" | translate }}</div>
                <div *ngIf="!user?.verifiedL1 && !loading">{{ "PAGES.Buy.Errors.NoKyc" | translate }}</div>
              </div>
            </div>

            <div class="col col-xl-3 form-group text-center">
              <label for="btnCapital">{{ "PAGES.Buy.Method.CryptoCapital" | translate }}</label>
              <button class="btn btn-primary btn-block" id="btnCapital"
                      [disabled]="true">
                <svg class="icon" width="56px" height="56px">
                  <use xlink:href="#crypto-capital"></use>
                </svg>
              </button>
            </div>
        </div>
      </div>

      <div *ngIf="isBlockedCountry" class="mt-4 text-center">
        <p class="mb-5" [innerHTML]=" 'PAGES.Finance.KYC.BlockedCountry' | translate "></p>
      </div>

    </ng-template>
  </div>
</section>