<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Buy.Heading" | translate }}</h1>

<section class="page__section section">
  <h2 class="section__title">{{ "PAGES.Buy.SectionTitle" | translate }}</h2>

  <div class="section__content">
    <form action="#">
      <div class="row align-items-start">

        <div class="col-lg pb-4">
          <div class="from-row form-group">
            <label for="input_toSpend">To Spend</label>
            <div class="d-flex align-items-center">
              <div class="form-currency form-currency--usd">
                <svg class="icon">
                  <use xlink:href="#cur-usd"></use>
                </svg>
              </div>
              <input type="number" class="form-control" id="input_toSpend" min="1" [max]="usdBalance" step="1" [value]="toSpend" (input)="onToSpendChanged($event.target.value)">
            </div>
          </div>
        </div>

        <div class="col-lg pb-4">
          <div class="from-row form-group">
            <label for="input_EstimateAmount">Estimates Amount *</label>
            <div class="d-flex align-items-center">
              <div class="form-currency form-currency--gold">
                <svg class="icon">
                  <use xlink:href="#cur-gold"></use>
                </svg>
              </div>
              <input type="text" class="form-control" id="input_EstimateAmount" name="estimates-amount" readonly [(ngModel)]="estimatedAmount" [value]="estimate_amount > 0 ? estimate_amount : ''">
            </div>
          </div>
        </div>

        <div class="col-lg-auto pb-4 pt-3">
          <button class="btn btn-primary btn-block" [disabled]="progress || confirmation || toSpend > usdBalance || toSpend <= 0" (click)="onBuy()">
            {{ "PAGES.Buy.Buttons.BuyNow" | translate }}
          </button>
        </div>

      </div>
    </form>
  </div>

  <div class="section__footer">
    <span class="page__note">
      {{ "PAGES.Buy.Note" | translate }}
    </span>
  </div>
</section>

<div class="row mb-4 pb-2">
  <div class="col-auto">
    <a routerLink="/finance/deposit" class="btn btn-primary btn-wide">{{ "PAGES.Buy.Buttons.Deposit" | translate }}</a>
  </div>
  <div class="col-5 form-text">
    <span>{{ "PAGES.Buy.DepositDesc" | translate }}</span>
  </div>
</div>
