<div class="page">
  <h1 class="page__heading">{{ "PAGES.Users.Users" | translate }}</h1>

  <div class="page__section">

    <div class="trn-info">
      <form class="w-100 transparency-form" [formGroup]="form" #formDir="ngForm" (ngSubmit)="userFilter()">

        <div class="row align-items-start">

          <div class="col-lg-3 pt-3">
            <div class="from-row form-group">
              <input type="text" class="form-control" placeholder="Filter" formControlName="filter">
            </div>
          </div>

          <div class="col-lg-auto pb-3 pt-3">
            <button type="submit" class="btn btn-sm btn-primary btn-block">Filter</button>
          </div>

        </div>
      </form>
    </div>

    <section class="section section--table">

      <div class="section__content">
        <ngx-datatable class="table table--no-footer" #table
                       [rows]="rows"

                       [columnMode]="'force'"
                       [sorts]="sorts"
                       [headerHeight]="53"
                       [rowHeight]="'auto'"
                       [footerHeight]="135"
                       [reorderable]="false"
                       [loadingIndicator]="loading"
                       [count]="page.totalElements"
                       [offset]="page.pageNumber"
                       [limit]="page.size"
                       [externalSorting]="true"
                       (sort)="onSort($event)"
                       [externalPaging]="true"
                       (page)='setPage($event)'
                       [messages]="messages">

          <ngx-datatable-column prop="id" [draggable]="false" [resizeable]="false" [maxWidth]="160">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Users.Table.ID" | translate }}
              </span>
            </ng-template>

            <ng-template let-id="value" ngx-datatable-cell-template>
              {{ id }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="username" [draggable]="false" [resizeable]="false" [maxWidth]="160">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span class="datatable-header-cell-wrapper" (click)="sort()">
                {{ "PAGES.Users.Table.UserName" | translate }}
              </span>
            </ng-template>

            <ng-template let-username="value" let-row="row" ngx-datatable-cell-template>
              {{ username }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="name" [draggable]="false" [resizeable]="false" [sortable]="false" [width]="450">
            <ng-template ngx-datatable-header-template>
               {{ "PAGES.Users.Table.Name" | translate }}
            </ng-template>

            <ng-template let-name="value" ngx-datatable-cell-template>
              {{ name }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="160">
            <ng-template let-column="column" ngx-datatable-header-template>

            </ng-template>

            <ng-template ngx-datatable-cell-template let-row="row">
              <button type="submit" class="btn btn-sm btn-primary btn-block" (click)="showUserInfo(row)">{{ "PAGES.Users.Table.Click" | translate }}</button>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

        <ul class="pagination pagination--small mb-5" *ngIf="page.totalElements">
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === 0}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber - 1})">
              <svg class="icon icon--previous" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
          <li class="page-item" [ngClass]="{'hidden': page.pageNumber === page.totalPages - 1}">
            <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="setPage({offset: page.pageNumber + 1})">
              <svg class="icon icon--next" height="17px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
            </a>
          </li>
        </ul>

      </div>
    </section>

  </div>
</div>

<div class="modal-backdrop fade in show" *ngIf="showModal"></div>
<div class="modal fade show users-modal-info" *ngIf="showModal">
  <div class="modal-dialog message-box user-modal-container">
    <div class="modal-content">

      <!-- ----------------------------------- -->

      <div *ngIf="showAccountInfo">
        <div class="message-box__header">
          <h4 class="modal-title pull-left text-center">{{ currentUser.name }}</h4>
        </div>
        <div class="message-box__body">
          <div class="text-center mb-2">{{ "PAGES.Users.Modal.AccountInfo.Title" | translate }}</div>

          <table class="table">
            <tbody>
            <tr>
              <td>{{ "PAGES.Users.Modal.AccountInfo.UserName" | translate }}</td>
              <td>{{ currentUser.username }}</td>
            </tr>
            <tr>
              <td>{{ "PAGES.Users.Modal.AccountInfo.Name" | translate }}</td>
              <td>{{ currentUser.name }}</td>
            </tr>
            <tr>
              <td>{{ "PAGES.Users.Modal.AccountInfo.Registered" | translate }}</td>
              <td>{{ currentUser.timeRegistered * 1000 | date:"dd.MM.yy" }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="message-box__footer">
          <button type="button" class="btn btn-primary btn-sm mx-1" (click)="showOplogInfo(currentUser.id, currentUser.name)">
            {{ "PAGES.Users.Modal.Buttons.Button_1" | translate }}
          </button>
          <button type="button" class="btn btn-primary btn-sm mx-1">{{ "PAGES.Users.Modal.Buttons.Button_2" | translate }}</button>
          <button type="button" class="btn btn-primary btn-sm mx-1" (click)="close()">{{ "PAGES.Users.Modal.Buttons.Button_3" | translate }}</button>
        </div>
      </div>

      <!-- ----------------------------------- -->

      <app-oplog-page></app-oplog-page>

    </div>
  </div>
</div>

