@import 'variables'

.invoice-actions-container
  display: flex
  justify-content: space-between
  align-items: center
  flex-flow: row nowrap

.invoice-wrapper
  div:first-of-type
    padding: 0 !important

.disabled-a
  opacity: .65
  cursor: not-allowed
  pointer-events: none

.blocked-notification
  color: red
  font-size: .8em

.form-currency--usd .icon
  width: 30px

.limits-header-row td
  padding: 8px 10px

.limits-daily-row td, .limits-monthly-row td
  border: 2px solid $color-gray-3
  padding: 8px 10px

.limits-bg-cell
  background: $color-brand-active

td.limits-border-cell
  border: 2px solid $color-brand

td.limits-border-bottom-cell
  border-bottom: 2px solid $color-gray-3

td.limits-border-right-cell
  border-right: 2px solid $color-brand

.limits-text-bold
  font-weight: 500

.font-weight-500
  font-weight: 500

.limits-word-break
  word-break: break-word

.limits-font-size-small
  font-size: 0.875rem

.disable-content-block
  position: absolute
  width: 100%
  height: 100%
  z-index: 10
  background: rgba(255, 255, 255, 0.75)
  display: flex
  font-size: 42px

  span
    margin: auto


.ngx-datatable-cc
  .datatable-body
    .datatable-body-row
      padding: 0.75rem
      border-bottom: 1px solid #d1d4d7
      &.datatable-row-even
        background-color: rgba(0, 0, 0, 0.05)

      &.active
        background-color: #1483ff
        color: #FFF

      .datatable-body-cell
        text-align: left
        vertical-align: top

.w-40
  width: 40%

.crypto-capital-input
  background: transparent
  border: none

.dep-warning-icon
  color: $color-brand

.dep-warning-note
  color: #dc3545
  font-size: 0.75rem