<div class="mt-4 pt-1">
  <section class="page__section section">
    <h2 class="section__title">{{ "PAGES.Pawnshop.Feed.Labels.Organizations" | translate }}</h2>

    <div class="section__content py-4">

      <div class="progress-linear progress-linear--tiny" *ngIf="!isDataLoaded">
        <div class="container"></div>
      </div>

      <ngx-datatable class="table table--no-footer organizations-table" #table
                     [rows]="rows"
                     [columnMode]="'force'"
                     [headerHeight]="53"
                     [rowHeight]="'auto'"
                     [footerHeight]="135"
                     [reorderable]="false"
                     [loadingIndicator]="loading"
                     [count]="rows.length"
                     [externalSorting]="true"
                     [externalPaging]="true"
                     (page)='setPage($event)'
                     [messages]="messages"
                     [selected]="selected"
                     [selectionType]="'single'"
                     (select)='onSelect($event)'>
        <div>
          <ngx-datatable-column prop="id" [draggable]="false" [resizeable]="false" [sortable]="false" [maxWidth]="100" [minWidth]="100">
            <ng-template let-number="column" ngx-datatable-header-template>
          <span class="datatable-header-cell-wrapper">
            {{ "PAGES.Pawnshop.Feed.OrgTable.Id" | translate }}
          </span>
            </ng-template>

            <ng-template let-id="value" ngx-datatable-cell-template>
              <div class="pl-1">{{ id }}</div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column prop="name" [draggable]="false" [resizeable]="false" [sortable]="false">
            <ng-template let-column="column" ngx-datatable-header-template>
          <span class="datatable-header-cell-wrapper">
            {{ "PAGES.Pawnshop.Feed.OrgTable.Name" | translate }}
          </span>
            </ng-template>

            <ng-template let-name="value" ngx-datatable-cell-template>
              <div>
                {{ name }}
              </div>
            </ng-template>
          </ngx-datatable-column>
        </div>
      </ngx-datatable>

      <ul class="pagination pagination--small mb-2" >
        <li class="page-item" [ngClass]="{'hidden': offset === 0 || loading}">
          <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="prevPage()">
            <svg class="icon--previous" height="17px" width="7px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
            </svg>
          </a>
        </li>
        <li class="page-item" [ngClass]="{'hidden': isLastPage || loading}">
          <a class="page-link page-link--tiny" href="javascript:void(0)" (click)="nextPage()">
            <svg class="icon--next" height="17px" width="7px">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
            </svg>
          </a>
        </li>
      </ul>

    </div>
  </section>
</div>