<section class="section section--table">
  <h2 class="section__title">{{ "PAGES.Settings.Cards.Heading" | translate }}</h2>

  <div class="section__content section__content--clean pt-3">
    <div class="progress-linear progress-linear--tiny" *ngIf="loading || processing">
      <div class="container"></div>
    </div>

    <ng-container *ngIf="!loading">
      <ng-container *ngIf="page === _pages.List">
        <ng-container *ngIf="cards.list && cards.list.length; else noCardsBlock;">
          <div class="cards-list">
            <div class="row cards-list__item mt-2" *ngFor="let card of cards.list"
                 [ngClass]="{ 'text-muted': card.status == 'initial' || card.status == 'disabled' || card.status == 'confirm' || card.status == 'failed' }">
              <div class="col number">{{ card.mask }}</div>

              <div class="col-6 status text-right">
                <ng-container *ngIf="card.status == 'initial'">
                  <span class="status__new">{{ "PAGES.Settings.Cards.Status.New" | translate }}</span>
                </ng-container>
                <ng-container *ngIf="card.status == 'failed'">
                  <span class="status__failed">{{ "PAGES.Settings.Cards.Status.Failed" | translate }}</span>
                </ng-container>
                <ng-container *ngIf="card.status == 'disabled'">
                  <span class="status__disabled">{{ "PAGES.Settings.Cards.Status.Disabled" | translate }}</span>
                </ng-container>
                <ng-container *ngIf="card.status == 'payment'">
                  <span class="status__payment">{{ "PAGES.Settings.Cards.Status.Checking" | translate }}</span>
                </ng-container>
                <ng-container *ngIf="card.status == 'confirm'">
                  <button class="btn btn-primary btn-sm" (click)="navigateToCardStatus(card.cardId)" [blur]="buttonBlur" [disabled]="processing">{{ "PAGES.Settings.Cards.Status.Confirm" | translate }}</button>
                </ng-container>
                <ng-container *ngIf="card.status == 'verification'">
                  <button class="btn btn-primary btn-sm" (click)="navigateToCardStatus(card.cardId)" [blur]="buttonBlur" [disabled]="processing">{{ "PAGES.Settings.Cards.Status.Verify" | translate }}</button>
                </ng-container>
                <ng-container *ngIf="card.status == 'verified'">
                  <span class="status__verified">{{ "PAGES.Settings.Cards.Status.Verified" | translate }}</span>
                </ng-container>
              </div>

              <div class="col text-right" *ngIf="card.status !== 'confirm'">
                <button class="btn btn-sm btn-primary" (click)="removeCard(card)" [disabled]="processing">{{ "BUTTONS.Remove" | translate }}</button>
              </div>

            </div>
          </div>
        </ng-container>

        <ng-template #noCardsBlock>
          <p class="lead lead--thin">{{ "PAGES.Settings.Cards.Info.Add" | translate }}</p>
        </ng-template>

        <ng-container *ngIf="user.verifiedL1; else userNotVerifiedBlock;">
          <button class="btn btn-primary mt-4" [blur]="buttonBlur" [disabled]="processing" (click)="goto(_pages.OnNew)">{{ "BUTTONS.AddCard" | translate }}</button>
        </ng-container>

        <ng-template #userNotVerifiedBlock>
          <p class="lead">{{ "PAGES.Settings.Cards.Info.Confirm" | translate }}</p>
          <a class="btn btn-primary mt-4" routerLink="/account/verification">{{ "BUTTONS.Verification" | translate }}</a>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="page === _pages.OnNew">
        <p class="lead">{{ "PAGES.Settings.Cards.Info.Redirect" | translate }}</p>

        <div class="row pt-4">
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="navigateToCardList()">
              <svg class="icon icon--previous" height="24px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
              <span>{{ "BUTTONS.Back" | translate }}</span>
            </button>
          </div>
          <div class="col-auto">
          <!-- <div class="col-auto ml-auto"> -->
            <button type="button" class="btn btn-primary btn-wide" [disabled]="processing" (click)="addCard()">{{ "BUTTONS.Proceed" | translate }}</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="page === _pages.OnNeedConfirmation">
        <p class="lead">{{ "PAGES.Settings.Cards.Info.InputData" | translate }}</p>

        <div class="row pt-4">
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="navigateToCardList()">
              <svg class="icon icon--previous" height="24px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
              <span>{{ "BUTTONS.Back" | translate }}</span>
            </button>
          </div>
          <div class="col-auto">
          <!-- <div class="col-auto ml-auto"> -->
            <button type="button" class="btn btn-primary btn-wide" [disabled]="processing" (click)="confirmCard(currentCardId)">{{ "BUTTONS.ConfirmCard" | translate }}d</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="page === _pages.OnNeedVerification">
        <p class="lead">{{ "PAGES.Settings.Cards.Info.Verify" | translate }}</p>

        <div class="row pt-3">
          <div class="col-4 form-group">
            <label for="code">{{ "PAGES.Settings.Cards.Labels.VerificationCode" | translate }}</label>
            <input type="text" id="code" class="form-control" [(ngModel)]="verificationCode" noAutoComplete required>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="navigateToCardList()">
              <svg class="icon icon--previous" height="24px" width="7px">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next"></use>
              </svg>
              <span>{{ "BUTTONS.Back" | translate }}</span>
            </button>
          </div>
          <div class="col-auto">
          <!-- <div class="col-auto ml-auto"> -->
            <button type="button" class="btn btn-primary btn-wide" [disabled]="processing" (click)="verifyCard(currentCardId)">{{ "BUTTONS.VerifyCard" | translate }}</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="page === _pages.OnVerified">
        <p class="lead">{{ "PAGES.Settings.Cards.Info.CardIsReady" | translate }}</p>

        <div class="row pt-4">
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="goto(_pages.List)">{{ "BUTTONS.GoToCard" | translate }}</button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="page === _pages.OnFailure">
        <p class="lead">{{ "PAGES.Settings.Cards.Info.Wrong" | translate }}</p>

        <div class="row pt-4">
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="navigateToCardList()">{{ "BUTTONS.BackToCard" | translate }}</button>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </div>
</section>
