<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Transfer.Heading" | translate }}</h1>

<section class="page__section section">
  <div class="section__content">
    <form action="#">
      <div class="row">

        <div class="col-lg pb-4">
          <div class="from-row form-group">
            <label for="input_walletAddress">{{ "PAGES.Transfer.Labels.TransferToWallet" | translate }}</label>
            <div class="d-flex align-items-center">
              <div class="form-currency">
                <svg class="icon" width="21" height="35">
                  <use xlink:href="#etherium"></use>
                </svg>
              </div>
              <input type="text" noAutoComplete class="form-control ml-1" id="input_walletAddress" name="wallet-address" [value]="_walletAddressRaw" (input)="onWalletAddressChanged($event.target.value)" placeholder="{{ 'PAGES.Transfer.Placeholders.EtheriumWallet' | translate }}">
            </div>
          </div>
        </div>

        <div class="col-lg pb-4">
          <div class="from-row form-group">
            <label for="input_transferAmount">Amount</label>
            <div class="d-flex align-items-center">
              <div class="form-currency form-currency--gold">
                <svg class="icon">
                  <use xlink:href="#cur-gold"></use>
                </svg>
              </div>
              <input type="number" min="0" step="0.1" class="form-control" id="input_transferAmount" name="transfer-amount" [value]="_amount" (input)="onAmountChanged($event.target.value)">
            </div>
          </div>
        </div>

        <div class="col-lg-auto pb-4 pt-3">
          <button class="btn btn-primary btn-block" [disabled]="!_amount || _amount.lte(0) || !_walletAddress" (click)="modal(chooseMethodModal)">{{ "PAGES.Transfer.Buttons.Send" | translate }}</button>
        </div>

      </div>
    </form>
  </div>
</section>

<ng-template #chooseMethodModal let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">Choose transfer method</h4>
    <button type="button" class="close" (click)="_modalRef.hide()">
      <svg class="icon" width="24px" height="24px">
        <use xlink:href="#close"></use>
      </svg>
    </button>
  </div>
  <div class="modal-body">
    <div class="row align-items-center py-4">
      <div class="col">
        <button class="btn btn-primary btn-block" (click)="onMetamask()">MetaMask</button>
      </div>
      <div class="col-1 text-center">or</div>
      <div class="col">
        <button class="btn btn-primary btn-block" (click)="modal(myEtheriumWalletModal)" disabled>myetherwallet.com</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #myEtheriumWalletModal let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">My Etherium wallet</h4>
    <button type="button" class="close" (click)="_modalRef.hide()">
      <svg class="icon" width="24px" height="24px">
        <use xlink:href="#close"></use>
      </svg>
    </button>
  </div>
  <div class="modal-body">
    <div class="row align-items-center py-4">
      <div class="col-auto mx-auto">
        <ol class="mb-0">
          <li>Перейдите на <a href="http://myetherwallet.com" target="_blank" class="link link--bolder link--gold">myetherwallet.com</a></li>
          <li>Введите адрес смарт-контракта <b>0x0</b></li>
          <li>Нажмите подтвердить транзакцию</li>
        </ol>
      </div>
    </div>
  </div>
</ng-template>
