<!-- host: .page -->
<h1 class="page__heading">{{ "PAGES.Transfer.Heading" | translate }}</h1>

<div class="lead icon--red text-right" *ngIf="!isMetamask">{{ "PAGES.Transfer.Labels.NoMM" | translate }}</div>
<section class="page__section section mt-0">

  <div class="section__content pt-4">
    <div class="progress-linear progress-linear--tiny" *ngIf="loading; else blockLoaded">
      <div class="container"></div>
    </div>

    <ng-template #blockLoaded>
      <ng-container *ngIf="isAuthenticated && !user?.verifiedL1; else blockMethods">

          <p class="mb-5" [innerHTML]=" 'PAGES.Finance.KYC.Text' | translate "></p>

          <div class="row kyc-pros mb-4 pb-2">
            <div class="col-lg-3">
              <svg class="kyc-pros__icon" width="33px" height="44px">
                <use xlink:href="#verify-secure"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Secure.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Secure.Text" | translate }}</p>
            </div>
            <div class="col-lg-3">
              <svg class="kyc-pros__icon" width="28px" height="44px">
                <use xlink:href="#verify-simple"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Simple.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Simple.Text" | translate }}</p>
            </div>
            <div class="col-lg-3">
              <svg class="kyc-pros__icon" width="36px" height="44px">
                <use xlink:href="#verify-complaint"></use>
              </svg>
              <div class="kyc-pros__title">{{ "PAGES.Finance.KYC.Pros.Complaint.Title" | translate }}</div>
              <p class="kyc-pros__desc kyc-pros__desc--small">{{ "PAGES.Finance.KYC.Pros.Complaint.Text" | translate }}</p>
            </div>
            <div class="col-lg-3 pl-lg-4 align-self-center">
              <a routerLink="/account/verification" class="btn btn-primary btn-block my-4">{{ "PAGES.Withdraw.Buttons.Start" | translate }}</a>
            </div>
          </div>
        </ng-container>

      <ng-template #blockMethods>
        <form *ngIf="!showConfirmBlock; else confirmBlock">
          <div class="row">
            <div class="col-12">
              <div class="from-row form-group">
                <label for="input_walletAddress">{{ "PAGES.Transfer.Labels.TransferToWallet" | translate }}</label>
                <div class="d-flex align-items-center">
                  <div class="form-currency">
                    <svg class="icon" width="21" height="35">
                      <use xlink:href="#etherium"></use>
                    </svg>
                  </div>
                  <input type="text" noAutoComplete class="form-control ml-1" id="input_walletAddress" name="wallet-address"
                         placeholder="{{ 'PAGES.Transfer.Placeholders.EtheriumWallet' | translate }}"
                         #walletAdr="ngModel"
                         [(ngModel)]="walletAddress"
                         (input)="onWalletAddressChanged($event.target.value)"
                         [ngClass]="{'is-invalid': (!walletChecked || coincidesAddress) && walletAdr.dirty}"
                         [disabled]="isFirstLoad">
                </div>
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="!walletChecked && walletAdr.dirty">
                  {{ 'PAGES.Transfer.Errors.InvalidAddress' | translate }}
                </div>
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="coincidesAddress && walletAdr.dirty">
                  {{ 'PAGES.Transfer.Errors.AddressMatches' | translate }}
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="from-row form-group">
                <label for="input_transferAmount">{{ 'PAGES.Transfer.Labels.Amount' | translate }}</label>
                <div class="d-flex align-items-center">
                  <div class="form-currency form-currency--gold">
                    <svg class="icon">
                      <use xlink:href="#cur-gold"></use>
                    </svg>
                  </div>
                  <input type="text" class="form-control" id="input_transferAmount" name="transfer-amount"
                         (input)="onAmountChanged($event)"
                         [ngClass]="{'is-invalid': invalidAmount}"
                         [(ngModel)]="amountValue"
                         autocomplete="off"
                         [disabled]="isFirstLoad">
                </div>
                <div class="percent-btn-cont">
                  <button class="percent-btn" (click)="setGoldBalance(0.25)">25%</button>
                  <button class="percent-btn" (click)="setGoldBalance(0.5)">50%</button>
                  <button class="percent-btn" (click)="setGoldBalance(0.75)">75%</button>
                  <button class="percent-btn" (click)="setGoldBalance(1)">100%</button>
                </div>
                <div class="invalid-feedback invalid-feedback--abs" *ngIf="invalidAmount">
                  {{ 'PAGES.Transfer.Errors.InvalidAmount' | translate }}
                </div>
              </div>
            </div>

            <div class="col mt-1 mb-5">
              <button class="btn btn-primary" [disabled]="invalidAmount || !walletChecked || coincidesAddress || isInvalidNetwork" (click)="onSubmit()">{{ "PAGES.Transfer.Buttons.Send" | translate }}</button>
              <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-gold-bg-white.gif">
            </div>

          </div>
        </form>

        <ng-template #confirmBlock>
          <div>
            <div>{{ "COMMONS.ConfirmTr" | translate }}</div>
            <button type="button" class="btn btn-primary mt-4 mb-5" (click)="showConfirmBlock = !showConfirmBlock">{{ "BUTTONS.Back" | translate }}</button>
          </div>
        </ng-template>

      </ng-template>
    </ng-template>
  </div>
</section>
