<nav class="navbar mt-3">
  <ul class="nav nav-pills nav-justified">

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" href="https://www.goldmint.io/">{{ "HEADER.Menu.Work" | translate }}</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/buy-sell-gold">{{ "HEADER.Menu.Exchange" | translate }}</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/master-node">{{ "HEADER.Menu.MasterNode" | translate }}</a>

      <div class="sub-nav-container">
        <ul class="nav nav-pills nav-justified sub-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/master-node">{{ "HEADER.Menu.LaunchMasterNode" | translate }}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/ethereum-pool">{{ "HEADER.Menu.Pool" | translate }}</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/buy-mntp">{{ "HEADER.Menu.BuyMntp" | translate }}</a>
          </li>
         <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/swap-mntp">Swap</a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/scanner">{{ "HEADER.Menu.Scanner" | translate }}</a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [href]="getLiteWalletLink" target="_blank">{{ "HEADER.Menu.Wallet" | translate }}</a>
    </li>

  </ul>
</nav>
