<div class="page">
  <h1 class="page__heading">Google Authenticator</h1>
  <!-- <h1 class="page__heading">{{ "PAGES.Home.Heading" | translate }}</h1> -->

  <div class="page__section section" [ngClass]="{'section--no-bottom': loading}">
    <h2 class="section__title">Create 2FA</h2>

    <div class="section__content section__content--lead">
      <div class="progress-linear progress-linear--tiny" *ngIf="loading">
        <div class="container"></div>
      </div>

      <ng-container *ngIf="tfaInfo.qrData && tfaInfo.secret">
      <!-- <ng-container> -->
        <form name="tfaForm" (ngSubmit)="tfaForm.form.valid && enableTFA()" #tfaForm="ngForm" novalidate>
          <ol>
            <li class="mb-3">
              <div class="mb-2">Download 2FA backup key</div>
              <div class="form-control form-control--w-auto d-inline-block" readonly>{{ tfaInfo.secret }}</div>
            </li>

            <li class="mb-3 pb-2">
              <div class="mb-2">Download and install application</div>
              <a href="#" target="_blank" title="App Store" class="mr-4"><img src="assets/img/fo_app-store.png" alt="App Store"></a>
              <a href="http://play.google.com/store/apps/details?id=<package_name>" target="_blank" title="Google Play"><img src="assets/img/fo_google-play.png" alt="Google Play"></a>
            </li>

            <li class="mb-3 pb-2">
              <div class="">Scan QR</div>

              <div class="row align-items-center">
                <div class="col-auto">
                  <ngx-qrcode
                    [qrc-value]="tfaInfo.qrData"
                    qrc-class="tfa__qrcode"
                    qrc-errorCorrectionLevel="L"></ngx-qrcode>
                </div>

                <div class="col-2"><hr></div>

                <div class="col px-0">
                  <div class="form-group col-7 mb-4">
                    <label for="inputCode">Enter 2FA code from the app</label>
                    <input type="text" id="inputCode" required pattern="[0-9]{6,6}"
                       name="code" [(ngModel)]="tfaModel.code" #code="ngModel"
                       class="form-control"
                       [ngClass]="{'is-invalid': !code.valid && (tfaForm.submitted || !code.pristine)}"
                       [readonly]="processing">

                    <div class="invalid-feedback invalid-feedback--abs" *ngIf="code.errors">
                      {{ "PAGES.Settings.TFA.SecretKeySection.Errors.pattern" | translate }}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ol>

          <button class="btn btn-primary mr-3">Back</button>
          <button class="btn btn-primary ml-2" type="submit" [blur]="buttonBlur" [disabled]="processing || !code || !tfaForm.form.valid">
            Next
            <img *ngIf="processing" alt="Processing..." width="17" height="17" class="form-loader" src="assets/img/loader-black-bg-gold.gif">
          </button>
        </form>
      </ng-container>
    </div>

  </div>
</div>
