<!-- host: .page -->

<div class="buy-mntp-image"></div>

<div>
  <section class="page__section section info-section">
    <h2 class="section__title">{{ "PAGES.BuyMNTP.Heading" | translate }}</h2>

    <div class="my-4">
      <div>{{ "PAGES.BuyMNTP.Description" | translate }}</div>

      <div class="mt-3">
        <div class="text-heading">{{ "PAGES.BuyMNTP.Labels.Buy" | translate }}</div>

        <div class="mt-2">{{ "PAGES.BuyMNTP.BuyText" | translate }}</div>

        <div class="exchanges-items mt-3">
          <ul>
            <li class="bancor-exchange"><a href="https://www.bancor.network/token/MNTP" target="_blank">Bancor</a></li>
            <li class="yobit-exchange"><a href="https://yobit.io/ru/trade/MNTP/BTC#7D" target="_blank">Yobit</a></li>
            <li class="simex-exchange"><a href="https://simex.global/en/exchange/mntp/btc" target="_blank">Simex</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
